[2019-11-10 00:52] eschnett commented on #618
Ditto for `LinComb`.

[2019-11-10 00:53] WeiqunZhang commented on #618
sure. I have added those.  Will push to development branch in a few minutes.

[2019-11-10 00:53] eschnett commented on #618
!

That's quick...

[2019-11-10 01:01] WeiqunZhang commented on #618
Done.

[2019-11-11 17:13] WeiqunZhang commented on #611
I just added the following routine to the generic interface of `parallel_copy` in the development branch.

[code]

[2019-11-13 17:04] samueljdunham commented on #611
Great, thank you!

Best,
Sam

On Mon, Nov 11, 2019 at 12:13 PM WeiqunZhang <notifications@github.com>
wrote:

[2019-11-13 22:29] mamelara opened #620 "'D_DECL' was not declared in this scope and 'FOEXTRAP' was not declared in this scope"
I am trying to install AMReX on Cori using Spack and getting the following errors:

[code]

Talking with Axel, he suggests that these issues are upstream issues, so I decided to report it here.

[2019-11-13 22:29] mamelara commented on #620
this is version 19.08 and also with the develop version:

Here is the spack spec: `amrex@19.08%gcc+amrdata+eb+fortran+openmp+particles+sundials ^sundials +openmp`

[2019-11-13 23:12] WeiqunZhang commented on #620
I just pushed a fix.  Could you try the develop version?

[2019-11-14 19:45] mamelara commented on #620
[code]
working now, thanks!

[2019-11-15 01:32] #620 closed

[2019-11-15 01:33] #618 closed

[2019-11-15 01:33] #611 closed

[2019-11-15 01:33] #570 closed

[2019-11-15 01:34] #571 closed

[2019-11-15 01:35] #216 closed

[2019-11-19 17:01] bsrunnels opened #622 "AMReX GPU on nvidia-docker"
I'm testing AMReX GPU in a Docker container (nvidia-docker), and getting a segfault when running the `Tutorials/Basic/HelloWorld_C` example. The abbreviated backtrace is here:

     3: amrex::DeallocateRandomSeedDevArray()
     4: amrex::Initialize(...
     5: Util::Initialize(int, char**) at /alamo/src/Util/Util.cpp:91
     6: ./bin/test-3d-cuda-g++() [0x417c49]
     7: /lib/x86_64-linux-gnu/libc

[2019-11-19 17:07] zingale commented on #622
we recently had a similar issue with MAESTROeX and the problem was that the wrong CUDA architecture was being used.  This is controlled by the build system variable CUDA_ARCH.

[2019-11-19 17:38] bsrunnels commented on #622
@zingale Thanks for the quick response - that was the issue.
For reference, I was trying to run on Turing architecture. I needed to run with `CUDA_ARCH=75` *and*  nvcc 10.1 (I had been using 9.1).

[2019-11-19 17:38] #622 closed

[2019-11-20 21:51] bsrunnels opened #625 "GPU support for BoxArray with custom class"
I'm encountering an issue on GPU when creating `FabArray`s of `BaseFab`s that use a non-`int`, non-`amrex::Real` template argument. For instance the following line:

        amrex::FabArray<amrex::BaseFab<model_type> > mytmpmodel;
        mytmpmodel.define(grid,dm,1,2);

where `model_type` is a custom non-POD class. The define statement produces the runtime error

       amrex::Abort::0::CUDA erro

[2019-11-20 21:57] WeiqunZhang commented on #625
Could you give more detail on `model_type` and where it crashes?

[2019-11-20 22:07] bsrunnels commented on #625
Sure. Here's the definition of a representative `model_type` class: https://github.com/solidsuccs/alamo/blob/60f7ca790fb5cdb9295deaf71ed96a7090c8623d/src/Model/Solid/LinearElastic/Laplacian.H#L25

(Background: we store constitutive models in the `model_type` object. The link points to a Laplacian version, but we also have ones for isotropic materials, cubic materials, plastic materials, etc. These

[2019-11-27 06:08] darylbond opened #629 "runtime configured inflow boundary conditions"
I am wanting to implement inflow boundary conditions for my multi-fluid solver, based on the EB-CNS example, with runtime based definition of the condition. That is, define a boundary condition for each state vector, that is specific to that state, based on information passed in from the simulation configuration file. At this point I haven't been able to see how this can be done considering that w

[2019-11-27 06:37] emotheau commented on #629
Hi Daryl,
If I understand correctly, you want to specify values in ghost-cells from an input state vector.
When it comes to compressible flows, these values should be prescribed with great care.
I suggest that you look at our paper:
"Navier-Stokes Characteristic Boundary Conditions Using Ghost Cells", AIAA J., Vol. 55, No. 10 : pp. 3399-3408, 2017

This type of boundary condition is implemented in

[2019-11-27 10:37] darylbond commented on #629
@emotheau thanks for the links!

In PeleC, from what I can see, you essentially follow a two step procedure 1) use `bcnormal` to fill in preliminary values in the ghost cells, and then 2) call `impose_NSCBC` to get the final values. While I could implement a second pass strategy like this I would prefer to keep it all in the boundary function. Also, following this approach still gives no real flex

[2019-11-27 11:16] maikel commented on #629
I have done similar things via an embedded python interpreter in the past. But only for very simple, non-performance sensitive computations, as in 2D for example. Given, that you already expose a non-owning access to the data buffer of `amrex::FArrayBox` to Lua you could implement the abstract `amrex::PhysBCFunctBase` base class and call your Lua feedback function from within `amrex::PhysBCFunctBa

[2019-11-27 11:28] darylbond commented on #629
That is very helpful @maikel many thanks. I am trying to avoid using Lua for anything beyond initial configuration to avoid a performance penalty, but this definitely gives me some ideas.

[2019-11-27 15:11] WeiqunZhang commented on #629
You can probably do something like this using std::function.

[code]
When you set up the state descriptor, you do

[code]

Your generic bc function is something like

``void my_general_bc_fill(int prob_type, int state_type, int groupfill, // these \
are extra parameters.
                        // parameters below are the normal bc function paramete\
rs.
                        amrex::Real* a, int

[2019-11-27 17:19] drummerdoc commented on #629
I agree with Weiqun.  The simplest version of this is the ChemBndryFunc class used in PeleLM, which subclasses BndryFunc (and in fact is the reason we changed the bc filler functions to this functional form).  Here a new class instance can be created on the fly with its own constructor to store any info required and it just needs to supply the fill function signature that AMReX's fill patch is exp

[2019-11-27 19:54] WeiqunZhang commented on #629
My version is trying to do the same thing with std::bind as Marc's version.  But I actually like Marc's version better.  It was the reason we made `BndryFunc::operator()` virtual and I have forgot about it when I saw the issue this morning.  It's a function on steroid (functionoid).   https://isocpp.org/wiki/faq/pointers-to-members#functionoids

[2019-11-28 03:58] darylbond commented on #629
I have implemented a similar solution to ChemBndryFunc which seems to be working quite well. Huge thanks for all the suggestions.

The only tweak that would be nice is to make all member functions of `BndryFunc` virtual (in particular `hasFabVersion`) so that I can have full control. Essentially I have overridden the FAB version of `operator ()` such that I don't need a function pointer and just n

[2019-11-28 05:06] WeiqunZhang commented on #629
Sure.  We can do that.  I have made BndryFunc::RunOnGpu() and hasFabVersion() virtual in the development branch.

[2019-12-11 15:54] svater opened #633 "MPI_Allreduce error when operating with 2 MPI processes on one patch"
When I compile the code below with MPI, and run it with 2 MPI processes I get an MPI_Allreduce error. i think it has to do with the periodic b.c. setup, since changing it to Dirichlet I do not get the error. Running it with only one MPI process works, as well. While this is a minor issue IMO, you might want to fix this.

Here is the complete error:
[code]

[code]

[2019-12-11 16:41] WeiqunZhang commented on #633
What if you put a `{` after `amrex::Initialize(argc, argv);` and a `}` before `amrex::Finalize();`?

See the last paragraph of Section Initialize and Finalize (https://amrex-codes.github.io/amrex/docs_html/Basics.html#initialize-and-finalize).

[2019-12-11 16:45] WeiqunZhang commented on #633
OK.  The MPI error is not related to `{` and `}`.  I can reproduce what you see.

[2019-12-11 18:06] WeiqunZhang commented on #633
Thanks for reporting this bug that manifests itself when there are few grids than the number of processes and we need to fix the solvability (e.g., all periodic boundaries) and there is only one multigrid level (e.g., `setMaxCoarseningLevel(0)`).  I think it is fixed now in the development branch.

[2019-12-11 23:21] jrood-nrel commented on #580
I am going to close this since I don't want this issue to perpetually exist. This issue was mainly used to spark a discussion regarding our project. We are in the process of using incflo for our project and AMReX is aware of our work so we will continue to work with them on this.

[2019-12-11 23:21] #580 closed

[2019-12-11 23:27] jrood-nrel opened #634 "Using std parameter in GNU make"
I noticed `-std=c++14` was not being used even though I'm using GCC 7. Should some kind of "greater than" logic be used here?
https://github.com/AMReX-Codes/amrex/blob/3a302579f324d82feb230bf2d94e71b98c84cb51/Tools/GNUMake/comps/gnu.mak#L117-L122

[2019-12-11 23:29] jrood-nrel commented on #634
I can verify that if I use GCC 5, it includes `-std=c++14` for me.

[2019-12-11 23:31] WeiqunZhang commented on #634
By default, gcc >= 5 uses

[code]

[2019-12-12 08:59] svater commented on #633
Good, for me it also works now. Thanks a lot for dealing with my issue such fast!

[2019-12-12 08:59] #633 closed

[2019-12-12 11:40] nataraj2 opened #635 "EB geometry creation - amrex::Abort"
Hi,

For certain geometries, the code aborts at the line

amrex::Abort("Failed to build required coarse EB level "+std::to_string(ilev));

But if the geometry is slightly altered/shifted, it works fine. Can you please explain why this happens exactly, and how it can be avoided? Not able to figure out from the code. Thanks.

[2019-12-12 16:35] WeiqunZhang commented on #634
Want to be clear.  Without `-std`, gcc >= 6 itself will use gnu++14.  So the make system is essentially doing

[code]

[2019-12-12 16:45] WeiqunZhang commented on #635
Please take a look at Issue #608.

[2019-12-12 16:58] jrood-nrel commented on #634
I see. Thanks, I didn't realize this. I think I was seeing a problem in some code I was working with because it involved the GNU extensions being enabled due to using `gnu++14` by default. It's not a problem now that I understand it.

[2019-12-12 16:58] #634 closed

[2019-12-13 09:37] nataraj2 commented on #635
Yes. That clarifies things. Thanks, Weiqun.

[2019-12-13 09:37] #635 closed

[2019-12-30 23:59] levinem opened #641 "No rule to make target Src/Base/AMReX_CudaContainers.H in Make.unknown"
Is there a make rule missing to make the target Src/Base/AMReX_CudaContainers.H in Amrex/Tools/GNUMake/sites/Make.unknown
?
I was trying to build WarpX using the make instructions and I got this error:  "Depending ./Source/Parser/WarpXParser.cpp ...
Loading ../amrex/Tools/GNUMake/comps/gnu.mak...
Loading ../amrex/Tools/GNUMake/sites/Make.unknown...
make: *** No rule to make target '../amrex/Src/Ba

[2019-12-31 00:01] drummerdoc commented on #641
Silly but easy thing to try.... do `make real clean` and try again.  Often the dependencies get hosed up between git pull's

[2019-12-31 00:03] zingale commented on #641
I think that file was removed, so Marc's suggestion should fix things -- note `realclean` is one word

[2019-12-31 00:03] drummerdoc commented on #641
Dang auto-correct!!

[2019-12-31 00:04] zingale commented on #641
actually, that file was renamed, not removed:

[code]

[2019-12-31 02:42] levinem commented on #641
Thanks everyone!  Running `make realclean` before running `make -j 4` fixed the issue.

[2019-12-31 02:42] #641 closed

[2019-12-31 16:26] eschnett opened #642 "Want to communicate more that 2 GByte"
`AMReX_FabArrayCommI.H` contains this line:
[code]
On systems with 250 GByte of memory it's easy to want to communicate more than 2 GByte of data. This should either be possible, or AMReX should always check for this and abort.

[2019-12-31 16:32] eschnett commented on #642
[BigMPI](https://github.com/jeffhammond/BigMPI)?

[2019-12-31 17:15] atmyers commented on #642
We can also use unsigned long long as the type instead of char to send more than max int bytes.

[2019-12-31 19:51] WeiqunZhang commented on #642
As Andrew has said, we could use unsigned long long as the type for MPI.  That could make it able to communicate up to 16 GB.  We have been talking about this.  Since you have a need for it, we will try to do this quickly.

If it's important for you to be able to communicate more than 16 GB, let us know.

[2019-12-31 19:57] eschnett commented on #642
At the moment I have a work-around to use fewer OpenMP threads and more MPI processes per node, which avoids the issue. I don't know yet whether I'll need to communicate more than 16 GByte in the future; this depends on how many OpenMP threads people use.

[2020-01-01 17:06] WeiqunZhang commented on #642
I added support for up to 128 GB to the development branch. @eschnett   Could you run some tests to see if it works for you?  It uses unsigned long long if the size of the data is between 2GB and 16 GB, and a derived type of 8 unsigned long longs if the size is between 16 and 128 GB.  So it would be great if the tests can cover both ranges.

[2020-01-02 18:32] eschnett opened #644 "Cannot use OpenMP with flang"
Ubuntu ships with a Fortran compiler called `flang` (`flang-7`), based on LLVM. When I try to configure AMReX with it and enable OpenMP, I receive the following error:

[code]

It seems that AMReX does not know how about the OpenMP settings for `flang`.

This is how I configured AMReX:
[code]

This is with AMReX 20.01.

This is not a show-stopper for me since using `gfortran` works fine.

[2020-01-03 18:53] jrood-nrel opened #645 "MFIter Loops with OpenMP and GPU"
Hello. Looking at the GPU CNS tutorial and Incflo for examples, I would expect most, if not all MFIter loops to look similar in regards to decorations for OpenMP/tiling and GPU, but neither example project appears to be totally consistent. When researching the correct way to use MFIter loops for OpenMP/tiling, and GPU/no tiling, what is the correct way to decorate the MFIter loop? Or is there a me

[2020-01-03 18:56] maxpkatz commented on #645
[code]
You'll want that to be `mfi.tilebox()` for loops that tile. That's safe to use for the GPU loops as well, since the tilebox is equal to the validbox when you're not tiling.

[2020-01-03 18:57] jrood-nrel commented on #645
Ah! Thanks @maxpkatz I need to double check that in our loops in question. That's probably it, but I will confirm.

[2020-01-03 20:14] jrood-nrel commented on #645
Thanks @maxpkatz . That was our problem in all instances, although we were using `tilebox` in certain instances, we overlooked this.

[2020-01-03 20:14] #645 closed

[2020-01-03 21:00] eschnett commented on #642
I have run some tests, and things seem to be working for me. However, I don't know whether my tests covered both ranges.

Looking at the code, I see that you use integer division to calculate the number of elements to transfer. This truncates by default, so if the message size is not a multiple of the transfer data type size, some data will be missing.

[2020-01-03 21:04] WeiqunZhang commented on #642
Could you be more specific about which line?

On Fri, Jan 3, 2020, 1:00 PM Erik Schnetter <notifications@github.com>
wrote:

[2020-01-03 21:46] WeiqunZhang commented on #642
I see.  I think you are talking about lines like

https://github.com/AMReX-Codes/amrex/blob/development/Src/Base/AMReX_FabArrayCommI.H#L188

I think that's OK because send_size is guaranteed to be multiple of sizeof unsigned long long by

https://github.com/AMReX-Codes/amrex/blob/development/Src/Base/AMReX_FabArrayCommI.H#L124

[2020-01-03 22:38] eschnett commented on #642
Yes I was...

[2020-01-04 14:13] mic84 commented on #644
Hello @eschnett and thank you for letting us know about this.
I cannot reproduce the issue since I only have access to Ubuntu 16.04 and 18.04 which don't ship flang. However, I installed flang manually on my Ubuntu 18.04 workstation and cmake was able to correctly detected openmp flags and libraries for flang. I wonder if the flang binary in the Ubuntu repo is built with openMP support. Is there a

[2020-01-04 14:17] mic84 commented on #644
Also, could you try to pass the full path to flang executable instead of the symlink?

[2020-01-04 19:31] zingale opened #647 "compilation failure with PGI+CUDA on Summit due to recent change"
The change d7371e67c896df7bdc73e3fd17550cf0d0f8da3b makes Castro no longer compile on Summit using PGI 19.10 + CUDA 10.1.168, giving:
[code]

If I use the hash just before that change I can compile fine.

[2020-01-05 03:24] WeiqunZhang commented on #647
`constexpr void` is acutally a C++14 feature.  I just removed `constexpr`.  It should work now.

[2020-01-06 16:58] zingale commented on #647
yes, this is fixed now.  Thanks.

[2020-01-06 16:58] #647 closed

[2020-01-07 21:26] mattbement opened #651 "set verbosity to 0 from Fortran?"
What's the easiest way to set AMReX's verbosity to 0 when using the Fortran interface?

[2020-01-07 21:39] mattbement commented on #651
Nevermind - I see that it can be passed through the json file we are using for input.

[2020-01-07 21:39] #651 closed

[2020-01-15 15:32] marchdf opened #662 "cpp version of `get_neighbor_cells`?"
Hi, we are working on porting Fortran kernels to c++ for PeleC. We have some Fortran code that looks like:

[code]

Is there a c++ equivalent for `get_neighbor_cells_int(flag(i,j,k), nbr)`? `AMReX_EBCellFlag.H` seems to have capability that looks close to what we are looking for but not quite. Or am I missing something? Thanks!

[2020-01-15 16:36] WeiqunZhang commented on #662
You can do

[code]

[2020-01-15 17:33] marchdf commented on #662
Thanks!

[2020-01-15 17:33] #662 closed

[2020-01-17 00:05] ldowen opened #663 "RealVect changes break my compile"
https://github.com/AMReX-Codes/amrex/blob/4cbc0b076a70a299fd4d8b0c51c6c3d6aa34f2ce/Src/Base/AMReX_RealVect.H#L554

I get an error when compiling for lines 554 and 562 in AMReX_RealVect.H. The error is
[code]
Any ideas how I can fix this? @rporcu

[2020-01-17 00:19] WeiqunZhang commented on #663
I suspect the issue might be function `operator= (const RealVect& rhs)`.  Could you remove that function from .H and .cpp?  The compiler will generator it anyway.

[2020-01-17 00:30] ldowen commented on #663
That didn't seem to fix it.

[2020-01-17 00:33] rporcu commented on #663
I will fix it.
Thanks for letting me know and sorry for the issue.

Best,
Roberto

On Thu, Jan 16, 2020 at 4:19 PM WeiqunZhang <notifications@github.com>
wrote:

[2020-01-17 00:36] rporcu commented on #663
Can you try removing the constexpr qualifier from the constructor at line 60 in file AMReX_RealVect.H ?

[2020-01-17 00:47] zingale commented on #663
not sure if this is the same issue, but I get the compilation failure:
[code]
now.

[2020-01-17 00:47] ldowen commented on #663
It looks like possible solutions are either removing `constexpr` from lines 554 and 562 in AMReX_RealVect.H or adding `constexpr` to line 76 in AMReX_RealVect.H

[2020-01-17 02:12] WeiqunZhang commented on #663
@ldowen What compiler are you using?  I am trying to understand the issue.

[2020-01-17 02:15] WeiqunZhang commented on #663
It's clang.

[2020-01-17 02:22] WeiqunZhang commented on #663
I think I figured it out.  It's the copy constructor not being constexpr.

[2020-01-17 02:26] WeiqunZhang commented on #663
Could you try the latest development?

[2020-01-17 02:28] WeiqunZhang commented on #663
Instead of removing constexpr, I removed the copy-ctor to allow compiler generated copy-ctor.

[2020-01-17 02:42] zingale commented on #663
development works for me

[2020-01-17 18:34] eschnett opened #665 "Very small domains with periodic boundaries"
I set up a vertex-centred domain that is 1 cell wide (expecting 2 points) in the y and z directions, with a larger size (64 cells) in the x direction. I also used periodic boundaries. I found nans after synchronizing, which applies boundary conditions. There was no mesh refinement. I used 2 ghost zones.

Does AMReX have the special logic necessary to handle very small domains that might be smaller

[2020-01-17 18:47] WeiqunZhang commented on #665
We don't have special logic for that.  But I am surprised you need 5 cells.  I thought 2 cells might be enough.

[2020-01-17 19:32] eschnett commented on #665
I tried 5 cells first for "historic reasons" (the Einstein Toolkit parameter files specify grid sizes including ghost zones). It'll probably work with 2 cells as well.

[2020-01-17 19:36] WeiqunZhang commented on #665
It's not immediately clear to me how much work is needed to make AMReX's boundary functions work with a 2D slab in 3D space.  Let's keep this issue open.  I will give it a try at some point.

[2020-01-17 20:47] bsrunnels opened #666 "Private members in ParmParse"
Is it possible to make the private ParmParse members `protected` instead of `private`?  (Specifically `pushPrefix` and `popPrefix`). I am writing some customized `read` routines for classes and would like to be able to add sub-prefixes by creating a derived class that accesses `pushPrefix` and `popPrefix`.

[2020-01-17 20:58] WeiqunZhang commented on #666
Sure, we could do that.

But what does sub-prefix mean? `i0.i1.i2 = 1`?  You can already read that in 3 ways.

[code]

[code]

[code]

[2020-01-17 21:28] bsrunnels commented on #666
Say I have a class `Circle` with field `radius`. I would like to be able to do:

    Circle circle1, circle2;
    Derived::ParmParse pp("shapes");
    pp.queryclass("circle1",circle1);
    pp.queryclass("circle2",circle2);

corresponding to the input file

    shapes.circle1.radius = 1.0
    shapes.circle2.radius = 2.0

where the handling of `radius` and other `Circle`-specific parameters is handl

[2020-01-17 22:55] WeiqunZhang commented on #666
The change has been made in development.

[2020-01-20 14:31] bsrunnels commented on #666
Great, thanks.

[2020-01-20 14:31] #666 closed

[2020-01-20 16:47] ldowen commented on #663
I apologize for not getting back to you sooner. You are correct, it is clang, and the latest development branch worked for me! I will close this issue. Thank you for the help!

[2020-01-20 16:47] #663 closed

[2020-01-23 02:14] mrowan137 opened #668 "amrex::Abort depending on order of input parameters (in WarpX)"
I am getting an AMReX error depending on the order of saved fields in my WarpX input file (full input is copied below).  With this ordering,
```warpx.fields_to_plot = proc_number part_per_cell ```
the WarpX code runs without issue.  With this ordering,
```warpx.fields_to_plot = part_per_cell proc_number ```
the run gets to step 3 before this error appears:
[code]
\# Maximum number of time steps: c

[2020-01-23 19:22] atmyers commented on #668
Thanks for reporting this. I think it's likely a WarpX issue, so I'm going to migrate this over there.

[2020-01-23 19:22] #668 closed

[2020-01-24 01:18] ax3l opened #669 "Segfault in latest Dev"
@WeiqunZhang you probably saw it already in our chat, but commit c01fd4cc6c12d2e8bdd2b289b8d8d4c5206559f6 introduces a segfault in WarpX for all CI jobs and local builds.

[2020-01-24 01:21] ax3l commented on #644
Just to make sure: you are using CMake 3.10 or newer?
Ref.: https://gitlab.kitware.com/cmake/cmake/issues/17173

[2020-01-24 01:22] ax3l commented on #644
Update: oh yes, it's 3.16 I see

[2020-01-24 01:23] ax3l commented on #669
With debug symbols, the following assert is thrown:
[code]

[2020-01-24 03:01] WeiqunZhang commented on #669
It is fixed now.  Thanks!

[2020-01-24 03:43] ax3l commented on #669
Awesome, thanks a lot! :sparkles:

[2020-01-24 03:43] #669 closed

[2020-01-24 13:50] zingale opened #670 "Commit ebdf408d57cf97f6725c060e20f40ddf90ed0f6b causes segfaults in the nodal solver"
When running MAESTROeX with TEST=TRUE using commit ebdf408d57cf97f6725c060e20f40ddf90ed0f6b we get a segfault in the nodal solver.  If I run on the commit before this, 524089d5595e0b15a66fd3f2c9b95fd299a183d5, the code runs fine.

[2020-01-24 13:59] maikel commented on #670
This should have been fixed by cc51f21

[2020-01-24 14:02] zingale commented on #670
Nope, that does not fix it.

[2020-01-24 15:40] WeiqunZhang commented on #670
Yesterday I managed to break AMReX twice.  :) Anyway the nodal solver
should be fixed now.  For codes using multi-level composite EB nodal
solver, the answer might be different to solver tolerance.

On Fri, Jan 24, 2020, 6:03 AM Michael Zingale <notifications@github.com>
wrote:

[2020-01-24 15:41] zingale commented on #670
I'll run the suite.

[2020-01-24 15:48] zingale commented on #670
now it fails to compile :(

http://groot.astro.sunysb.edu/MAESTROeX/test-suite/gfortran/2020-01-24-002/RT.make.out

[2020-01-24 15:50] zingale commented on #670
this is the actual error:
[code]

[2020-01-24 16:23] WeiqunZhang commented on #670
Sorry.  Please try again.

[2020-01-24 16:25] zingale commented on #670
okay, it builds and runs now.

[2020-01-24 16:25] #670 closed

[2020-01-24 16:25] zingale commented on #670
thanks!

[2020-01-24 21:37] jrood-nrel opened #671 "BL_NO_FORT"
Hello. Is it possible to truly remove fortran from compilation in AMReX? I have tried using `BL_NO_FORT=TRUE` but it doesn't seem to exclude every fortran file and I have compilation errors with AMReX fortran `use` statements that still exist in AMReX code.

[2020-01-26 16:52] WeiqunZhang commented on #671
Which code is this?  We only made sure `Src/Base` works with `BL_NO_FORT` so that viz people can use it.  Which directories under `Src/` are you using?

[2020-01-27 09:47] maikel opened #675 "Warn against using OpenMP with MFIter(boxarray, distribution_map)"
The following code will (unpredictably) produce segmentation faults when using OpenMP, even in Debug mode, and is something is stumbled upon.

[code]

[2020-01-27 17:27] jrood-nrel commented on #671
This is for PeleC. We have removed all of our Fortran code, but we still need a Fortran compiler for AMReX. We include `Base Amr Boundary AmrCore`.

[2020-01-27 17:54] WeiqunZhang commented on #675
Thanks for reporting this.  The problem is `FabArray` constructor is not omp thread safe.  I made some changes in `weiqun/mfiter` branch.  Could you test it?  I tried to reproduce the segfault.  But since it's unpredictable, I was unable to get a segfault.

[2020-01-27 18:02] WeiqunZhang commented on #671
There are a few things in AMReX we need to do to get rid of Fortran compiler requirement for PeleC.  In `Src/Base/` AMReX still uses a Fortran function for fill ghost cells in fillpatch when not using GPU.  In `AmrCore`, some spatial interpolation routines have not been ported to C++/GPU.  However I don't think PeleC uses them.  So we can ifdef them out when `BL_NO_FORT` is TRUE.  In `Amr/`, there

[2020-01-28 16:59] harpolea opened #677 "Clang static analysis warnings"
We've been performing some static analysis using the Clang static analyzer on Castro and MAESTROeX, and a number of warnings from AMReX appear. Here are the warnings I get from compiling MAESTROeX with AMReX version da8cc8f77873a0a4d2f78c9e72cc1be0485befad

[code]

[2020-01-28 19:24] WeiqunZhang commented on #671
Which version of PeleC?  I want to test it.

[2020-01-28 19:47] WeiqunZhang commented on #671
Anyway, could you give `weiqun/bl_no_fort` branch a try?  You need to compile with `BL_NO_FORT=TRUE`.

[2020-01-28 20:17] jrood-nrel commented on #671
We are working in this repo and branch which has no fortran. https://github.com/jrood-nrel/PeleG/tree/eb

[2020-01-28 21:10] WeiqunZhang commented on #671
I tried in `PeleG/RegTests/HIP`.  It seems to work.  (Note that I just updated `weiqun/bl_no_fort` to avoid linking to gfortran.)

[2020-01-28 21:57] WeiqunZhang commented on #677
Thanks for reporting this.  I have checked all of them and haven't found real errors.  So we are going to ignore those warnings for now.

[2020-01-28 21:57] #677 closed

[2020-01-29 23:15] jrood-nrel commented on #671
Thanks! I just tried that branch and it works as expected. It's not critical that we avoid Fortran in AMReX, but it's nice to not require any Fortran compiler when building now.

[2020-01-29 23:23] WeiqunZhang commented on #671
OK.  Great.  I will merge this branch into development next week.

[2020-01-30 09:04] maikel commented on #675
This time I have not looked into the changes you made but with current develop (commit 132644d12847) I manage to reproduce the segfault as in

[code]

But the error does not occur on the branch `weiqun/mfiter` (commit f51c71492fb2)

[code]

Looks good to me!

[2020-01-30 15:53] jrood-nrel commented on #671
Sounds good!

[2020-01-30 15:53] #671 closed

[2020-01-31 14:12] cgilet opened #681 "Compilation error with USE_CUDA=TRUE"
When compiling incflo with USE_CUDA=TRUE, DEBUG=TRUE, I get these errors:

AMReX_EBMultiFabUtil.cpp -o tmp_build_dir/o/3d.gnu.DEBUG.CUDA.EB.EXE/AMReX_EBMultiFabUtil.o
../../amrex/Src/EB/AMReX_EBMultiFabUtil_3D_C.H(401): warning: calling a __host__ function from a __host__ __device__ function is not allowed

../../amrex/Src/EB/AMReX_EBMultiFabUtil_3D_C.H(581): warning: calling a __host__ function f

[2020-01-31 16:31] jmsexton03 commented on #681
When I compile on corigpu for the current development version of amrex & incflo in incflo/test I don't get the errors, although I do get the warnings:
[code]

[2020-01-31 16:38] WeiqunZhang commented on #681
It might have something to do with the version of CUDA and GCC.  But in any case, it is a bug.  Marc and I were aware of this.  But haven't got time to fix it.  The good news is if you are not using that particular *EB* function on GPU (which is actually case for now for everyone), you can compile with `DEBUG=FALSE`.

[2020-01-31 16:54] WeiqunZhang commented on #681
I was joking with Marc the other day saying I needed to remember to put on my todo list that I need to put this on my todo list.  Anyway I will stop my structured procrastination and fix it now.

[2020-01-31 17:39] WeiqunZhang commented on #681
Just pushed a fix.

[2020-01-31 18:38] cgilet commented on #681
Thanks!

[2020-01-31 18:38] #681 closed

[2020-02-03 17:22] WeiqunZhang commented on #675
This has been merged into `development` branch.

[2020-02-03 17:22] #675 closed

[2020-02-03 17:23] #642 closed

[2020-02-05 11:18] lucafedeli88 opened #685 "Random number generation from Poisson distribution"
Hi,
I work on WarpX, which is heavily based on AMReX.

Since I will soon need to draw random numbers from a Poisson distribution, I thought that it could be interesting to have this feature added into AMReX. Since Poisson distribution is already available both in cuRAND and STL,  nothing has to be implemented from scratch.

Do you think that it could be useful to have this feature in AMReX? In cas

[2020-02-06 15:17] kweide opened #688 "Enhanced FlashFluxRegister methods"
Thank you @WeiqunZhang for adding the `amrex_flash_fluxregister` Fortran type and its `store`, `communicate`, and `load` methods.

Based on several use cases for flux register functionality in FLASH code, I would like to request three  enhancements to the functionality (roughly in order of priority):
1. Additional arithmetic (in `load`)
2. Area factors (in `store` and `load`)
3. `isFluxDensity` fl

[2020-02-06 16:01] kweide commented on #688
### Remarks (maybe return to this later)
* __Motivation:__ All the things requested could be done with the existing `load` and `store` methods, by pre- and postprocessing the fluxes appropriately. The main reason for wanting new features inside those methods: the `FlashFluxRegister` code keeps track of where fine-coarse boundaries occur, and `amrex_flash_fluxregister` cleverly uses this informatio

[2020-02-06 16:44] kweide commented on #688
### 0. Existing Functionality
(Inner code shown is for the 2D case.)

`call flux_reg%store(flux=src, flo, fhi, igrd, dir[, sf])` with partial interface
[code]
leads to

[code]

`call flux_reg%load(flux=dest, flo, fhi, igrd, dir[, sf])` with partial interface
[code]
leads to (only at fine sides of f/c boundaries!)

[code]

[2020-02-06 17:01] kweide commented on #688
### 1. Additional Arithmetic in `load`
(Method `store` as above.)

`call flux_reg%load(flux=dest, flo, fhi, cflux, igrd, dir, sf_f, sf_c)` with partial interface
[code]
leads to (only at fine sides of f/c boundaries!)

[code]
(In the simplest use case we would call with `sf_f=+1.0, sf_c=-1.0`, but that will not always be the case.)

__Note__ `flux` and `cflux` dummy arrays have the same shape and

[2020-02-06 17:20] kweide commented on #688
### 2. Area Factors
(shown here on top of Additional Arithmetic enhancement)

`call flux_reg%store(flux=src, area, flo, fhi, igrd, dir[, sf])` with partial interface
[code]
leads to (Note: no factor of `0.5`!)

[code]
(Optional `sf` may not actually be needed.)

`call flux_reg%load(flux=dest, area, flo, fhi, cflux, igrd, dir, sf_f, sf_c)` with partial interface
[code]
leads to (only at fine sides

[2020-02-06 17:50] lucafedeli88 commented on #685
The feature has just been added.

[2020-02-06 17:50] #685 closed

[2020-02-06 19:43] WeiqunZhang commented on #688
Could you let know if the current `FlashFluxRegister` does what you need?

[2020-02-06 19:55] kweide commented on #688
### 3. isFluxDensity flags
(shown here on top of Additional Arithmetic and Area Factors enhancements)

`call flux_reg%store(flux=src, area, flo, fhi, isFluxDensity, igrd, dir[, sf])` with partial interface
[code]
leads to

[code]
(Optional `sf` may not actually be needed.)

`call flux_reg%load(flux=dest, area, flo, fhi, isFluxDensity, cflux, igrd, dir, sf_f, sf_c)` with partial interface
[code]
le

[2020-02-06 20:09] WeiqunZhang commented on #688
I assume `isFluxDensity(flo(3):fhi(3))` should read `isFluxDensity(flo(4):fhi(4))`.

[2020-02-06 20:10] kweide commented on #688
Yes, `isFluxDensity(flo(3):fhi(3))` should read
`isFluxDensity(flo(4):fhi(4))`, I will correct it.

[2020-02-06 20:15] WeiqunZhang commented on #688
How big is `fhi(4)-flo(4)+1` typically?  Is there an upper limit?

[2020-02-06 20:20] WeiqunZhang commented on #688
Can we pass `isFluxDensity` to the constructor of `FlashFluxRegister`?  Does it change?

[2020-02-06 20:24] kweide commented on #688
Regarding `fhi(4)-flo(4)+1` :
This will be the number of fluxes used by Hydro, including all those for variables that just get advected.  Btw. this should always be a compile-time constant in FLASH.

Typical sizes are "a handful" to "the number of nuclear species included + a handful." But I believe there are also plans to run FLASH in situations were NFLUXES would be hundreds-ish or more, which w

[2020-02-06 20:30] kweide commented on #688
For our Hydro purposes that I can think of, `isFluxDensity` should not change. It is possible that in some scheme the `load` call might want to use a different `isFluxDensity` from the `store`call; but I think we can disregard that possibility. So passing it to the `_build` routine should be fine.

[2020-02-06 20:43] WeiqunZhang commented on #688
Here is what I think now.  We don't need to pass `isFluxDensity`.  The first time FlashFluxRegister sees it, a copy will be stored.  For later calls, we will check if the passed argument agrees with the stored values.  This is mostly a premature optimization to avoid copying data to gpu.

[2020-02-06 21:03] kweide commented on #688
No objection. I don't really understand the GPU aspects well enough to comment more.

Testing of all this on our part may have to wait until next week, but I really appreciate your work.

[2020-02-07 00:10] pedro-ricardo opened #689 "SpeedUp evaluation"
Hello there, firstly congrats on this AMR framework you maintain. :+1:

I'm a senior programmer of an AMR code that's been in constant development for the last 14 years in Brazil. We have very well consolidated software to handle detailed CFD of compressible and incompressible flows with multiphase, combustion, fluid-structure interaction and particle dynamics.

Since it's beginning the code is me

[2020-02-09 14:47] zingale opened #691 "Commit f5524d5d23de01ccdf1f3e9bb0410be1845c2771 breaks Castro compilation"
Commit f5524d5d23de01ccdf1f3e9bb0410be1845c2771 generates lots of compilation errors:

[code]

[2020-02-09 14:47] zingale commented on #691
This is with 7.3 and GCC 9.2.1

[2020-02-09 15:13] WeiqunZhang commented on #691
This should be fixed now.

[2020-02-09 16:20] zingale commented on #691
yep.  Thanks!

[2020-02-09 16:20] #691 closed

[2020-02-09 16:28] msussman42 opened #692 "For December version of AMReX "Base" code, need to flush the TileArrayCache,FB, and CP otherwise problems ..."
I put sanity checks into my code everywhere there is a "MFIter" loop.  The sanity check verifies that
mf.boxArray().d_numPts() equals the sum over all the distinct MPI nodes, and all the OMP threads, of mfi.tilebox().d_numPts().

I found for a simple test, not using MPI, but using 4 OMP threads, that the sanity check failed after 6727431430 calls to MFIter (note, I did not put the sanity check in

[2020-02-10 16:40] asalmgren commented on #689
Hi Pedro, and welcome to the AMReX github!   We have a number of tests (in the Tutorials folder) that you can run and play with to measure the parallel efficiency.  As I'm sure you know well, the parallel performance can be very sensitive to how you set up the study.    AMReX can obviously do the operations you talk about.  What we call MLMG is only one part of the AMReX framework -- to us that re

[2020-02-10 18:03] ldowen opened #693 "Issues with 2D particle visualization using ParaView"
I have issues when I try to visualize 2D particle solutions in ParaView 5.7.0. It seems to jumble the positions around and moves particles into the 3rd dimension. Has anyone else gotten this to work?

[2020-02-10 18:05] ldowen commented on #693
@atmyers @asalmgren Do you have any ideas?

[2020-02-10 18:12] asalmgren commented on #693
I believe you need to write the particle data as if they are in 3d...

On Mon, Feb 10, 2020 at 10:05 AM ldowen <notifications@github.com> wrote:

--
Ann Almgren
Senior Scientist; CCSE Group Lead

[2020-02-10 19:37] WeiqunZhang commented on #692
In principle, one should not need to call flush.  Maybe some resources are not properly released.  Instead of calling flush every step, could you try the following and let use know what you see?

[code]

The cache sizes should stay stable after some point.  If they keep growing, we need to figure out why.

[2020-02-10 21:50] pedro-ricardo commented on #689
Thank you for the quick response, and yes I was referring to multi-level multigrid

I'm already running tutorials and my question on "_how did you measured the parallel efficiency_" was about a standard configuration in witch you already have some results to expect (like a SpeedUp curve).

I'm sorry if it looks obvious, but in our experience just naively adding more processes in a case setup may p

[2020-02-10 22:24] zingale commented on #689
Hi Pedro, I think Ann's suggestion of the tutorials is the way to go if you want to just isolate a solver.  Regarding how you design a scaling problem, I think it is as much art as science.  If you want to see some examples of scaling with problems that are dominated the MLMG solver in AMReX, we've published some here:

1. https://ui.adsabs.harvard.edu/abs/2019ApJ...887..212F

   That's our low Ma

[2020-02-11 17:47] msussman42 commented on #692
Dear Dr. Weiqun Zhang,
I did the test.  Please find below what was observed.  Note: DEBUG=FALSE,
USE_MPI=FALSE, USE_OMP=TRUE,
USE_ASSERTION=TRUE, PROFILE=FALSE, MEM_PROFILE=FALSE, DIM=2
Mark
--------------------------------------------------------------------------------------------------
after the first time step:
### FabArray ###
    tot # of builds       : 63053
    max # of FabArrays    : 403

[2020-02-11 18:04] WeiqunZhang commented on #692
I don't see any obvious problems.  If you let me know how to run your test, I am happy to take a look.

[2020-02-11 22:24] marchdf opened #694 "EB functionality on the GPU"
Hi, @jrood-nrel and I are running into a couple EB issues on the GPU and hoping to get some help. We are working on this branch: https://github.com/jrood-nrel/PeleG/tree/gpu_fixes

1. It seems like `amrex_eb_get_reredistribution_threshold ()` can't be called from device
2. This seems to work fine when compiling for CPU, but not for GPU:
[code]
the compiler error is:
[code]

Thanks!

[2020-02-11 23:28] WeiqunZhang commented on #694
1. You are correct that it cannot be used on device.  What you can do is call it on the host and capture its value in device lambda.

2. The various versions of reduction functions rely on `enable_if`.  But unfortunately it has some limitation when dealing with CUDA device lambda.  So we decided to removed some variants for GPU.  You should be able to do the following instead,

[code]

Note that y

[2020-02-12 00:08] pedro-ricardo commented on #689
Thanks, I'll take a look in those setups.
I'll close this now but maybe reopen the issue in the case I have anything else to ask about.

[2020-02-12 02:59] msussman42 commented on #692
Dear Weiqun,
Thank you for agreeing to look into this for me.

On a linux machine for example (with g++, gfortran, etc), one should be
able to run the test as follows:
1. git clone git@github.com:msussman42/amrex_implicit_interfaces.git
2. cd amrex_implicit_interfaces/NS_fluids_lib
3. make
4. cd run2d
5. mkdir BCG_periodic_patch
6. cd BCG_periodic_patch
7. cp ../inputs.BCG_periodic_patch .
8. expo

[2020-02-12 03:22] marchdf commented on #694
Thanks @WeiqunZhang for those suggestions! Two other followups:

1. On closer look into the above `2`, really what was going on is that the flags were passed in just to get the type and then just return a default (large) dt if the flag type was `covered`. So the above code could have just read:
[code]
and in `pc_estdt_hydro` it would have
[code]
It's my understanding given your comment that this b

[2020-02-12 04:52] WeiqunZhang commented on #694
1. `EBCellFlagFab::getType (const Box& bx)` is a host only function that cannot be called inside device lambda.  But you can do the following in `pc_estdt_hydro`.

[code]

2. Maybe there are some memory allocated before the kernel launch and get freed before the device code finishes using it.  You might want to look for places reported by like `git grep "FArrayBox "`, `git grep "BaseFab<amrex::Rea

[2020-02-12 16:32] marchdf commented on #694
Thanks again @WeiqunZhang , I think we should be good to go now with your suggestions.

2. Let me see if I can narrow this down a bit more for you before taking up more of your time. But the basic idea is that if we just run the diffusion part of the code (https://github.com/jrood-nrel/PeleG/blob/gpu_fixes/Source/Diffusion.cpp, with, for example the TG case and `pelec.do_hydro=0`) with and without

[2020-02-12 16:35] maxpkatz commented on #694
cuda-memcheck wouldn't tell you about this sort of race condition, in the same way that valgrind wouldn't tell you about CPU thread race conditions. (cuda-memcheck does have a racecheck tool, but that is for accesses to shared memory only.) It's entirely possible to have a race condition that results from, e.g., incorrect use of elixirs that the tool doesn't tell you about, because we use a memory

[2020-02-12 16:48] marchdf commented on #694
Thanks for clarifying that. Yes, our suspicion is a race condition. I guess, can you clarify what you mean by " It's entirely possible to have a race condition that results from, e.g., incorrect use of elixirs". From the documentation, we were under the impression that any `FArrayBox` that we create inside an MFIter loop, we should elixir to ensure that it doesn't go out of scope. But in doing tha

[2020-02-12 16:57] maxpkatz commented on #694
Yes, that is a correct statement. What I meant is that it's not especially hard to make mistakes using elixirs, and unfortunately we don't have a tool to help you find them. For example, you might have forgotten an elixir, or accidentally let it go out of scope too early. The code you linked is a little too long for me to inspect by eye, but if CUDA_LAUNCH_BLOCKING gives you different results, the

[2020-02-12 17:01] WeiqunZhang commented on #694
@maxpkatz is correct.

[2020-02-12 17:10] marchdf commented on #694
Interesting. We don't actually use `flatn` I think in that bit of code but there might be other spots we missed! We will dig. Thanks!

[2020-02-12 17:15] maxpkatz commented on #694
While you look at that, be careful not to make the mistake of

[code]

because the memory is no longer required to be valid after the elixir goes out of scope.

[2020-02-12 18:25] drummerdoc commented on #694
Maybe my simpleton perspective helps?   We used to do this
[code]
Now we do this
[code]
In this usage, the Elixer steals control of the data pointer from tmp so that when tmp goes out of scope the data pointer is not deleted.  The MFIter destructor calls the Elixer destructor and deletes the memory pointed to by the data pointer.  If you mix the first and second usages, e.g., you'd get into troubl

[2020-02-12 18:25] marchdf commented on #694
Ok yeah good point. I am finding a bunch of places where we Elixir before the resize.  In your previous example, would it be ok to:
[code]

And just to make sure, are these equivalent?
[code]

[code]

[2020-02-12 18:28] WeiqunZhang commented on #694
You could actually do
[code]
When resize is called on non-owning FArrayBox, it will allocate new memory.

[2020-02-12 18:29] drummerdoc commented on #694
Ahh, yes. Sorry

[2020-02-12 22:40] marchdf commented on #694
So we can get rid of the race condition by placing `amrex::Gpu::synchronize();` right before `MOLSrcTerm[mfi].copy(Dfab, vbox, 0, vbox, 0, NVAR);` (https://github.com/jrood-nrel/PeleG/blob/master/Source/Diffusion.cpp#L565). If we move the synchronize right after L566, then we get the race condition again. Maybe this can help you figure out what we are doing wrong?

[2020-02-12 22:52] WeiqunZhang commented on #694
`MOLSrcTerm[mfi].copy(Dfab, vbox, 0, vbox, 0, NVAR);` is not run on gpu.  That's why.

[2020-02-12 22:55] WeiqunZhang commented on #694
I suggest you write your kernel to do it on gpu.  Ideally, we would like to control where to run for `BaseFab::copy`, and we tried to implement it.  But due to some limitations, we failed.

[2020-02-12 23:19] WeiqunZhang commented on #694
More specifically, `BaseFab::copy` is a host device function.  We are not allowed to launch CUDA kernel in a host device function. https://docs.nvidia.com/cuda/cuda-c-programming-guide/index.html#cuda-arch-macro  We would have to make a host only function.  Then we could take a parameter to control where to run and run on gpu by default.  But not sure if that's a good idea.  Maybe it is.  It might

[2020-02-13 03:22] marchdf commented on #694
Thanks for explaining that @WeiqunZhang. I guess I have a follow up then: is `BaseFab::linComb` OK to run on the GPU? `setVal` is safe according to the documentation. Is there an easy way for me to see which are/are not safe?

[2020-02-13 05:28] WeiqunZhang commented on #694
Both `BaseFab::linComb` and `BaseFab::setVal` are `__host__ __device__` function.  If they are called on the host, they will not run on gpu.

Basically all BaseFab member functions are host device functions that do not have kernel launch inside.  Most MultiFab member functions launch gpu kernels if it makes sense.

[2020-02-13 13:51] maxpkatz commented on #694
In the past when we looked at this the goal was to maintain the __device__ functionality but let's revisit that. I am having trouble coming up with a use case for the __device__ functionality. If I'm already in a kernel, typically an AMReX parallel_for, and I want to do an axpy or a setVal, I'm just going to do that directly for clarity, rather than call a BaseFab function, which introduces some o

[2020-02-13 14:22] marchdf commented on #694
Ok I think that makes sense to me know. I don't know about your wider use-case questions @maxpkatz but I see the benefit for our application. In our MFIter loop, we have things like

[code]
which I now understand will actually run on the host and not the device, as I previously thought/expected. I can easily write my own kernels for these but I think you have a good point @maxpkatz .

As an aside,

[2020-02-13 21:00] WeiqunZhang commented on #694
My inclination is to make BaseFab functions host __only__ and launch kernels by default.  The advantage is this avoids a lot of nasty bugs that are veru hard to track down.  The downside is minor.  It has no effects on CPU codes.  If BaseFab functions are used in device code, it wont' compile.  At most an housr is needed for an application code to fix if it's broken by the change.  Raising your ob

[2020-02-13 22:52] marchdf commented on #694
@WeiqunZhang I like this idea. That `copy` we had in the code definitely cost us some grief since we didn't expect that behavior. So this takes care of that problem. Let me know once you have done it and I will revert my hacks to make things work on our end.

Thanks for all your help, I am going to close this issue since most issues raised here have been addressed.

[2020-02-13 22:52] #694 closed

[2020-02-16 21:22] maikel opened #697 "MFIter::grownnodaltilebox gives wrong tilebox"
The following test case

[code]

produces the output

[code]

This seems wrong to me. For example, I expected for the first tile

[code]

instead of

[code]

[2020-02-16 21:27] maikel commented on #697
A discussion on slack has shown, that the current behaviour is intended.

[2020-02-16 21:27] #697 closed

[2020-02-17 15:48] bsrunnels opened #698 "Comparison of boxlib files"
Is there a method or tool for doing a comparison of two boxlib files for regression testing? We currently do a straight diff, which is obviously highly sensitive to any minor change such as running with a different number of MPI tasks. We'd like to be able to do a proper error norm but want to avoid re-inventing the wheel if possible.

[2020-02-17 15:51] zingale commented on #698
For the regression test suite, we use fcompare, which does computes the norm of the error for each field on a level-by-level basis:
https://github.com/AMReX-Codes/amrex/tree/master/Tools/Plotfile

In the regression test suite, we "fail" a test if there are any diffs.

[2020-02-17 15:52] asalmgren commented on #698
I think you may be looking for "fcompare" which diffs two multifabs ...
that's what we use for regression testing.

See amrex/Tools/Plotfile/fcompare.cpp

On Mon, Feb 17, 2020 at 7:48 AM Brandon Runnels <notifications@github.com>
wrote:

--
Ann Almgren
Senior Scientist; CCSE Group Lead

[2020-02-17 15:54] maxpkatz commented on #698
Regarding your point about number of MPI ranks, while we don't normally vary that in regression testing, fcompare can indeed also be used to compare plotfiles with different gridding (using the -a option).

[2020-02-17 15:59] asalmgren commented on #698
As long as the same region is covered though??

On Mon, Feb 17, 2020 at 7:54 AM Max Katz <notifications@github.com> wrote:

--
Ann Almgren
Senior Scientist; CCSE Group Lead

[2020-02-17 16:04] bsrunnels commented on #698
@asalmgren  thanks - that makes sense. I'd poked around quite a bit in the amrex regression testing suite, but didn't realize that `fcompare` was boxlib-specific.  @maxpkatz  thanks - and yes, we don't typically vary MPI ranks during reg testing either, but we do when checking serial/parallel consistency.

[2020-02-17 16:04] #698 closed

[2020-02-18 14:17] msussman42 commented on #692
Dear Weiqun,
Just to let you know, we have to continually modify the code in the
amrex_implicit_interfaces repository, I believe that all the conditions for
the "test with breakdown" are still identical, but not 100 percent sure.
Please use the version from Feb 11 closest to 9:58pm (est) when checking
what causes the discrepancy.

Have you had a chance to look into this further? Is there some othe

[2020-02-18 17:42] WeiqunZhang commented on #692
I am able to compile and run.  Here is what I have found so far.  This is most likely unrelated to the issue you reported.  I tried to compile it with both gcc 5.4.0 and clang 9.0.1.  For gcc, it doesn't like `#include <math.h>` in `Zeyu_Matix.cpp` and I have to change it to `#include <cmath>`.  For clang, I have to add `using std::abs`, otherwise there are a lot of warnings like

[code]

I think

[2020-02-18 18:14] msussman42 commented on #692
Thank you Weiqun,
I was not aware of those "abs" problems - they must be compiler version
specific.  I will fix them, then rerun the test with/without the
cache-flush to make 100 percent sure the problem is unrelated.
Mark

On Tue, Feb 18, 2020 at 12:42 PM WeiqunZhang <notifications@github.com>
wrote:

[2020-02-19 17:16] WeiqunZhang commented on #688
`isFluxDensity` has been implemented in `FlashFluxRegister` branch.

[2020-02-19 18:55] kweide commented on #688
Thank you!  I have started running some tests in FLASH code using the previous version, `AMREX_GIT_VERSION=20.02-266-g2d4ad21e3691` (2d4ad21e3691). Maybe we can keep this issue open for tracking any successes or failures.

[2020-02-19 21:39] WeiqunZhang commented on #692
I can reproduce the error with `abs` fixed.  So far I don't have any clues why the assertion fails.  But I am still looking for it.

[2020-02-19 22:29] kweide commented on #688
Found as problem in FLASH code with FlashFluxRegister from commit 2d4ad21e3691; I believe (but have not verified) that this is still present in the latest code version.

Test problem is 2D Sod with 6 levels AMR. Code initialized runs successfully for ~170 time steps. The grid changes 10 times during that time, blocks are both created and destroyed at various times, no problem. Then, after the grid

[2020-02-19 22:59] msussman42 commented on #692
Thank you Weiqun.
Mark

On Wed, Feb 19, 2020 at 4:39 PM WeiqunZhang <notifications@github.com>
wrote:

[2020-02-19 23:23] WeiqunZhang commented on #688
Could you try the latest `FlashFluxRegister` branch and let me if it's fixed?

[2020-02-20 22:28] kweide commented on #688
Started testing now (but not yet additional features of area factors and isFluxDensity). Looks good so far. In particular, the runtime failures I reported above are gone.

Thank you!

[2020-02-20 22:44] marchdf opened #699 "Non deterministic reflux on GPU?"
@jrood-nrel and I have been wrestling with a problem on the GPU using AMR. Using the following branch https://github.com/jrood-nrel/PeleG/tree/problem and the TG problem compiled on the GPU (using this input file (it has 2 levels): https://github.com/jrood-nrel/PeleG/blob/problem/Exec/RegTests/TG/inputs_3d).

Basically running the problem twice on the GPU and using fcompare on the plot file reveal

[2020-02-20 23:10] WeiqunZhang commented on #699
It's not surprising that the reflux is non-deterministic, and there is probably nothing we can do.  If you look at `amrex/Src/EB/AMReX_EBFluxRegister_3D_C.H`, you can see a lot of `HostDevice::Atomic::Add(...)`.

[2020-02-20 23:41] rajeeja commented on #688
It seems to work. Thanks!

[2020-02-20 23:42] WeiqunZhang commented on #688
Great.  I will merge it into development branch.

[2020-02-21 02:48] marchdf commented on #699
Ok thanks for clarifying!

[2020-02-21 02:48] #699 closed

[2020-02-23 15:22] WeiqunZhang commented on #692
Dear Mark,

I think this is now fixed in these two commits., 51565fcf416bcfc348 and 0e9ba3c2f3855492.  The problem was integer overflow.  Didn't anticipate cached tile arrays could be used so many times.

Thanks for reporting the bug!

Weiqun

[2020-02-23 17:16] msussman42 commented on #692
Thank you Weiqun! I feel honored and humbled to have succeeded in using
cached tile arrays more than any other human (up until this point). :-)
Mark

On Sun, Feb 23, 2020 at 10:22 AM WeiqunZhang <notifications@github.com>
wrote:

[2020-02-26 04:27] M-Badri opened #703 "physical location from an array index (Fortran)"
The question, which might be superficial since I am quite a newbie in AMRex, is about the "amrex_geometry_get_ploc" function in  [AMReX_geometry_mod.F90] (https://github.com/AMReX-Codes/amrex/blob/master/Src/F_Interfaces/Base/AMReX_geometry_mod.F90)".

As I understand, for a single level  2D `geometry([0.0, 0.0]:[1.0, 1.0])` over a single `box([1,1]:[ncell, necell])`  when this function is called

[2020-02-26 07:14] wattrg opened #704 "Multiple embedded boundaries"
I am wanting to have two different embedded boundaries which have different boundary conditions applied to them. I'm working on a code based on the EB/CNS example. I'm imagining some sort of a flag stored with the other EB data which can be used to tell whether the boundary condition for each cell should be boundary condition A or B.

If anyone has any ideas/advice on how to do this I'd greatly ap

[2020-02-26 08:26] maikel commented on #704
Do you have *one* domain in which two different types of boundaries are embed to? If this is true you could generate your EB information as the union of the boundaries. As a second step I would introduce a mask telling you which sort of boundary condition should be applied to which EB. Would this suffice your need?

AMReX allows you to manage multiple index spaces, which might be helpful if you ha

[2020-02-26 09:17] GumpXiaoli opened #706 "GPU launch: How to control the number of GPU threads in each iteration of MFIter."
As title.

[2020-02-26 16:34] nncarlson opened #708 "[Fortran] amrex_multifab_build argument intent"
Is there a reason the `mf` argument to `amrex_multifab_build` is `intent(inout)` and not `intent(out)`? Unless I'm missing something, it seems to me it ought to be the latter.  The difference being that `mf` will be finalized on entry.  As it is now, I must manually call `amrex_multifab_destroy` before calling build to avoid a memory leak.

[2020-02-26 17:59] WeiqunZhang commented on #708
It was intentional.  See 960e1b0e30117172612dee5282e60e1050351d41.  I don't know if the problem still exist in the latest gfortran.  I also don't know if it was sufficient to only modify the intent of `mfiter`.  But the mood at that time was we could not trust Fortran compilers.

[2020-02-26 18:12] WeiqunZhang commented on #706
What are you trying to do exactly?  You could use `<<<>>>` to launch your own kernels and have full control.  If you use `amex::ParallelFor`, we control the execution configuration.  `amrex::launch` is something in between.  But it's just a wrapper around kernel launch using `<<<>>>`.  You will have to use thread id etc. to figure out what each thread should work one.

[2020-02-26 18:28] WeiqunZhang commented on #703
It may not do what one might expect.  But it's not a bug.  It gives you the physical coordinates of at given nodal index.  It is used to get the lower left corner of a Box.  See for example, https://github.com/AMReX-Codes/amrex/blob/master/Tutorials/Amr/Advection_F/Source/fillpatch_mod.F90#L90

Also note the index of the domain starts with zero not one.

[2020-02-27 00:50] M-Badri commented on #703
Thank you so much. I was so biased towards the cell-center calculation that I did not notice its node-base attitude. It would be particularly helpful if one knows that some calculations may be done node-base.

[2020-02-27 00:51] #703 closed

[2020-02-27 19:03] marchdf opened #717 "More non-deterministic flux registers?"
Hey again,

I am seeing large, non-deterministic difference between a CPU and GPU run of one of our PeleC cases on the coarse cells near the C-F boundary, e.g. picture of the fcompare diff of z_velocity:
![Screen Shot 2020-02-27 at 11 21 56 AM](https://user-images.githubusercontent.com/15038415/75473991-6206ec80-5953-11ea-88a1-34a29c31747f.png)

The problem goes away if I comment out the following

[2020-02-28 00:40] wattrg commented on #704
Yes, I have one domain where I want different boundaries, so I also don't think that multiple index spaces is what I'm looking for. I think the mask idea is going to be what I'm after! Thanks for the help!

[2020-02-28 00:40] #704 closed

[2020-02-28 12:16] timrlaw opened #719 "Cray Compilers"
Hello there,

We have an AMReX-based code that we would like to be able to build with the Cray compiler, however it looks like AMReX has some issues with this at present. The CMake build system explicitly rejects Cray:

https://github.com/AMReX-Codes/amrex/commit/ee4ddb0f4e7e9f0eca5400c60141b087fca93326#diff-e8b1616974e76f0cbc95816d37c69ab8R47

Disabling this check allows the library to build with

[2020-02-28 17:16] WeiqunZhang commented on #719
@mic84 can answer why Cray is not allowed in the CMake build system.  However, I can successfully compile with CCE 9.1.0 on Cori using the GNU make system.  And I am able to run with I/O errors.  I am more interested the I/O errors, and if it's our source code problem, how we can fix it.  Could you tell us more details?

[2020-02-28 17:34] WeiqunZhang commented on #717
I think I found the problem.  There are some add operations must be atomic.  We omp atomic for CPU.  But for GPU, we use atomicAdd for the EB functions, but forgot to update the regular version.  I will push a fix in a minute.  You are still expected to see non-deterministic behavior.  But the difference should be much smaller.

[2020-02-28 17:46] WeiqunZhang commented on #717
Could you try the latest development branch of AMReX?

[2020-02-28 18:30] marchdf commented on #717
Yes, I will give it a shot soon.

[2020-02-28 21:03] timrlaw commented on #719
Hi @WeiqunZhang, thanks for taking the time to look at this.

I've dug into it a bit more and it turns out the I/O errors were due to a rogue linker flag in our project (`-static-libstdc++`), my bad for not catching that before. Our code also does run when using the GNUmake build system with Cray.

However the CMake-built version crashes only slightly later than before, with:
[code]

I suspect thi

[2020-02-28 21:11] jrood-nrel opened #720 "Deallocating Gpu::ManagedVector"
Hello, I am having a problem when using `Gpu::ManagedVector`. I have 3 managed vectors in `prob.cpp` seen here https://github.com/jrood-nrel/PeleG/blob/8753c0a0e1c0fb1f1fbb118b40a9e0f3c6d2128b/Exec/RegTests/PMF/prob_parm.H#L18 . Running on the CPU is fine, but when running with CUDA, during program exit, it appears I enter an infinite recursion where the managed vectors are trying to be deallocate

[2020-02-28 21:12] marchdf commented on #717
Hi @WeiqunZhang , thank you for looking into this. Unfortunately, I am still getting larger than expected diffs:
![Screen Shot 2020-02-28 at 2 10 35 PM](https://user-images.githubusercontent.com/15038415/75587635-2001a780-5a34-11ea-888b-cd3b9d6e72c2.png)

I triple checked everything to make sure I was running the right commit of AMReX (commit: `b63b147984b2d7b822`). So maybe on top of the race con

[2020-02-28 21:17] atmyers commented on #720
It looks like maybe it's trying to deallocate the Vectors after `amrex::Finalize()` has been called and the memory arenas have been cleared. If that's the case, would it be possible to restructure this so that the Vectors go out of scope before this happens?

[2020-02-28 21:28] jrood-nrel commented on #720
Thanks. I've definitely tried to take these out of global, but I need them available for `bcnormal` the entirety of the program. I can't really pass them through to all the functions I need them in like `bcnormal` since these vectors are problem-specific. I thought AsyncArray was going to be the right solution here, but I couldn't get it to work as expected without using ManagedVector. I'm basical

[2020-02-28 21:43] WeiqunZhang commented on #720
Use `ManagedVector<amrex::Real> * pmf_X` instead of `ManagedVector<amrex::Real> pmf_X`.  Delete the pointer before `amrex::Finalize()`.

[2020-02-28 21:47] WeiqunZhang commented on #720
Or use `amrex::Real* h_pmf_X`.  After `h_pmf_X` is allocated, use `cudaMemcpyToSymbol` or launch a single thread kernel to set `d_pmf_X`.  Delete the memory before `amrex::Finalize()`.

[2020-02-28 21:51] atmyers commented on #720
For an example of the latter, you can see what we do with `d_states_h_ptr` and `d_states_d_ptr` in `Src/Base/AMReX_Random.cpp`

[2020-02-28 21:51] WeiqunZhang commented on #719
@mic84 told me that in the past there were some issues that cray compiler failed to compile our code, so it was disabled.  He is working on enable it again.

[2020-02-28 21:52] timrlaw commented on #719
Okay, thanks both!

[2020-02-28 21:52] #719 closed

[2020-02-28 21:56] WeiqunZhang commented on #717
It seems that it's on one side but not the other.  Do you see similar pattern on CPU?

[2020-02-28 22:02] marchdf commented on #717
So it definitely feels like that. But this is actually a **diff** from fcompare of z_velocity between the CPU and GPU version. The actually z_velocity field on the GPU looks like this
![Screen Shot 2020-02-28 at 3 01 06 PM](https://user-images.githubusercontent.com/15038415/75590710-32331400-5a3b-11ea-8e9e-e17ee3657395.png)

[2020-02-28 22:25] mic84 commented on #719
@timrlaw I re-enabled Cray compiler in CMake. Please try the amrex development branch and let me know if you have problems with it. Thanks.

[2020-02-29 00:04] bsrunnels opened #722 "Templating FillPatchUtil functions"
Many of the utility functions used for regridding in `AMReX_FillPatchUtil.cpp` (`InterpFromCoarseLevel`, `InterpFromCoarseLevel`, etc) are implemented for `MultiFab`s. We fairly extensively use `FabArray`s of `BaseFab<T>` for a variety of `T` types (vectors, material models, etc., all of which have the appropriate arithmetic operators.)

However, without the Fill Patch routines, all of our custom

[2020-02-29 00:07] jrood-nrel commented on #720
Thanks! I was able to solve this with Weiqun's first suggestion. I couldn't get the second suggestion to work however.

[2020-02-29 00:07] #720 closed

[2020-02-29 16:22] WeiqunZhang commented on #722
Yes, I think it's doable.  I will give it a try next week.

[2020-03-02 11:12] lucaparisi91 opened #723 "multi-level laplacian, interpolation at coarse-fine interface"
I was trying to solve the  heat equation with different levels. However I am finding difficult to accurately describe the Laplacian operator at coarse-fine boundaries. At the fine-level, ghost cells can be filled by interpolation from the coarser level. However the interpolation should be performed with care to keep the discretization error at least at first order. Interpolation should be quadrati

[2020-03-02 15:32] asalmgren commented on #723
The cell-centered solver in AMReX does in fact do what you were talking
about.   Read section 3.6 of this paper:

*A. S. Almgren, J. B. Bell, P. Colella, L. H. Howell, and M. L. Welcome, "A
Conservative Adaptive Projection Method for the Variable Density
Incompressible Navier-Stokes Equations,"J. Comp. Phys., 142, pp. 1-46, 1998*

That describes the "level solves" but the current multillevel solve

[2020-03-02 19:00] timrlaw commented on #719
@mic84 Seems to be fine. I'll open a new issue if I find anything broken. Cheers.

[2020-03-03 12:46] lucaparisi91 commented on #723
Thanks for the answer. You are right, I could use the linear solver. I want to do explicit time stepping , but I could just use the apply method without actually have to solve the system.

[2020-03-03 12:46] #723 closed

[2020-03-04 15:27] lucafedeli88 opened #727 "`amrex::Random()` may have different intervals on CPUs and GPUs"
Hi,

I think that, `amrex::Random()` as implemented now may produce random numbers in [0,1) on CPUs and in (0,1] on GPUs. Of course extracting exactly the endpoint of an interval is extremely unlikely, but if it happens a code designed with one of these alternatives in mind could crash (e.g. I use `-log(amrex::Random() )` in `WarpX`)

`amrex::Random()` uses either `curand_uniform` or `std::uniform

[2020-03-04 18:31] atmyers commented on #727
Thanks for opening and fixing this Issue! Fixed in PR #726.

[2020-03-04 18:31] #727 closed

[2020-03-04 19:59] sdesai9 opened #730 "Using a cuda kernel directly in AMReX-Codes"
Hi,
Is there a way to use a cuda kernel written in a .cu file directly in AMReX-Codes (i.e. PeleC/PeleG)?

[2020-03-04 20:25] WeiqunZhang commented on #730
Will it work if you rename it to .cpp?

[2020-03-04 21:38] jrood-nrel opened #731 "CMake AMReX version error"
Hello, I am getting this error recently:
[code]
I think it is due to https://github.com/AMReX-Codes/amrex/commit/15c6c1f8a9fa10630bac0089a994bf8602aa9f03

[2020-03-04 23:13] mic84 commented on #731
Hi Jon,
thank you for reporting this. I tried to reproduce this bug by building amrex as a standalone library and  building amrex as a subproject -- I think the latter is the strategy you use.  However, I did not have any issue in both scenarios. Could you provide me with a minimal setup that triggers this error? Thanks.

[2020-03-04 23:15] jrood-nrel commented on #731
Sure. I will try to provide one tomorrow. In the meantime, I saw this with CMake 3.16.4 if that makes a difference.

[2020-03-04 23:31] mic84 commented on #731
Thanks. I just tried with CMake 3.16.2 but no luck so far.

[2020-03-04 23:41] sdesai9 commented on #730
I was able to compile the code successfully by changing .cu file to a .cpp file. However, when I try to call the cuda function, nothing happens. Is it because I am trying to call it inside a AMREX_GPU_HOST_DEVICE function? What would be the way forward?

[2020-03-04 23:44] drummerdoc commented on #730
I think you might need to elaborate a tiny bit. Can you paste in a code snippet that shows what you are trying to do?

[2020-03-04 23:48] sdesai9 commented on #730
Hi Marc,

Here's a snippet of the cuda function call:

AMREX_GPU_HOST_DEVICE
void run_gpu_getrates(double* T, double* P, double mw[], double* y, int NXNY, int NX, int NZ, int NXNYNZ, int step_stride, double wdot[])
{
    /*call singe kernel */
    assert(((NXNYNZ) % 32) == 0);
    dim3 grid((NXNYNZ)/128,1,1);
    dim3 block(128,1,1);
    gpu_getrates<<<grid,block>>>(T, P, mw, y, NXNY, NX, NZ, NXNY

[2020-03-05 00:00] WeiqunZhang commented on #730
Is `run_gpu_getrates` meant to be `__host__ __device__` (i.e., `AMREX_GPU_HOST_DEVICE`)?  Who call this?

[2020-03-05 00:03] maxpkatz commented on #730
[code]

[2020-03-05 00:04] maxpkatz commented on #730
[code]
Be wary of code like this, CUDA kernels are asynchronous and you almost certainly won't see the print you expect here if you don't synchronize after the kernel. Also, to Weiqun's point, launching a kernel inside a `__device__` function is almost never a good idea.

[2020-03-05 00:09] drummerdoc commented on #730
I think he intends to do this. Roughly, the idea is to exploit parallelism in the function evaluation by assigning more threads than cells, and having the function be aware of the thread/warp layout.

I suspect that nothing happening because there's a bug in the input data.

[2020-03-05 00:16] sdesai9 commented on #730
@WeiqunZhang - run_gpu_getrates is being called by another AMREX_GPU_HOST_DEVICE function mpr2wdot

@maxpkatz - I understand your point, the print statement was only for debugging purposes. By the way, can it called inside amrex::ParallelFor loop? What would be a better of calling this cuda kernel in AMReX?

@drummerdoc - The input seems to be right, I'll double check it again.

[2020-03-05 00:18] drummerdoc commented on #730
Sorry, maybe it would help to know what mpr2wdot does, at least conceptually.

[2020-03-05 00:19] WeiqunZhang commented on #730
How is mpr2wdot called?

[2020-03-05 00:23] sdesai9 commented on #730
The mpr2wdot function basically calls run_gpu_rates (instead of CKWYR which is the default option) to obtain wdot for the species and then multiplies it with the molecular_weights of the respective species.

The mpr2wdot in turn is called by the EOS (Equation of state class, EOS_FUEGO in my case) using the pc_expl_reactions (which is an AMREX_GPU_DEVICE function) inside an amrex::ParallelFor loop

[2020-03-05 00:53] drummerdoc commented on #730
So, as long as you realize that the PARALLEL_FOR is launching a kernel (with 1 thread per cell being work on), and that you are launching a kernel recursively.  Personally, I don't know what the rules are for that except that it is apparently allowed, and it is not how all other AMReX users are doing things.  A potential issue would arise if somehow the original launch has to know something about

[2020-03-05 01:52] WeiqunZhang commented on #730
As Max pointed out, `printf` immediately after a kernel launch will not see the result.  You will have to call `cudaDeviceSynchronize()` before `printf`.  And you might want to check if there are any CUDA errors after the sync.

I am just guessing.  Is NXNYNZ the total number of cells in a Box?  If each cell has a thread in the outer grid and then each cell launches a grid of NX*NY*NZ threads, you

[2020-03-05 02:18] sdesai9 commented on #730
NXNYNZ is indeed the total cells in a box. After I inserted cudaDeviceSynchronize(), I am getting a CUDA error 717 (operation not supported on global/shared space). If possible, I would like to pass the default grid and block parameters to the cuda kernel - how can I do that?

Thanks everyone for your helpful feedback so far on the matter!

[2020-03-05 17:29] jrood-nrel commented on #731
@mic84 Looking at the commit, this is a problem I have had in other projects using `git describe`. It is taking the version from my higher level git repo in which I have AMReX as a submodule. So I see this output:
[code]
So I think this is a problem for multiple levels of git repos.

[2020-03-05 18:22] mic84 commented on #731
@jrood-nrel I just committed a fix to this issue. Can you try the latest development branch and let me know if you still experience any problem? Thanks!

[2020-03-05 18:54] jrood-nrel commented on #731
Works! Thanks!

[2020-03-07 11:16] maikel commented on #731
I still get the following error

[2020-03-08 09:15] maikel commented on #731
My current workaround is to explicitly set `AMREX_PKG_VERSION` to a valid version number when configuring `cmake`.

[2020-03-09 17:15] mic84 commented on #731
@maikel can you provide a minimal setup so I can reproduce the error?

[2020-03-10 11:36] lucafedeli88 opened #737 "Would it be possible to use something like AMREX_ASSERT_WITH_MESSAGE to print a runtime string"
Hi,

to my understanding, the macro  `AMREX_ASSERT_WITH_MESSAGE(EX,MSG) (EX)?((void)0):amrex::Assert( # EX , __FILE__, __LINE__ , # MSG)`
always "stringifies" argument `MSG`, so that  it cannot be used to print a message composed at runtime. However, this might be beneficial in some situations.
 In the code I am working on (`WarpX`) the user can define many species in the inputfile and then assign

[2020-03-10 17:32] atmyers commented on #737
Hi Luca,

I would just use something like the logic here to do this: https://github.com/AMReX-Codes/amrex/blob/master/Src/Amr/AMReX_Amr.cpp#L1734

[2020-03-10 23:55] lucafedeli88 commented on #737
Thanks a lot for the advice!

[2020-03-10 23:55] #737 closed

[2020-03-11 12:48] higginsjia opened #738 "Use ml_restrict_and_fill for multifab when component is 2 in Boxlib"
in BoxLib, i try to build the multifab type phi with two components to solve the phase field equation,  call multifab_build(phi(n),mla%la(n),2,1) .
These two component represent the field variable Psi at a time t=t0 and t=t0+dt
I use **ml_restrict_and_fill for multifab** to restrict the multi-level data as below
` do n=1,nlevs`
`do i=1,nfabs(phi(n))`
` lo = lwb(get_box(phi(n),i))`
` hi = upb(get_b

[2020-03-11 20:52] zjibben opened #739 "Add `set_fixed_iter` to Fortran multigrid interface"
I would like to use AMReX's MLMG as a preconditioner, or use it as an interface to Hypre's BoomerAMG as a preconditioner, if possible. It looks like I should be able to do the latter by setting `max_coarsening_level=0` on my linear operator (`abeclaplacian`), which the [documentation](https://amrex-codes.github.io/amrex/docs_html/LinearSolvers.html#external-solvers) indicates would disable geometr

[2020-03-12 00:07] WeiqunZhang commented on #739
Could you try the latest development?

[2020-03-12 15:06] zjibben commented on #739
This seems to be the case in the current master. I'm looking here for a `set_fixed_iter` method:

https://github.com/AMReX-Codes/amrex/blob/1838cd8525e01550861ca753d41a577b497286bc/Src/F_Interfaces/LinearSolvers/AMReX_multigrid_mod.F90#L19

There doesn't seem to be a Fortran interface to the C++ method `MLMG::setFixedIter`:

https://github.com/AMReX-Codes/amrex/blob/1838cd8525e01550861ca753d41a577

[2020-03-12 15:23] bsrunnels commented on #722
I'm looking into implementing this now. I believe templating these functions would require moving the definitions into the header file and inlining them. Are there any issues with doing that?

[2020-03-12 15:29] WeiqunZhang commented on #739
It's in the `development` branch, but not in `master`yet.  We merge from `development` to `master` at the beginning of each month.

https://github.com/AMReX-Codes/amrex/blob/development/Src/F_Interfaces/LinearSolvers/AMReX_multigrid_mod.F90

[2020-03-12 15:31] WeiqunZhang commented on #722
I have actually started this.  I need to do more testing before merging.

[2020-03-12 15:36] bsrunnels commented on #722
Oh, ok great. What branch are you working on? I can start toying with integrating now - can also help with testing if that would be useful.

[2020-03-12 15:39] WeiqunZhang commented on #722
I am currently trying to figure out why in some places template deduction fails.

[2020-03-12 15:41] WeiqunZhang commented on #722
I have a meeting this morning.  I will try to push it this afternoon for you to test.

[2020-03-12 15:41] zjibben commented on #739
Oh perfect, thanks! I built and it's doing exactly what I need. If I run into any issues I'll let you know.

[2020-03-12 16:23] WeiqunZhang commented on #722
Could you try `weiqun/dev` branch?

[2020-03-12 17:12] bsrunnels commented on #722
Working on it now. Will let you know. Thanks!

[2020-03-13 02:27] marchdf commented on #717
The refluxing issue we were seeing turned out to be a false flag. The proposed fix did indeed fix the first non-deterministic problem we were seeing but there was a remaining issue in the code (specifically, an uninitialized mass fraction field in an EOS calculation) that led to further non-determinism, thereby confounding the issues. Thank you again for your time!

[2020-03-13 02:27] #717 closed

[2020-03-14 03:07] #738 closed

[2020-03-17 23:56] #693 closed

[2020-03-18 01:16] atmyers commented on #693
As an update on this, an issue has been filed with Kitware and they are working on the issue. It should be fixed in the next Paraview release (planned for April).

https://gitlab.kitware.com/paraview/paraview/issues/19776

[2020-03-19 16:26] marchdf opened #742 "Load balancing + GPU"
We have the ability for load balancing in PeleC and we currently compute the cost of an MFIter iteration:
[code]
Given the asynchronous nature of the kernel launches, I fear this isn't going to actually give me the correct timings and the load balancing won't work.

Do you all have a suggestion for getting around this? I looked at the CNS examples GPU and non-GPU but I don't see anything. Maybe I

[2020-03-19 16:49] atmyers commented on #742
You are correct that this will code will measure CPU execution time, which not relevant when running on the GPU.

@mrowan137 has been working on this and has an open pull request (PR #616) to amrex that adds the ability to time GPU kernel execution. He can provide more information of the current status of that work.

[2020-03-19 16:58] WeiqunZhang commented on #742
You could try `Gpu::streamSynchronize()` before `wt = ...`.  It may not slow down your code because of the stream sync.

[2020-03-19 20:06] mrowan137 commented on #742
Hi @marchdf , the issue you're describing is precisely what is meant to be addressed in PR #616.  If you're interested in giving it a test for your problem, you could check out this branch: https://github.com/mrowan137/amrex/tree/mrowan/CUPTI_trace
There is an example showing what the instrumented code looks like in `/Tests/GPU/CuptiTest/Exec/CUDA/myfunc.cpp` (look for `BL_PROFILE_VAR_START_CUPTI`

[2020-03-19 23:53] marchdf commented on #742
Thanks all for the input. I am going to try `Gpu::streamSynchronize()` and also look into your suggestion @mrowan137.

[2020-03-19 23:53] #742 closed

[2020-03-20 16:51] ldowen opened #743 "Must add template to the setVal functions"
https://github.com/AMReX-Codes/amrex/blob/1e986786f5b07f59e7bc6bdcbcfc05af04cad796/Src/Particle/AMReX_ParticleContainerI.H#L1626

The `setVal()` functions for BaseFabs should be changed to `template setVal()`. My compiler on the MacOS won't compile without it.

@atmyers

[2020-03-20 16:55] drummerdoc commented on #743
Yes, when compiling with USE_CUDA=TRUE, this is by design.  All codes will need to be hand-edited.

[2020-03-20 17:18] drummerdoc commented on #743
...ah, with Clang, you apparently see this requirement even when USE_CUDA=FALSE? The others can probably explain.

[2020-03-20 17:26] ldowen commented on #743
That is true. I noticed that this step was done when Fabs (or similar data structures) from pointers to MultiFabs (or similar data structures) are modified, like in [https://github.com/AMReX-Codes/amrex/blob/development/Src/Base/AMReX_FabArray.H#L2020](url)

[2020-03-20 17:40] WeiqunZhang commented on #743
Looks like Clang is more restrictive than gcc.  We will fix it.

[2020-03-20 18:34] WeiqunZhang commented on #743
I think it's fixed now.

[2020-03-20 18:42] #743 closed

[2020-03-28 17:22] jrood-nrel opened #748 "Plot tools unable to build with CMake when CUDA is enabled"
When trying to build `fcompare` when CUDA is enabled using CMake, I get the errors below. I also get errors regarding `AMREX_PRAGMA_SIMD`.
[code]

[2020-04-02 16:16] eschnett opened #751 "Warnings about conversion to int"
I see a few warnings such as this when compiling my code, coming from AMReX include files:

[code]

I'm not that much worried about warnings when building AMReX itself, but I like to avoid warnings when building my code. In this case, I recommend using `lrint` to convert from `double` to `int`, which avoids the warning. Since `lrint` already rounds to nearest, you can also just write `int dirhi =

[2020-04-02 18:36] jrood-nrel opened #752 "fcompare exit code with MPI enabled"
Would it be possible to have `fcompare` give a failure exit code when diffs occur with MPI enabled? Looking at the code, it appears the exit code is disabled with MPI enabled.

https://github.com/AMReX-Codes/amrex/blob/b35aa25c7ad23709eaeec4441a1d788148ca9707/Tools/Plotfile/fcompare.cpp#L360-L370

[2020-04-04 01:25] ax3l commented on #731
@maikel did you do a shallow checkout of the branch/repo? That would explain why `git describe` cannot find a related versioned tag.

[2020-04-04 01:46] ax3l commented on #731
Fix provided via https://github.com/AMReX-Codes/amrex/pull/755

[2020-04-06 06:55] darylbond opened #756 "Using MLNodeLaplacian with multiple AmrLevels"
I am attempting to implement divergence cleaning of a cell-centered magnetic field (div B = 0) via the projection method on a solver derived from the EB-CNS example. I have attempted to use the `Nodal_Projection_EB` example for the cell-centered aspect of the problem and `ABecLaplacian_C` as an example of implementation with multiple levels. However, my solver fails when instantiating `MLNodeLapla

[2020-04-06 14:33] asalmgren commented on #756
Just to clarify -- the nodal projection takes the divergence of a vector
field defined at cell centers and computes a RHS on nodes and solves for
"phi" on nodes ...

Is that the discretization you want?

On Sun, Apr 5, 2020 at 11:55 PM darylbond <notifications@github.com> wrote:

--
Ann Almgren
Senior Scientist; CCSE Group Lead

[2020-04-06 20:25] MaxThevenet opened #757 "Should this function be called IntVect?"
https://github.com/AMReX-Codes/amrex/blob/7d788fbc54639401a5b4ee535af179af5d0ab27f/Src/Base/AMReX_IndexType.H#L103

The use of this function results in confusing calls like
[code]
Would `IntVect` (or `toIntVect`) be an acceptable name
[code]
? This is not of major importance, but several developers asked about this.

[2020-04-06 20:56] MaxThevenet commented on #757
Ok, done in https://github.com/AMReX-Codes/amrex/pull/758.
I also kept the other version, let me know if you want me to replace the old name.

[2020-04-07 01:08] WeiqunZhang commented on #757
We will keep the old name.

[2020-04-07 01:08] #757 closed

[2020-04-07 01:11] WeiqunZhang commented on #756
I think the reason is the finest level is not `amr.max_level`.  `Geom()`, `boxArray()` and `DistributionMap()` return vectors with size of `max_level`.  But some levels may not exist yet.  Could you try `Geom(0, amr.finestLevel())`, `boxArray(0, amr.finestLevel()` and `DistributionMap(0, amr.finestLevel())`?

[2020-04-07 01:24] WeiqunZhang commented on #752
I made the change in development branch.  I don't remember why it was done that way.

[2020-04-07 01:24] #752 closed

[2020-04-07 03:30] darylbond commented on #756
@WeiqunZhang That seems to have been the problem, seems to be working well now. Many thanks!

@asalmgren I'm only just starting out with performing any type of global linear solve so I'm not sure if this approach is the best, it is just what I could find in the examples that seemed to align with what I am trying to achieve. Essentially, I am chasing zero divergence for my magnetic field and an inh

[2020-04-07 05:12] WeiqunZhang commented on #751
In the development branch, I added a `static_cast` to avoid the warning.  I didn't use `lrint` because DPC++ and SYCL do not support it.  Moreover, `lrint` is not a pure function. Its result depends on the current rounding mode.  I have also fixed float conversion warning in a number of other places.

[2020-04-07 15:44] asalmgren commented on #756
@darylbond -- I just want to make sure that you know that the projection
you are using -- which constructs a RHS on nodes based on the vector field
at cell centers -- is in fact an approximate projection, so the divergence
after the projection will be O(dx^2) rather than 0.

On Mon, Apr 6, 2020 at 8:30 PM darylbond <notifications@github.com> wrote:

--
Ann Almgren
Senior Scientist; CCSE Group Lead

[2020-04-08 03:11] WeiqunZhang commented on #748
The GNU make system has a similar issue of compiling these tools for CUDA.  The problem there is it tries to generate the final executables with

[code]

We did it this way because we have multiple executables and they share most .o files except for the one from their own cpp file.  This works when `COMPILER` is gcc, but not for nvcc.  I have fixed the GNU make file (but not CMake) by compiling `m

[2020-04-08 21:34] mic84 commented on #748
@jrood-nrel Support for compiling plotfiles tool for CUDA is now implemented in CMake as well. Thank you for reporting this.

[2020-04-09 03:55] #692 closed

[2020-04-09 23:08] jrood-nrel commented on #731
I'm seeing this again on a certain system I am using:
[code]

[2020-04-09 23:14] ax3l commented on #731
@jrood-nrel can you try again with the latest development branch? We landed a patch in #755 that addresses this, according to my tests.

[2020-04-09 23:18] jrood-nrel commented on #731
`3f1e6e06bc33` is the latest AMReX development which appears to be where this version number is coming from.

[2020-04-09 23:19] jrood-nrel commented on #731
I only see this on Github CI systems, but I haven't seen it anywhere else. So maybe it's checking out in some way I don't understand.

[2020-04-09 23:35] ax3l commented on #731
Looks like the CI checks out the right commit of AMReX, probably as a shallow clone without tags. This is totally fine, but somehow slips through the "this commit hash ain't no version number" check.

[2020-04-09 23:38] ax3l commented on #731
Ha, I checked with a different hash last time!
`3f1e6e06bc33` starts with a `3` and gets interpreted as version "3.0.0" ^^

[2020-04-09 23:53] ax3l commented on #731
More robust fix proposed in https://github.com/AMReX-Codes/amrex/pull/759

[2020-04-10 00:01] ax3l commented on #731
@jrood-nrel can you try updating the the latest HEAD of `development` again?

[2020-04-10 15:27] jrood-nrel commented on #731
Looks like it works again. Thanks!

[2020-04-10 16:33] jrood-nrel commented on #748
I tested this today and I'm still getting errors from `fcompare` when using CUDA. Mostly these:
[code]
It looks like there are some command line options the output is recommending like:
[code]

[2020-04-10 18:16] #731 closed

[2020-04-10 22:43] mic84 commented on #748
@jrood-nrel are you using CMake or GNUMake? I am unable to reproduce the issue you encountered if I build with CMake.

[2020-04-11 15:04] jrood-nrel commented on #748
I'm using CMake. I'm using GCC 7.4.0 or 8.3.0 and I see the errors with CUDA 9.2.88, 10.0.130, and 10.1.128. My AMReX commit is `5ba96e09f85ecb4cd961d5b43b4cb51f7f5d396f`.

[2020-04-13 21:40] mic84 commented on #748
Can you please send me the full output of the cmake command?

[2020-04-14 16:09] jrood-nrel commented on #748
Sure. I am using AMReX as a submodule in my project. This script below reproduces the error for me when I try to build `fcompare`:
[code]

[2020-04-14 22:41] mic84 commented on #748
The issue you are experiencing is due to the way AMReX is included as a subproject. Exa-wind CMake setup adds the top-level AMReX directory and, separately, the `Tools/Plotfile/` subdirectory.  The targets defined in the latter, including `fcompare`, are then built by the top level project, i.e. Exa-wind, and not by AMReX CMake. This, in turn, makes `fcompare` unaware of the proper flags for CUDA

[2020-04-14 22:41] #748 closed

[2020-04-15 15:23] jrood-nrel commented on #748
Thanks @mic84 ! Sorry it was my mistake causing this.

[2020-04-16 08:40] #756 closed

[2020-04-22 21:18] ldowen opened #797 "Reading particle Ascii files"
I switched my particle implementation from using ArrayOfStruct to using StructOfArrays. I am now having an issue with the `InitFromAsciiFile` function in [https://github.com/AMReX-Codes/amrex/blob/e0658315005f4521b73a530d53fc6c47fce93cba/Src/Particle/AMReX_ParticleInit.H#L6](url). Is this function set up to only work with ArrayOfStructs? Are there any tutorials or tests that utilizes the any of th

[2020-04-23 00:02] atmyers commented on #797
It does not with StructOfArrays right now. I'll make a PR to fix this.

[2020-04-26 22:29] asalmgren opened #809 "amrex/Tutorials/ForkJoin/MLMG does not build (development branch)"
main.cpp: In function ‘void single_component_solve(amrex::MultiFab&, const amrex::MultiFab&, const amrex::MultiFab&, const amrex::Vector<amrex::MultiFab*>&, const amrex::Geometry&)’:
main.cpp:287:67: error: call of overloaded ‘setBCoeffs(int, <brace-enclosed initializer list>)’ is ambiguous
     mlabec.setBCoeffs(0, {AMREX_D_DECL(beta[0], beta[1], beta[2])});

[2020-04-27 00:09] drummerdoc commented on #809
I trust that this is broken....but it builds and links fine for me locally (OSX).  I think that interesting enough to note here.

[2020-04-27 01:33] asalmgren commented on #809
That is interesting.  Here is my complete make info (bold mine):

Compiling main.cpp ...
mpicxx  -Werror=return-type -g -O0 -ggdb -Wall -Wno-sign-compare -ftrapv
-Wno-unused-but-set-variable -Wfloat-conversion -Wshadow -std=c++14
 -pthread   -DAMREX_DEBUG -DBL_USE_MPI -DAMREX_USE_MPI
-DAMREX_GIT_VERSION=\"20.04-239-gec2c01e6016d\" -DBL_GCC_VERSION=5.4.0
-DBL_GCC_MAJOR_VERSION=5 -DBL_GCC_MINOR_VERS

[2020-04-27 02:42] WeiqunZhang commented on #809
Fixed in #811.  Previously the tutorial uses initializer list.  It worked before because there was no ambiguity to the compiler that it can turn the initializer list into `Array<MultiFab const*, AMREX_SPACEDIM`.  Recently a new function was added to MLMG and it created ambiguity because the new function can also take initializer list.  As for why it works on Mac, I don't have a theory.

[2020-04-28 14:47] srikrrish opened #814 "Performing MPI_Allreduce with MultiFabs"
I want to perform MPI_Allreduce (specifically MPI_SUM) on local multifabs (with same size defined on each processor separately) and get the collective result in a multifab. Is it possible to perform MPI_Allreduce  with MultiFab datatype?. For example I am looking for something similar to this

MultiFab rho_comp
int comm_vol
amrex::ParallelAllReduce::Sum(&rho_comp, comm_vol, amrex::ParallelContext:

[2020-04-28 20:46] #809 closed

[2020-04-28 20:56] WeiqunZhang commented on #814
`MultiFab` is container for distributed data on a `BoxArray`, a set of different Boxes.  It does not really make sense to do allreduce as what you have described.  If this is really what you want to do and the local size of the MultiFab is the same across MPI processes and each corresponding Box has the same number of cells across MPI processes, you could loop over the FArrayBoxes in your MultiFab

[2020-04-28 21:57] srikrrish commented on #814
Thanks a lot for your response and I appreciate it very much. Yes, I agree that normally one wouldn't want to perform allreduce on multifabs like the way I mentioned as it would defeat the purpose of distributed data. But in my case the multifabs I want to perform allreduce are small in size and I can afford to have the entire thing in each processor. At least for now it is the easiest way I could

[2020-04-28 22:04] WeiqunZhang commented on #814
By looping over FArrayBoxes in MultiFab, I mean
[code]

I think in your case, you should consider `Vector<FArrayBox>` instead.

[2020-04-28 22:52] srikrrish commented on #814
Thanks a lot it is working now. I appreciate it very much!

[2020-04-28 22:53] #814 closed

[2020-04-30 21:21] ldowen commented on #797
Along similar lines, is the `InitFromAsciiFile` function designed to work on GPUs? Because I have run into issues that seem like the data isn't copied over to the GPUs.

[2020-04-30 22:08] atmyers commented on #797
Could you see if this pull request solves the second issue?

https://github.com/AMReX-Codes/amrex/pull/831

[2020-04-30 23:03] nw236 opened #832 "problem compiling amrex"
I starting to learn how to use amrex. So for I managed compiling on a virtual machine, during compilation on my linux box however I ran into a problem that I cannot make sense of. Configure runs without any message. During I get an error message.

Does anyone have an idea?

make -f GNUmakefile
Loading /home/Coding/adaptiveMeshing/amrex/amrex/Tools/GNUMake/comps/gnu.mak...
Loading /home/Coding/adap

[2020-04-30 23:15] zingale commented on #832
It looks like you are using GCC 4.8 which probably does not support the standard of C++ used in AMReX.  Perhaps you can try upgrading to a later compiler?

[2020-04-30 23:37] WeiqunZhang commented on #832
This is a gcc 4.8 issue.  But it seems that you can fix it by inserting a space between `"` and `_` in `AMReX_REAL.H`.  Obligated compiler explorer link: https://godbolt.org/z/PoFfPg

[2020-04-30 23:44] nw236 commented on #832
Wow, I am impressed by the quick response. Thank you.
Updating the compiler to gcc 8 did work.
Thanks again.

[2020-05-01 00:32] ldowen commented on #797
There still appears to be a problem with ascii file particles on GPUs, even with that pull request. I am not sure if the issue is on my side now though.

[2020-05-01 23:00] atmyers commented on #797
I wrote a test for this function and added it to the pull request. It seems to work as expected, with and without CUDA. If you're still having problems, maybe you could try to reproduce them on the test I checked in?

The SoA issue with that function should also be fixed now on that PR.

[2020-05-02 00:09] ldowen commented on #797
I figured out what I was doing wrong on my side. It looks like it works with your changes from the PR.

[2020-05-02 18:29] #797 closed

[2020-05-05 01:22] #629 closed

[2020-05-05 01:23] #441 closed

[2020-05-05 16:45] kweide commented on #327
Now that both this Issue and the other one that referred to it (#424) have been closed, I would just like to note (for FLASH) that we may still be interested in support for face-centered data by AMReX.

[2020-05-05 17:03] asalmgren commented on #327
Klaus -- could you be more specific -- what do you mean by support for
face-centered data?  What functionality is missing?

On Tue, May 5, 2020 at 9:45 AM Klaus <notifications@github.com> wrote:

--
Ann Almgren
Senior Scientist; CCSE Group Lead

[2020-05-05 17:18] kweide commented on #327
It seems this was primarily about interpolation. @chaw0023 gave details in September 2019, see above (in Issue #327), I did not see any followup.

I don't know details about the current state of our requirements, maybe @adubey64 can say more.

[2020-05-05 17:27] asalmgren commented on #327
AMReX does have face-centered data and many applications use it.

It would be best if you could identify specifically what functionality you
need is not available.

On Tue, May 5, 2020 at 10:21 AM Klaus <notifications@github.com> wrote:

--
Ann Almgren
Senior Scientist; CCSE Group Lead

[2020-05-06 14:18] mclarsen opened #846 "Question: best way to get parent child box relationships"
I am trying to figure out how to get parent child relationships. For example, if a box on level 0 contains the whole problem and there are two level 1 boxs, then for each box I would to figure out the ids of the boxs that are above or below. I can do this with some communication to calculate these relationships, but I would like to avoid communication if possible. Is there a better way?

[2020-05-06 16:02] WeiqunZhang commented on #846
Please take a look at `intersections` functions in `AMReX_BoxArray.H`.  For example, suppose I want to find out which coarse boxes intersect with a fine box, I can do
[code]

Also note that there are no strict parent child relationships in AMReX's grids.

[2020-05-06 16:05] atmyers commented on #846
+1 on using BoxArray intersections. This operation involves no parallel communication, because information about the full box array is duplicated on every process.

[2020-05-06 16:34] mclarsen commented on #846
Thanks for the pointers. I really appreciate it. How would I get access to the full box array in this function:

https://github.com/AMReX-Codes/amrex/blob/fc08afe8327f96d507cda7f9f9a6423787381b2b/Src/Extern/Conduit/AMReX_Conduit_Blueprint.cpp#L248

I am tempted  to use something like this:
https://github.com/AMReX-Codes/amrex/blob/fc08afe8327f96d507cda7f9f9a6423787381b2b/Src/Amr/AMReX_Amr.cpp#L316

[2020-05-06 16:42] atmyers commented on #846
You could get them from the `MultiFabs` using the `boxArray` method: https://github.com/AMReX-Codes/amrex/blob/fc08afe8327f96d507cda7f9f9a6423787381b2b/Src/Base/AMReX_FabArrayBase.H#L95

You may need to be careful about centering, however. I think I'd convert everything to cell-centered before working the `ba`s.

[2020-05-06 23:31] ldowen opened #848 "Error with SofA virtual particles"
When I try to access the StructOfArray data in a virtual particle, I get a segfault. I have no issues if I use ArrayOfStruct data types for the particles. Does this functionality work and I am using it wrong? Or is there an issue with it?

[2020-05-07 04:11] chaw0023 commented on #327
(I'm chipping in to explain the reason for request at that time from FLASH center.)
The `FillPatch` method did not support face centered data at that time and the issue was opened to request this functionality.  The functionality of interpolation being second order and divergence-preserving are critical as per original requirement.

Is this issue closed because it is resolved or put on hold curren

[2020-05-07 14:47] asalmgren commented on #688
Has this issue been resolved?   If so, @kweide could you close it?

[2020-05-07 14:48] #832 closed

[2020-05-07 14:57] kweide commented on #688
The methods added are working fine for us, as far as we have exercised them.

[2020-05-07 15:02] asalmgren commented on #751
@eschnett -- is this issue ready to close?

[2020-05-07 15:13] #688 closed

[2020-05-07 15:13] #739 closed

[2020-05-07 15:14] #708 closed

[2020-05-07 15:29] atmyers commented on #848
It looks like virtuals / ghost are hard-coded to be AoS at the moment. We can remove this restriction, but it may be several days.

[2020-05-07 15:34] asalmgren commented on #644
@eschnett --is this issue ready to be closed?

[2020-05-07 17:28] asalmgren commented on #327
Saurabh -- just to clarify -- what you are wanting is fillpatching for
face-centered data -- using the divergence-preserving algorithm as in the
paper someone shared.

So we understand -- because there is some ambiguity about faces -- would
fill-patching a face at a coarse-fine interface fill the fine face by
interpolation or assume it has been filled correctly from the fine?

On Wed, May 6, 2020

[2020-05-07 19:29] kweide commented on #327
Let me explain what happens when we have "ghost faces" filled when using PARAMESH, which has shaped our expectations. @chaw0023 can jump in if his requirements are different or more specific. Or if I am missing the point entirely.

We call `amr_guardcell` (with appropriate arguments and flags), and it will do the following, for each block that is selected (focussing on face variables only):
* all

[2020-05-07 19:59] asalmgren commented on #327
@klaus -- what is the relationship of this operation to your orchestration
layer?

On Thu, May 7, 2020 at 12:30 PM Klaus <notifications@github.com> wrote:

--
Ann Almgren
Senior Scientist; CCSE Group Lead

[2020-05-07 20:17] kweide commented on #327
No connection specific to face variables, as far as I am aware.

As far as guard cell filling more generally, its relationship to orchestration is... poorly understood by me so far. Maybe @jared321 will care to comment.

[2020-05-07 21:08] eschnett commented on #751
@asalmgren I forgot to update on May 1. I'm currently building, and there's a cmake Fortran OpenMP problem that appeared. I'll let you know once this is resolved.

[2020-05-07 21:28] eschnett commented on #751
@asalmgren Enabling Fortran support solved the OpenMP issue. It seems that AMReX wants to find out about Fortran OpenMP support even when Fortran is disabled, and fails.

[2020-05-07 21:34] asalmgren commented on #751
Is that with cmake or gmake?

On Thu, May 7, 2020 at 2:28 PM Erik Schnetter <notifications@github.com>
wrote:

--
Ann Almgren
Senior Scientist; CCSE Group Lead

[2020-05-07 21:35] jared321 commented on #327
The orchestration system has two main sub-systems - an offline toolchain and a runtime.  We previously referred to the runtime as the orchestration layer.

In terms of the runtime, we hope to have the runtime make use of the phase-asynchronous GC fill whenever possible so that it will overlap the GC communication with computational work.  It will be the job of the offline toolchain to figure out w

[2020-05-07 21:39] mclarsen commented on #846
This is super helpful and exactly what  I was looking for. Its taking me a while to wrap my head around what is going on in the code base.

[2020-05-07 21:39] #846 closed

[2020-05-07 21:40] asalmgren commented on #327
So will you want the fillpatch to do the entire hierarchy at one time or
will it only do some part of the fill?

On Thu, May 7, 2020 at 2:35 PM jared321 <notifications@github.com> wrote:

--
Ann Almgren
Senior Scientist; CCSE Group Lead

[2020-05-07 22:30] kweide commented on #327
Ideally this would all happen inside the iterator, hidden from the iterator-using code. The iterator's next() method would ship out the next block if and when there is one available, with all necessary communication (for this block) done, guard cells filled (whether there was interpolation involved or not), etc. [I guess this implies that next() could block.]

As far as iterator-using code then: s

[2020-05-07 22:38] asalmgren commented on #327
My understanding though is that you are not using the amrex octree iterator
- you built a different one?

Sent from my iPhone

On May 7, 2020, at 3:30 PM, Klaus <notifications@github.com> wrote:

﻿

Ideally this would all happen inside the iterator, hidden from the
iterator-using code. The iterator's next() method would ship out the next
block if and when there is one available, with all necessary

[2020-05-07 22:44] jared321 commented on #327
I have not looked specifically at how to get the phase asynchronous iterator into our code, but believe that it should be possible.  My understanding of how FLASH5 would interface to this iterator matches what you write @kweide.

@asalmgren As part of the collaboration to refine the octree mode of AMReX do you think it is likely that we would evolve the current octree iterator or develop a new one

[2020-05-07 22:48] asalmgren commented on #327
I thought you already were using your own iterator

Sent from my iPhone

On May 7, 2020, at 3:45 PM, jared321 <notifications@github.com> wrote:

﻿

I have not looked specifically at how to get the phase asynchronous
iterator into our code, but believe that it should be possible. My
understanding of how FLASH5 would interface to this iterator matches what
you write @kweide <https://github.com/kweid

[2020-05-07 22:51] kweide commented on #327
Actually, we have a higher-level iterator (implemented in Fortran), which is called throughout the higher-level code wherever iteration is needed. That one is currently (internally) just looping over levels (when it is not used in a one-level way), and for each level just calling `mfiter` methods.

We could switch it back to what we were using initially: it would be a wrapper around the octree ite

[2020-05-07 22:57] kweide commented on #327
What we don't have is an asynchronous iterator. (Except if somehow the underlying AMReX iterator, either `octree` or `mfiter`, can be operating asynchronously in some sense, and our wrapper layer passes that asynchronousness through unharmed - whatever that might mean...)

[2020-05-07 23:00] drummerdoc commented on #327
MFIter can run asynchronously (if I understand what you are asking anyway). Pass MFItInfo().DisableDeviceSync() to the MFIter constructor to use.

[2020-05-07 23:07] kweide commented on #327
I'm not so sure myself what I'm asking...

But basically with "asynchronous" I meant that client code of the iterator can already process some blocks, while the iterator itself is still doing behind-the-scenes work (like waiting for communication) to deliver more blocks later.

[2020-05-07 23:45] eschnett commented on #751
That was with cmake.

[2020-05-08 00:26] #751 closed

[2020-05-08 04:28] atmyers commented on #327
AMReX currently has some ability to overlap communication with computation, in that you can start a `FillBoundary` operation, do some other stuff, and then later call finish that on the `FillBoundary`. It does not have the capability you talking about, however, which would be starting the `FillBoundary` (for example), then immediately start iterating over the blocks as they become ready. Maybe som

[2020-05-08 17:13] ldowen opened #852 "Error with size of member data in AmrParticleLocator with GPUs"
https://github.com/AMReX-Codes/amrex/blob/8194c10004aae594e2d120d79c5e30aa7b2dce3e/Src/Particle/AMReX_ParticleContainerI.H#L1076

When the `setGeometry` function is called for level > 0, I get an error that a vector is not properly sized. I outputted the values of and it seems like `num_levels = 2` but `m_locators.size() = m_grid_assignors.size() = 1` in  [https://github.com/AMReX-Codes/amrex/blob

[2020-05-08 17:27] atmyers commented on #852
If you change this line:

https://github.com/AMReX-Codes/amrex/blob/8194c10004aae594e2d120d79c5e30aa7b2dce3e/Src/Particle/AMReX_ParticleLocator.H#L263

to:

`if ( (m_locators.size() == 0) or (m_locators.size() != a_ba.size()) or !m_defined) return false;`

what happens?

[2020-05-08 17:44] ldowen commented on #852
If I do that, I get an error here
[https://github.com/AMReX-Codes/amrex/blob/8194c10004aae594e2d120d79c5e30aa7b2dce3e/Src/Particle/AMReX_ParticleCommunication.H#L68](url)
It seems like it has resized `a_ba` and `m_locators` to 3, but I only have 2 levels.

[2020-05-08 17:59] atmyers commented on #852
Is there a way I could run your code so I can reproduce this?

[2020-05-08 18:34] ldowen commented on #852
There is a test here [https://github.com/AMReX-Combustion/PeleC-MP/tree/cpp_spray/Exec/SprayTests/AMR_test](url) that you would have to compile and run on GPUs. I am running the test on my local GPU machine.

There are a few repos and specific branches that are necessary. It is all a little spread out at the moment. PeleC needs to be on the `Landon/cpp_spray` branch and PelePhysics should be on th

[2020-05-08 20:27] atmyers commented on #852
I was able to reproduce the issue. I think this fixes the problem:

https://github.com/AMReX-Codes/amrex/pull/854

[2020-05-08 20:49] ldowen commented on #852
That seems to have fixed the issue. Thanks!

[2020-05-08 20:49] #852 closed

[2020-05-11 23:03] kweide commented on #327
That was very useful information at least for me, thank you.

When you mentioned "some ability to overlap communication with computation", was that in reference to features provided by AmrTask and/or the ["phase asynchronous AMR execution"](https://dl.acm.org/doi/pdf/10.5555/3291656.3291750)? I am currently looking at that paper and  trying to understand whether it is relevant to the conversation

[2020-05-11 23:23] drummerdoc commented on #327
I believe that the paper you are looking at describes the extent to which AMReX supports the async features you want. The "phase asynchronous" bit is a kind of nuance that allows one to limit just how deep mods for asynchrony need to reach within AMReX - it reflects a notion that many of our algorithms have been written with a level-by-level organization structure, which inherently brings with it

[2020-05-11 23:36] atmyers commented on #327
In addition to the stuff in that paper, we also have "nowait" and "finish" versions of FillBoundary:

https://amrex-codes.github.io/amrex/doxygen/classamrex_1_1FabArray.html#ac2d0be5fcc4f1d0ca3bc90326479e6a4

So if you know you don't need multifab A in function F, you can do

[code]

In principle particle redistribution and other parallel operations could do the same thing, but we don't expose an

[2020-05-12 19:17] bsrunnels opened #874 "FabArrayBase::FPinfo depends on FArrayBox, breaking templating"
The struct `FabArrayBase::FPInfo.fact_crse_patch` uses the `FArrayBox` template, which means that it cannot be used with other types of `FabArray` derived objects (and breaks the ability to use the `FillPatch` routines with other types of `FabArray`s). This seems inconsistent with the abstract nature of `FabArrayBase`. Is there a reason it is not located in `FabArray` instead of `FabArrayBase`? Th

[2020-05-12 20:12] jrood-nrel opened #876 "TARGET not created in this directory error"
Ever since https://github.com/AMReX-Codes/amrex/commit/a718d8f90da3299a686a7aab6f84ec9b88518b7a#diff-d959821542ed1f89ad8e06ba3939e3f6 , I see an error during configure when trying to use `generate_buildinfo`. The error is `TARGET 'target_name' was not created in this directory.`

[2020-05-12 20:13] jrood-nrel commented on #876
If I comment out the `add_custom_command(PRE_BUILD)` lines, it works like it did for me previously.

[2020-05-12 23:01] WeiqunZhang commented on #874
Could you try #879?

[2020-05-12 23:07] WeiqunZhang commented on #874
Sorry, I guess it won't work.  Will update it soon.

[2020-05-12 23:51] WeiqunZhang commented on #874
I just pushed an update.

[2020-05-13 16:08] bsrunnels commented on #874
What about just using the `AMREX_USE_EB` as a switch, and if not using `EB` then using a basefab constructor without the factory?

    #ifdef AMREX_USE_EB
    auto factory = makeEBFabFactory(cgeom, ba_crse_patch, dm, {0,0,0}, EBSupport::basic);
    MF mf_crse_patch(ba_crse_patch, dm, ncomp, 0, MFInfo(), *factory);
    #else
    MF mf_crse_patch(ba_crse_patch, dm, ncomp, 0);
    #endif

This would

[2020-05-13 16:17] WeiqunZhang commented on #874
Making EB factory is an expensive call.

[2020-05-13 16:23] bsrunnels commented on #874
Sorry - you're right - I copy/pasted from the wrong section of code. I updated my comment above.
The new correction would be just to change the constructor based on the `EB` flag. (This code would replace line 203 of `AMReX_FillPatchUtil_I.H`

[2020-05-13 16:29] bsrunnels commented on #874
https://github.com/AMReX-Codes/amrex/pull/881

[2020-05-13 16:31] WeiqunZhang commented on #874
We never know what people might want.  Are you worried about the maintenance cost?  Since we are making changes there and the cost of writing the code has been paid, why not keep it general?

[2020-05-13 16:43] bsrunnels commented on #874
Ok - I thought that it might be a more lightweight fix that might prevent additional compile time cost. But https://github.com/AMReX-Codes/amrex/pull/879 works too - I'm good to go with that.

[2020-05-13 16:43] #874 closed

[2020-05-15 18:40] mic84 commented on #876
@jrood-nrel thanks for reporting this. Can you send me the full configure log? Thanks.

[2020-05-16 16:17] jrood-nrel commented on #876
We were able to create a local library in the directory where we call `generate_buildinfo` so that solves it for us without modification to AMReX. So I am going to close this issue.

[2020-05-16 16:17] #876 closed

[2020-05-18 18:50] maxpkatz opened #897 "PGI and XL compilers do not parse namelists from character arrays"
The method of reading in a namelist from an allocatable character array as used in AMReX_parmparse_mod.F90 works with gcc and Intel, but it does not work with PGI and XL. Here is a test code which can be used to demonstrate the problem (`x` won't be updated by the read statement for PGI/XL, and the `iostat` return code won't be 0):

[code]

[2020-05-18 23:31] maxpkatz commented on #897
The issue here is the newline characters in the probin variable. The parsing works correctly if they are removed.

[2020-05-18 23:44] WeiqunZhang commented on #897
But we do need some kind of separator?  Just white space? `&nml x = 1.0d0 y = 2.d0 /`?

[2020-05-18 23:45] maxpkatz commented on #897
White space is sufficient. However the problem is then how to parse lines with comments if they were in the namelist.

[2020-05-18 23:48] WeiqunZhang commented on #897
If we assume everything after `!` is comment, that's easy to do.  Do gnu and intel work with white spaces?

[2020-05-18 23:52] maxpkatz commented on #897
Yes, gcc and Intel are both OK with whitespace separation.

[2020-05-18 23:55] WeiqunZhang commented on #897
OK.  I can make some changes and ask you to test with Maestro.

[2020-05-19 00:30] #897 closed

[2020-05-23 02:21] ax3l opened #930 "mkdep: does not support relative includes"
In C/C++, the pre-processor checks `#include "..."` files relative to the current file's path first, *independent* of the include path options: https://gcc.gnu.org/onlinedocs/cpp/Search-Path.html

The perl script [`mkdep`](https://github.com/AMReX-Codes/amrex/blob/development/Tools/C_scripts/mkdep) does not support this and consequently forgets includes.

Result: if a developer intentionally or ac

[2020-05-28 18:27] sayerhs opened #944 "AMReX CMake error with MPI::MPI_CXX IMPORTED_GLOBAL"
When using AMReX as a sub-package within an application's `CMakeLists.txt` (e.g., for amr-wind), CMake generates an error if the application does `find_package(MPI REQUIRED)` before adding AMReX. The exact error is

[code]

[2020-06-05 15:47] turbulent1975 opened #978 "Does AMReX support multi-block grid?"
I'm now surveying block-structured adaptive mesh refinement packages, and interested in using AMReX. One of my concerns of AMR framework is the ability to handle multi-block grid (like that in the following image attached, which is copied from the website of chombo). I read the online document of AMReX, but I can't find the topic of multi-block grid. And I notice that all examples in the gallery s

[2020-06-05 17:17] atmyers commented on #978
We do not currently support multi-block grids. It's something we've discussed adding support for in the past, and we think it's quite doable, but so far it hasn't been critical for our application partners.

[2020-06-05 22:00] eschnett opened #979 "AMReX breaks `abs`"
Since AMReX 20.06, it is not possibly any more to call `abs` in the `amrex` namespace. The recommended work-around is to call `std::abs`. This doesn't always work: if someone defines a new type (e.g. `mylib::quaternion`), and provides a function `abs` in the `mylib` namespace, then `std::abs` will not find it.

[2020-06-05 22:13] WeiqunZhang commented on #979
In that case, it seems that you can use `mylib::abs`.

[2020-06-05 22:27] WeiqunZhang commented on #979
And there is also `using mylib::abs`.

[2020-06-06 00:15] turbulent1975 commented on #978
@atmyers Thanks for your reply. Does your team plan to add support for the mulit-block grids in the near future?

[2020-06-06 00:22] drummerdoc commented on #978
There are no immediate plans to support these types of grid configurations.

[2020-06-06 01:06] eschnett commented on #979
[code]
You can't point to a specific location for `abs` since you don't know what `T` is.

[2020-06-06 01:17] WeiqunZhang commented on #979
But you can have both `using std::abs;` and `using mylib::abs;`.

[2020-06-06 01:48] eschnett commented on #979
Yes, you can. My point was that AMReX requires using `std::abs` now, and doesn't allow the other forms.

[2020-06-06 02:00] WeiqunZhang commented on #979
Sure, one may have to modify the code a bit if it's inside amrex namespace or amrex namespace is imported.  But I think there are no cases that cannot be fixed.

[2020-06-06 12:19] turbulent1975 commented on #978
I see.

[2020-06-06 12:19] #978 closed, assigned to nobody

[2020-06-06 22:48] #930 closed

[2020-06-07 22:55] maximumcats opened #984 "MLLinOp::makeSubCommunicator() does not scale well to O(10k) ranks"
We discovered while running the Castro flame_wave problem on 2048 Summit nodes (6 ranks per node) that the average time per call to `MLLinOp::makeSubCommunicator()` was 0.06 seconds, which is twice as expensive as a hydro advance on GPUs at that scale (for comparison purposes).

[2020-06-07 22:56] maximumcats opened #985 "TagBoxArray::collate() runs into scaling issues when running on GPUs"
`TagBoxArray::collate()` can be a non-trivial cost in GPU builds at scale, since the number of tagged boxes may be a non-trivial fraction of the domain, but we're doing this calculation serially.

[2020-06-07 23:20] drummerdoc commented on #985
Yup. This is a known issue. Did especially badly on KNL cores.

[2020-06-07 23:29] asalmgren commented on #985
We are thinking about ways to improve regridding at scale ... one obvious
way would be to split the domain into octants, for example, and regrid each
separately.

Would Castro and other AMReX-based codes be open to this type of
regrididng?  It won't give identical patches as the current algorithm but
is a quick and easy fix that seems pretty benign.

Thoughts?

On Sun, Jun 7, 2020 at 4:20 PM Marc

[2020-06-08 00:05] drummerdoc commented on #985
It couldn’t hurt but might be better if splitting planes could be problem dependent.

[2020-06-08 00:33] atmyers commented on #985
It looks straightforward-ish to do this operation on the GPU. Not too dissimilar from operations we already do for particles. I could give it a try this week.

[2020-06-08 02:41] maximumcats commented on #985
Yeah, I think we should just get the operation happening on the GPU.

[2020-06-08 17:46] ldowen opened #987 "AMREX_NVCC_MAJOR_VERSION issue"
Seems like AMREX_NVCC_MAJOR_VERSION is not longer defined but is still being used in some places.

https://github.com/AMReX-Codes/amrex/blob/86a361c8856bdda455e3fe7d2c01b4d7ce35261a/Src/Base/AMReX_GpuDevice.cpp#L281

[2020-06-08 17:49] maximumcats commented on #987
Looks like this happened in #981.

[2020-06-08 18:01] WeiqunZhang commented on #987
We should switch to use nvcc's macro.

[2020-06-08 18:34] maximumcats commented on #987
Agreed. This is the right thing to do anyway because the parsing of the output would have failed in CUDA 11.0 (the output format of `nvcc --version` changed).

[2020-06-08 19:15] #987 closed, assigned to nobody

[2020-06-12 17:22] asalmgren commented on #979
@eschnett -- should this issue remain open or has it been successfully resolved?

[2020-06-12 17:23] asalmgren commented on #944
@sayerhs has this issue been resolved?

[2020-06-12 17:24] asalmgren opened #1014 "agglomeration and consolidation never mentioned in documentation"
It would be good to add a brief section in the linear solvers section of the amrex documentation that describes agglomeration and consolidation and what the default behaviors are.

[2020-06-12 17:45] eschnett commented on #979
This issue concerns more or less just AMReX code itself. Others will not be affected, unless they `using namespace amrex`. (A respective warning in the documentation might be in order, if it isn't already there.) You can close the issue.

[2020-06-12 18:31] cyrush opened #1015 "change AMReX's conduit blueprint ghost field name to match ascent default"
`ghost_indicator` differs from the default that ascent expects (`ascent_ghosts`) -- calling requires extra setup. Migrate to use ascent default.

[2020-06-12 18:31] cyrush commented on #1015
FYI: I can't assign to myself, but I plan to tackle this.

[2020-06-12 19:09] sayerhs commented on #944
@asalmgren Unfortunately no. As of 1d75ba05f084cd3c1 I still get the error.

[2020-06-12 23:03] eschnett opened #1018 "Installed AMReX is missing include file AMReX_MultiFabUtil_C.H"
I installed AMReX 20.06 (via Spack). The installed header file `AMREX_MultiFabUtil.H` includes the file `AMReX_MultiFabUtil_C.H`, which is not installed. The build fails.

I configured AMReX with `-DUSE_XSDK_DEFAULTS=ON -DDIM:STRING=3 -DBUILD_SHARED_LIBS:BOOL=OFF -DENABLE_MPI:BOOL=ON -DENABLE_OMP:BOOL=ON -DXSDK_PRECISION:STRING=DOUBLE -DENABLE_EB:BOOL=OFF -DXSDK_ENABLE_Fortran:BOOL=OFF -DENABLE_LI

[2020-06-12 23:10] WeiqunZhang commented on #1018
Some files have been misplaced in `ENABLE_FORTRAN` section.

[2020-06-12 23:13] WeiqunZhang commented on #1018
We will fix it.  But for now, could you turn on Fortran?

[2020-06-12 23:44] #1018 closed, assigned to nobody

[2020-06-13 02:34] eschnett commented on #1018
Thanks for the pointer.

[2020-06-13 14:22] GitHimanshuc opened #1021 "Official docker images on docker hub"
Having an official docker hub repository with different version of amrex will be a great help for the first time users of the library.
Right now the cleanest way to install amrex is via spack but even that can be a little daunting and time consuming at times.

For example one can pull the docker image of dealii and immediately try out the tutorials
[https://hub.docker.com/r/dealii/dealii](https://

[2020-06-15 13:29] ghost opened #1022 "Moving Embedded Boundary"
Hi all,

I noticed there is no official support for moving embedded boundary on the wiki page. Was this ever attempted ? If not would you consider coding it doable in a short time span?

I would imagine that advecting the level-set function, cut the cells and interpolating the cells values for the freshly cleared cells (classical cut-cell fashion) would work.

Thank you for your help.

[2020-06-15 15:54] WeiqunZhang commented on #1022
One of our users has successfully done moving EB with the current capability.  When one builds EB using `amrex::EB2::Build(...)`, an `IndexSpace` object is pushed to a stack.  One is allowed to build multiple `IndexSpace` objects and remove existing ones.  The stack can be manged with functions in `class IndexSpace`.  A lot of EB related functions (e.g., `makeEBFabFactory`) can take an `IndexSpace

[2020-06-16 20:20] ax3l opened #1025 "CI: Keeping an Eye on macOS + Fortran"
Opening this issue so we can post log files from macOS CI runners that failed while building with Fortran. Migrated from #1004

Please post links to PRs and attach text files with logs when you spot them. In the "Checks" tabs, e.g. [here](https://github.com/AMReX-Codes/amrex/pull/1004/checks?check_run_id=763167004), is a `...` symbol that has the option "View raw logs".

[2020-06-16 20:21] ax3l commented on #1025
Log from https://github.com/AMReX-Codes/amrex/runs/777512636?check_suite_focus=true:
[777512636.txt](https://github.com/AMReX-Codes/amrex/files/4788921/777512636.txt)
[code]

[2020-06-16 22:22] #979 closed, assigned to nobody

[2020-06-16 23:56] drummerdoc opened #1030 "Third party library support compatible with the AMReX build systems"
Building and effective management of third party libraries (TPL) and how they interact with the AMReX build systems is currently unclear, at least to me.

For PeleLM, we need to be able to manage a set of TPL builds compatible with the build systems of AMReX.  Presently for PeleLM, the libraries include SUNDIALS, SUITEPARSE and HYPRE. Like AMReX, the TPL builds need to distinguish and allow correc

[2020-06-17 00:28] asalmgren commented on #1030
It would be good to break this into smaller steps.

Can you share a very specific example of what went from working to broken
due to recent amrex changes?   Are the problems only with USE_CUDA = TRUE
or also with pure CPU?

On Tue, Jun 16, 2020 at 4:57 PM Marc Day <notifications@github.com> wrote:

--
Ann Almgren
Senior Scientist; CCSE Group Lead

[2020-06-17 00:30] WeiqunZhang commented on #1030
Are you compiling SUNDIALS as a library first and then use it in AMReX build system or having AMReX build system to compile SUNDIALS files?  The latter might be hard.

[2020-06-17 00:31] drummerdoc commented on #1030
@asalmgren  No I can't.  This has not worked yet.  The problems are as written, with the ability to create TPLs compatible with AMReX builds, and then linking to them.

@WeiqunZhang I am trying any way I can to manage the process.  I have a system now that is the AMReX make system calling an external makefile, passing options.

[2020-06-17 00:34] WeiqunZhang commented on #1030
Recursive make is hard.  It seems to me it would be easier if you compile TPLs separately using they systems and then use them as a library.  You might build multiple versions and add some make flags in PeleLM makefile to control which version of the libraries gets used.

[2020-06-17 00:35] asalmgren commented on #1030
I believe Nyx does what Weiqun suggested -- builds AMReX and SUNDIALS
separately -- Jean can you confirm?

On Tue, Jun 16, 2020 at 5:34 PM WeiqunZhang <notifications@github.com>
wrote:

--
Ann Almgren
Senior Scientist; CCSE Group Lead

[2020-06-17 00:50] drummerdoc commented on #1030
If I do that, then to make two different versions to allow debug comparison testing, I need to make two completely separate copies of the 4 repos and 3 TPLs and make sure all the run files are identical.  My goal is as if running MPI vs no-MPI, where the a pair executables can be build with USE_MPI=TRUE and USE_MPI=FALSE, and they can live in the same folder and use the same files. Moreover, if I

[2020-06-17 00:58] asalmgren commented on #1030
Just for clarity -- is this something that used to work but got broken
recently, or an "aspirational" build system?

On Tue, Jun 16, 2020 at 5:51 PM Marc Day <notifications@github.com> wrote:

--
Ann Almgren
Senior Scientist; CCSE Group Lead

[2020-06-17 01:06] jmsexton03 commented on #1030
Nyx does what Weiqun mentioned for SUNDIALS, where we use cmake to compile sundials libraries, and link against them when using gnumake to create a Nyx executable. For the on-the-fly halo-finding, we link against 2 TPL using gnumake to create a Nyx executable (there's a post-processing version on plotfiles that uses an amrex cmake built library to make a TPL executable using the TPL's cmake). The

[2020-06-17 01:07] drummerdoc commented on #1030
"aspirational"??  It's not something that used to work.  It is the result of working with our collaborators and trying to incorporate their work into ours, as they recommend.  In this particular example, Nyx does not need something like KLU because their "matrix" is tiny.  CASTRO doesn't need KLU because Don wrote an in-place inversion for his systems.

More generally, it is not crazy to think oth

[2020-06-17 01:16] maximumcats commented on #1030
Castro doesn't need KLU but we do need Hypre for the radiation code, and I have struggled with this in the past. I too would like it to be the case (both in the CMake and GNUMake build systems) that there was a well-defined path for obtaining and building a dependency like Hypre that ensures it is built with the same compiler settings we're building with the application. Otherwise we end up doing

[2020-06-17 01:16] drummerdoc commented on #1030
But yes, @asalmgren this is a capability I am requesting that does not yet exist for a problem that has arisen recently in trying to use existing tools to migrate to a more complex workflow suggested by our collaborators.  If this is not technically an "issue" I will close this ticket and seek other routes, but I thought the creative minds here might have a solution I hadn't thought of, or be able

[2020-06-17 01:22] jmsexton03 commented on #1030
I concur that tracking which compiler version things are built with and updating/comparing things appropriately is non-trivial. I don't necessarily think having a mega-build where amrex builds all the libraries will work, especially for those which are quite finicky (and take more than an hour to build). But cmake being able to use compile flags from other cmake library builds is useful.

[2020-06-17 01:28] WeiqunZhang commented on #1030
Maybe you can use a python script to control this.  The script will have a number of options.  It will translate them to the flags each library needs.  It builds each TPL separately, and then compile PeleC and AMReX.  Each time the script is called, it can remove all previous builds first.  With `ccache`, this should not have a big performance impact.  Note that the latest ccache works with CUDA.

[2020-06-17 01:29] drummerdoc commented on #1030
@jmsexton03 That is a strategy I've seen work, where make dumps out a set of options that are then mined by other builds.  I've seen it specific kinda the other way around, where it dumps the specific commands to used to link their libs into an app, but it's a good idea to think about whether we can cache a set of build options that can be parsed by a glue script that manages sub-makes (using what

[2020-06-17 02:48] drummerdoc commented on #1030
@WeiqunZhang That's kinda what I have, in a sense, right now.  The icky part is translating options for driving CMake, etc. and just managing the build/install folders.  Also, in our current make system, you generate a buildSuffix that captures all the variations we intend to support, and that defines the TPL variations we'd need, but that keeps growing/changing.  Maybe there's a strategy where th

[2020-06-18 19:49] asalmgren commented on #1030
@drummerdoc -- this workshop https://mail.google.com/mail/u/0/?tab=cm#inbox/FMfcgxwHNqMgxJNBtsdpcvzQMTzDrSnL might be relevant for PeleLM. They claim "The workshop will assist exascale code developers in learning how to resolve issues outside of their control and provide guidance on writing a build system generator capable of seamlessly configuring for multiple unique architectures with a variety

[2020-06-18 20:00] drummerdoc commented on #1030
I admit that it would be useful to be more up on such tools.

Also, with input from Weiqun, I now have a GNUmake-based system for the current Issue that functions reasonably, and will be working to make it more clean and generic so that other AMReX users can consider it for similar purposes.  I will close this issue when I can provide a direct link to my solution in a generic AMReX-based context f

[2020-06-23 17:48] drummerdoc opened #1046 "Fixed grids allows you to violate your own inputs."
Since the beginning of time, we have allowed the specification of a fixed grids, but this assumes that you "know what you're doing".  Sometimes, I clearly don't :), and screw up by giving grids that don't satisfy the inputs.  I wonder if it makes sense to add an option that "fixes" up the grids according to an understood set of rules to do things like ensure proper nesting, max_grid_size and block

[2020-06-23 18:01] asalmgren commented on #1046
I would recommend aborting rather than fixing the grids -- but I agree that
the user needs to be made aware their inputs are inconsistent

On Tue, Jun 23, 2020 at 10:49 AM Marc Day <notifications@github.com> wrote:

--
Ann Almgren
Senior Scientist; CCSE Group Lead

[2020-06-23 18:03] drummerdoc commented on #1046
That certainly would be easier to implement and describe.

[2020-06-23 19:59] eschnett commented on #665
I forgot that this was an issue and had to debug it again. Can you make this emit an error if the domain is too small for periodic boundaries?

[2020-06-23 20:06] asalmgren commented on #665
How small is your domain?   Is the issue that of trying to fill multiple
layers of ghost cells ends up extending past the domain itself?

E.g. if the domain is 4 wide but you want to fill 5 ghost cells?

or is there another issue?

On Tue, Jun 23, 2020 at 12:59 PM Erik Schnetter <notifications@github.com>
wrote:

--
Ann Almgren
Senior Scientist; CCSE Group Lead

[2020-06-23 20:59] eschnett commented on #665
My domain has 1 interior cell and 3 ghost cells. It's a 2d test of a 3d code. So I expect the altogether 6 cells to be filled by copies of the 1 interior cell.

I assume AMReX tries to do this in a single operations, but since the source is too small, there need to be 6 independent copies.

[2020-06-23 21:52] ldowen commented on #848
Is there any news on this front? I am curious what kind of speed up I would get if I am able to use SoA with AMR.

[2020-06-23 23:41] atmyers commented on #848
Not yet, but I will work on this and the other PeleC issues tomorrow.

[2020-06-24 19:23] ax3l commented on #944
Thank you for the report!
We will reorder the dependency search from using `add_subdirectory()` to [`include()`](https://github.com/ECP-WarpX/WarpX/blob/a84fbf632a93310a6f9cfaded704b295df98599c/CMakeLists.txt#L72-L87) logic to mitigate this. @mic84 is on it :)

[2020-06-27 19:13] maximumcats commented on #222
Closing as this has been resolved.

[2020-06-27 19:13] #222 closed

[2020-06-30 03:46] BenWibking opened #1070 "octree support for C++ application codes?"
Hi,

I have an unigrid finite volume application code developed in C++ that I want to port to an AMR framework, ideally AMReX. However, I would like to use octree AMR in order to allow for grid/block-level subcycling. Unfortunately, I cannot find support for octree-style AMR with C++ applications mentioned in the documentation. Is there support for this, or is this planned?

Thanks!
Ben

[2020-06-30 20:06] henry2004y opened #1071 "ParaView output contour gap"
I have a question about the grid output of AMReX. The slice filter works fine, but the contour filter creates gaps. See the attached figure in the [ParaView Discourse](https://discourse.paraview.org/t/amrex-output-contour-plot/4723).

[2020-07-01 17:24] asalmgren commented on #1070
Ben,

AMReX does not currently have traditional octree support, although we have
started some efforts to support octree-style gridding.

I'm curious that you say you want octree for grid/block-level subcycling --
traditional octree does not subcycle.  Can you clarify what you're wanting
to do?

On Mon, Jun 29, 2020 at 8:47 PM Ben Wibking <notifications@github.com>
wrote:

--
Ann Almgren
Senior Sci

[2020-07-01 18:51] rmrsk commented on #1070
In addition to only supporting square domains with factor 2 refinement, the bads news about an octree is that the fine level does not move "freely" inside the coarse level. You can still subcycle, but you are locked into having a buffer zone of half a leaf width.

There are tile-based refinement algorithms that relax the first two requirements, but they dont resolve the buffer issue.

Still, if yo

[2020-07-01 22:15] BenWibking commented on #1070
A few astrophysics codes have of late implemented grid-level subcycling with octree AMR. I suppose it doesn't have to be octree per se, but an AMR scheme that avoids having parent/child overlapping grids is necessary, as is usually the case with octree AMR.

This way, if there is, say, a localized hotspot, the fast sound speed in the hotspot only reduces the timestep on the grid it lives on, rathe

[2020-07-01 22:28] asalmgren commented on #1070
Ben,

Are you talking about codes that have no self-gravity solves?   Otherwise
I'm not sure at what time levels you would do the solves....

If everything is explicit one could certainly implement something like this
in AMReX (it would take some modifications) but one would have to be
careful. If you had two grids at the same spatial resolution but taking
different time steps, one would need to m

[2020-07-01 22:58] WeiqunZhang commented on #1070
Ben,

Are you looking subcyling or octree?  AMReX supports subcyling naturally.  Most AMReX codes do subcyling.  In fact, for `amrex/Src/Amr` based codes, one has to use a runtime parameter to turn off subcycling because it's on by default.  If what you want is subcyling, AMReX supports it and it does not require octree.  If what you are looking for is octree, AMReX could generate octree like grid

[2020-07-01 23:00] BenWibking commented on #1070
Yes, I was thinking primarily of the local adaptive timestepping in H-AMR, which does GRMHD and therefore doesn't have a Poisson solve. (Support for grid-level subcycling may also be planned for Enzo-E, but I don't think the code has been written yet.)

For my applications, I unfortunately do need a Poisson solve, and to be honest I haven't fully thought through how to do this correctly yet. I was

[2020-07-01 23:04] BenWibking commented on #1070
@WeiqunZhang To clarify, the data structure does not matter to me. The ability to avoid multiple covering grids is important to me, and that is what enables local grid-level subcycling (as opposed to setting the timestep and subcycling on each refinement level). So as far as I understand, Berger-Oliger patch-based AMR can't support local grid-level subcycling due to the multiple covering grids, si

[2020-07-01 23:24] asalmgren commented on #1070
What do you mean by multiple covering grids?

Sent from my iPhone

On Jul 1, 2020, at 4:04 PM, Ben Wibking <notifications@github.com> wrote:

﻿

@WeiqunZhang <https://github.com/WeiqunZhang> To clarify, the data
structure does not matter to me. The ability to avoid multiple covering
grids is important to me, and that is what enables local grid-level
subcycling (as opposed to setting the timestep a

[2020-07-01 23:26] zingale commented on #1070
do you mean that you want to ensure that the coarse grid under the hotspot is completely covered by the fine grid, so then you don't need to evolve the coarse grids at all?  If this is so, then I think that means you don't want to subcycle through the level hierarchy, right?

[2020-07-01 23:27] BenWibking commented on #1070
I just mean multiple grids (of different resolution levels) sitting on top of the same part of the domain.

[2020-07-01 23:29] BenWibking commented on #1070
@zingale Yes, exactly. I don't want to evolve anything but the finest grid at any point in the domain. With traditional implementations of octree AMR, this is trivially avoided, since at any point in the domain, there is only one grid (i.e. there are no 'coarse grids').

[2020-07-01 23:31] BenWibking commented on #1070
@zingale Or at least I don't want to evolve anything but the finest grid at any point in specially-designated parts of the domain, such as where the code has identified hot spots.

[2020-07-01 23:35] asalmgren commented on #1070
It is definitely possible to do that in amrex - but are you willing to
advance all the fine grids touching each other to advance with the same
time step?

Sent from my iPhone

On Jul 1, 2020, at 4:31 PM, Ben Wibking <notifications@github.com> wrote:

﻿

@zingale <https://github.com/zingale> Or at least I don't want to evolve
anything but the finest grid at any point in specially-designated parts o

[2020-07-01 23:38] BenWibking commented on #1070
No, I want to avoid that if possible.

[2020-07-02 18:16] WeiqunZhang commented on #1025
https://github.com/AMReX-Codes/amrex/runs/831730409?check_suite_focus=true

It strikes again.

Log: [831730409.log](https://github.com/AMReX-Codes/amrex/files/4871984/831730409.log)
[code]

[2020-07-03 19:43] tpg2114 opened #1092 "Not all processors used even when there are enough boxes"
I recently ran into an issue when trying to restart a simulation with more processors than it was originally using. The process to restart looks identical to the documentation -- read the box arrays, then for each level, create a distribution map. The documentation says that the library keeps track of how much work has already been assigned to a processor and takes that into account when assigning

[2020-07-03 20:46] tpg2114 commented on #1092
Was able to answer my own question... the key word I suppose was when I said it "looks identical" -- it wasn't identical, however.

I was doing something along the lines of:

    read all box arrays
    loop over levels
        set box array
        build distromap
        set distromap

    do something else

    loop over levels
         build multifab using boxarray and distromap

And therein i

[2020-07-04 00:10] WeiqunZhang opened #1093 "nvcc and mpicxx"
I don't see a way to fix this WarpX issue without major changes to the make system. https://github.com/ECP-WarpX/WarpX/issues/1144  The issue is nvcc does not recognize the `-pipe` flags passed by mpicxx to gcc.

Currently we are setting environment variables such as `OMPI_CXX` and `MPICH_CXX` so that the `mpicxx` will use nvcc as underlying compilers.  For OpenMPI family, we further set `OMPI_CXX

[2020-07-04 01:19] maximumcats commented on #1093
While writing a wrapper for nvcc [is a possible path](https://github.com/kokkos/kokkos/blob/master/bin/nvcc_wrapper), it's not one I recommend we take. An option to nvcc was added to [forward unrecognized compiler options to the host compiler](https://docs.nvidia.com/cuda/cuda-compiler-driver-nvcc/index.html#options-for-guiding-compiler-driver-forward-host-compiler) (and [host linker](https://docs

[2020-07-04 01:29] WeiqunZhang commented on #1093
We should definitely add those new nvcc flags for >= 10.2.  Unfortunately most people are still using < 10.2.

[2020-07-04 01:29] WeiqunZhang commented on #1093
So maybe we should do both.

[2020-07-04 01:32] maximumcats commented on #1093
It doesn't seem worth it to go through the effort if 10.2 works for people and that will eventually become the default in the near future. (The WarpX issue indicates that this is not an urgent problem.) 10.2 is already the default on Cori GPU. 11.0 will be supported on Summit within a few months, and you can already use 10.2 there now (it's not exposed in the default environment, but I encourage p

[2020-07-04 01:37] maximumcats commented on #1093
Anyway let's first verify if the 10.2+ resolution works.

[2020-07-04 01:37] WeiqunZhang commented on #1093
I will try it on corigpu.

[2020-07-04 01:38] maximumcats commented on #1093
We could also try the strategy of making mpicxx the host compiler for nvcc. That doesn't always work either, but having it as an option probably doesn't hurt.

[2020-07-04 06:49] #1093 closed, assigned to nobody

[2020-07-04 12:39] dunhamsj opened #1096 "nGhost for MultiFab%copy doesn't accept vector"
Hello,

I'm using the Fortran interfaces, and I want to use the copy functionality of MultiFabs, but it only accepts scalars. I have different numbers of ghost cells in the different spatial dimensions, and was wondering if nGhost can be extended to include 3D arrays?

Thanks,
Sam

[2020-07-04 14:46] WeiqunZhang commented on #1096
Yes, we will add it.

[2020-07-04 14:47] WeiqunZhang commented on #1092
Thanks for the suggestion.  We will update the documentation to make it clear.

[2020-07-04 15:09] dunhamsj opened #1098 "amrex_multifab_build doesn't accept vectors for nGhost"
Hi,

I'm using the Fortran interface, and would like amrex_multifab_build to accept a 3D array for nGhost, because I have different numbers of ghost cells for the different spatial dimensions.

Thanks,
Sam

[2020-07-06 17:22] WeiqunZhang commented on #1098
Please let us know if #1099 works for you.

[2020-07-06 20:05] #1092 closed, assigned to nobody

[2020-07-07 01:24] BenWibking commented on #1070
Is there any update on this?

[2020-07-08 03:37] WeiqunZhang commented on #1025
https://github.com/AMReX-Codes/amrex/pull/1111/checks?check_run_id=848249709

Linux + Fortran also fails.

[code]

[linux_gfortran.log](https://github.com/AMReX-Codes/amrex/files/4888474/linux_gfortran.log)

[2020-07-08 04:47] ax3l commented on #1025
huh, is it possible we have a naming collision in the `mod_files/` directory between different targets? that could be it!

update: ui, those CMake files in tutorials need some de-dusting :)

[2020-07-08 05:58] #1025 closed, assigned to ax3l, WeiqunZhang, mic84

[2020-07-08 14:15] tpg2114 opened #1113 "amrex_fillpatch with two levels will segfault when scomp doesn't start at first index"
While trying to split apart a call to the Fortran `amrex_fillpatch` so I can use different interpolation methods for different variables in the Multifab, I ran into a segfault when the `scomp` argument does not start at the first index. I tracked the problem down to the `for` loop that builds the BC's in `AMReX_fillpatch_fi.cpp` on [line 69](https://github.com/AMReX-Codes/amrex/blob/development/Sr

[2020-07-08 14:26] tpg2114 commented on #1113
It looks like the same problem occurs in `amrex_fillcoarsepatch` and the loop on [line 97](https://github.com/AMReX-Codes/amrex/blob/development/Src/F_Interfaces/AmrCore/AMReX_fillpatch_fi.cpp#L97) also needs updated for `scomp` not at the start.

[2020-07-08 21:50] WeiqunZhang commented on #1113
Thanks for reporting this!

[2020-07-08 21:57] tpg2114 commented on #1113
No problem! I'm working out what I need to do to submit pull requests directly (whether or not I need approval for public release from a government lab) -- hopefully in the future I can contribute more easily if I find other issues.

[2020-07-09 00:25] #1113 closed, assigned to nobody

[2020-07-09 15:28] sayerhs opened #1124 "AMReX CMake: Bad AMReX_Config.H with AppleClang"
Executing `make install` with a CMake configured project using AppleClang ends up with a malformed `AMReX_Config.H` header file.

When building against MacOS default LLVM/Clang, CMake sets `CMAKE_CXX_COMPILER_ID = AppleClang` this is not checked in the install helpers https://github.com/AMReX-Codes/amrex/blob/fd4e0d1078a489fe9f07f0d4aa9de77f1680ed2c/Tools/CMake/AMReXInstallHelpers.cmake#L26-L36 an

[2020-07-09 18:02] ax3l opened #1125 "GPU Memory: Warn When Out of Memory"
Just documenting this here so I don't forget it.

Similar to `amrex.abort_on_out_of_gpu_memory` an `amrex.warn_on_out_of_gpu_memory` that writes arena out-of-memory events to `stdout` or `stderr` would be useful.

https://amrex-codes.github.io/amrex/docs_html/GPU.html#inputs-parameters

[2020-07-09 18:32] ax3l commented on #1124
Thank you for the detailed report!

[2020-07-09 18:37] ax3l commented on #1124
@WeiqunZhang what do we roll with in `GNUmake`, I would just go with `__llvm__`. Most of the time this works.

[2020-07-09 18:41] sayerhs commented on #1124
@ax3l I can confirm that `__llvm__` works with AppleClang

[2020-07-09 18:57] WeiqunZhang commented on #1124
Yes, I agree with using `__llvm__`.

[2020-07-09 20:15] ax3l opened #1129 "CMake: Allow Unknown Compiler"
Follow-up to https://github.com/AMReX-Codes/amrex/pull/1127#issuecomment-656325272:

We should implement a `AMReX_ALLOW_DIFFERENT_COMPILER`/`AMReX_UNKNOWN_COMPILER` switch (or similar) that skips the checks in `AMReX_Config.H`. This workflow is relevant for compiler vendors and other experimental folks trying, testing and developing new compilers against AMReX.

Correspondingly, the `configure` sc

[2020-07-09 20:57] #1124 closed, assigned to ax3l, mic84

[2020-07-10 00:23] #1129 closed, assigned to mic84

[2020-07-10 01:04] maximumcats opened #1132 "Post-timestep regrid should be simplified"
An elegant approach to the need for post-timestep regrids (rather than pre-timestep regrids) is to simply add a flag like `amr.regrid_at_end_of_timestep`, defaulting to 0, which just does the normal regrid functionality after the timestep instead of before, but is otherwise symmetrical with the pre-timestep regrids (and therefore respects parameters like `regrid_int` transparently). This should be

[2020-07-12 19:37] drummerdoc opened #1136 "Suggested code cleaning to avoid GPU-related porting mistakes"
In all AMReX applications ported to GPU, there are countless repetitions or slight variations of the following code.
[code]
This seems unnecessarily verbose and error-prone, and if we decide to change this strategy in the future to support HIP or DPC++ shortcomings, or other architectures, this will require a pile of manual search and replace edits that will also be error-prone.

It would be nicer

[2020-07-12 19:42] maximumcats commented on #1136
I don't think this requires any changes to AMReX to implement at the application code level. The application can define their own macro if they want to, and by default we now have a tile size that effectively always disables tiling for the GPU build (#953).

[2020-07-12 19:52] drummerdoc commented on #1136
The comment/suggestion was intended to apply more broadly than just one application.  It was intended as a suggestion to improve the AMReX API in general.

[2020-07-12 19:55] maximumcats commented on #1136
It doesn't hurt to add another macro if it's useful (which is the only change needed here). I'd prefer if it was named clearly to indicate that it is intended to disable the parallel region for GPU builds (since there are applications where one might want to use OpenMP even when building to target GPUs).

[2020-07-12 19:57] drummerdoc commented on #1136
There's a balance.  I originally thought of something more verbose, but decided that the use case you mention is at this point rare enough that it is a special case rather than the norm. I believe the same logic was followed to decide to implement #953

[2020-07-12 21:25] WeiqunZhang commented on #1136
Not all applications use `#omp paralllel if (Gpu::notInLuanchRegion())`.  WarpX simply disables OpenMP in makefile if it is built for GPU.

If we have to have `AMREX_OMP_PARALLEL_END`, I would argue that's certainly more error prone.  Fortunately we don't.  So what we are really looking at is
[code]
or
[code]
vs.
[code]

Another thing is it's not always simple `omp parallel`.  If it has some addit

[2020-07-12 22:02] drummerdoc commented on #1136
The WarpX example then would be a no-op.  The reduction requirement is a special case that is extremely rare in almost every app that I have looked at.  Also, we could avoid the END component by using a () syntax like many other AMReX macros.

All that said, there seems to be a desire to keep the repetitive/verbose syntax in order to keep the operations explicit in this particular case. Thank you

[2020-07-12 22:02] #1136 closed, assigned to nobody

[2020-07-15 10:41] ghost commented on #1022
Thank you

[2020-07-15 10:41] #1022 closed, assigned to nobody

[2020-07-15 20:51] #944 closed

[2020-07-16 16:26] zingale opened #1146 "changes in PR 1109 break Castro compilation"
The recent PR merge of #1109 1109 breaks the compilation of Castro.  It looks like just 1-d problems are affected:

http://groot.astro.sunysb.edu/Castro/test-suite/gfortran/2020-07-16/hydrostatic_adjust.html

[2020-07-16 16:31] #1146 closed, assigned to nobody

[2020-07-17 04:45] #579 closed

[2020-07-21 14:03] DUGKS opened #1157 "Is there an iterator to traverse the data in the finest cells across all the levels?"
I have written a kinetic solver within the framework of AMReX, which works well with a uniform grid. Now I am trying to modify the code to implement the AMR technique.  The `Advection_AmrCore` in `Tutorials` adopts the "subcycling-in-time" technique, which is not suitable for my solver.

Finite volume method is used in my code and the update of variables _phi_ at cell center is imagined as
1. Use

[2020-07-21 18:00] WeiqunZhang commented on #1157
If you make the following change, The Advection_AmrCore tutorial should work without subscycling.  FluxRegister works because the flux MulitFabs have been multiplied by dt*area.

[code]

Does this answer your question?  Or do you still want to use leaf iterator?  The short answer is there is no leaf iterator unless the grids are octree type.

[2020-07-21 18:06] asalmgren commented on #1157
A few questions and a few answers:

First -- as to your question 2 -- we have an average_down_faces routine
that averages data from fine faces to coarse faces -- I think that's what
you need

Wrt Weiqun's response -- what he suggested is one way not to subcycle.  But
a different approach is to do each part of the advance across all levels
rather than complete the advance at level 0 then advance at

[2020-07-21 22:03] mattbement opened #1160 "amrex_geometry_initialzied should be set to false upon finalization (and spell checked)"
In Src/F_Interfaces/Base/AMReX_geometry_mod.F90, amrex_geometry_initialzied should probably be set to .false. in amrex_geometry_destroy.  Failure to do so can cause problo and probhi to be erroneous.  Also, should probably fix spelling to amrex_geometry_initialized.

[2020-07-21 22:20] WeiqunZhang commented on #1160
Could you tell us more about your use case? Are you building multiple geometry objects with different problo and probhi?

Thanks for pointing out the typo.  I used auto-completion in emacs.  So if a typo is made in the place, it sometimes propagates all the way through. :)

[2020-07-21 22:34] mattbement commented on #1160
I'm working with Neil Carlson and Zach Jibben on TruchasPBF.  In a nutshell, our parallel-in-time approach requires us to repeatedly set up and tear down AMReX meshes, potentially with different physical domains. We never have more than one geometry object in existence at a time, but we need to make sure each one gets initialized cleanly.

[2020-07-21 23:00] nncarlson commented on #1160
@WeiqunZhang, to expand on Matt's description, we execute sequences of amrex "sessions" bracketed by `amrex_initialize` and `amrex_finalize` pairs (there is only one `mpi_init` and `mpi_finalize` on the outside).  The `amrex_geometry_module` has initialized `save`'ed module variables.  These effectively need to be reset when `amrex_finalize` is called.  Here is my patch that appears to work for us

[2020-07-21 23:29] WeiqunZhang commented on #1160
@nncarlson The fix looks good to me.  Do you want to submit a PR or want me to do it?  Please feel free to fix the typo.

[2020-07-21 23:43] nncarlson commented on #1160
I'll do a PR that includes the typo fix.

[2020-07-22 01:54] #1160 closed, assigned to nobody

[2020-07-22 03:25] DUGKS commented on #1157
Many thanks for your detailed reply. It helps me a lot.

The average_down_faces routine is exactly what I need.

It seems that incflo advances through all the cells (including the coarser cells) at level 0, which is inconsistent to my initial thoughts. I'll take a deep look at the source code if the advance through all cells at each level cannot be avoided.

I do want to coarsen the data in fine c

[2020-07-22 04:28] DUGKS commented on #1157
Many thanks for your guidance!

The modified codes do help me understand "advection without subcycling" better and it would be possible for me to modify my code in this pattern. However, the extra cost paid on the calculation in coarser grids is really disturbing.

Now I confront a dilemma of choosing
1. advection through each grid on all levels, in which extra calculation has to be tolerated;
2.

[2020-07-22 05:17] drummerdoc commented on #1157
Are you sure that your concern about extra work on the coarse levels is justified.  Over the years, I have found a good rule of thumb to be that 70-75% of the work is on the finest level and 20-25% is on the next-to-finest level.  Anything coarser has been essentially free, unless the problem was not particularly well suited for AMR.  It might be worth estimating the cost with some simple argument

[2020-07-22 10:17] DUGKS commented on #1157
Many thanks for sharing your valuable experience.

I only made a rough estimation of the extra cost.

Take the following grid as an example.

On the root level (say level 0), advance needs to be done in 3 extra girds.
On the first level, advance needs to be done in 7 extra girds.
On the second level, advance needs to be done in 15 extra grids.
<img src="https://user-images.githubusercontent.com/40

[2020-07-22 10:36] darylbond opened #1167 "How to impose normal EB condition with nodal projection?"
I have cell centred data defining electric and magnetic fields and I am using the nodal projection method as outlined in the [docs](https://amrex-codes.github.io/amrex/docs_html/LinearSolvers.html#nodal-projection) to approximate the divergence condition div(E)=rho_c and div(B)=0. I am now implementing EB boundary conditions and the magnetic field boundary for a perfect conductor is satisfied by t

[2020-07-22 10:54] rmrsk commented on #1157
Yes this illustrates Marc's point. In this case you have 79 "valid grid" advances and 104 grids in total. So about 25% less work to do what you suggest. But these things also depend on the number of processes. If you had 16 ranks the overhead would be zero because the "extra" grid computations finish at the same time as the "valid" ones. In 3D the penalty is even less since one grid would be split

[2020-07-22 11:12] BenWibking commented on #1070
@asalmgren @WeiqunZhang @zingale Just want to check again if this is a feature that will be feasible to implement with AMReX in the near-term. If this is not something that can be supported, I'll close this issue.

[2020-07-22 18:03] WeiqunZhang commented on #1167
I think EB boundary being a perfect conductor for the E field means the potential (i.e., the scalar field we solve in projection) is a constant (say zero) on EB boundary, whereas we have Neumann boundary on EB for the B field and velocity.  In the later case, a node of a cut cell is part of the linear system's unknowns, even if it is inside EB.  But for the E field case with homogeneous Dirichlet

[2020-07-22 18:27] rhouim opened #1170 "Potential Memory Leak during RemakeLevel with AmrCore"
Hi,

We have built multiphase reactive flow solver based on AmrCore which has been working great for us.  A couple of our users doing larger production runs have run into memory issues. I fixed a few memory leaks and “trimmed the fat” on our MultiFabs by removing unnecessary ghost cells. However, the larger memory leak issue still remains.

I investigated this and found that memory usage increases

[2020-07-22 20:30] WeiqunZhang commented on #1170
Could you add something like below inside your time stepping loop?  You can also add it around Remakelevel.
[code]

Could you then compile your code with `MEM_PROFILE=TRUE`?  When you run, you should get a file named `memlog`.   Could you post your `memlog` here?

[2020-07-22 22:05] rhouim commented on #1170
Thanks for taking a look.  Attached please find the memlog.  I placed calls to MemProfiler::report at the start of the main routine that integrates the governing equations for each time step ("time step"), at the start of RemakeLevel ("Remake Level Start"), and at the end of RemakeLevel("Remake Level End").

The parameters of the calculation are the same as column 4 in the table: Read in the check

[2020-07-22 22:50] WeiqunZhang commented on #1170
It looks to me the memory spike happens after the end of RemakeLevel.  For example,
[code]
Note that `VmRSS` increased from 238 to 264.

The memory in AMReX objects (e.g., MultiFab) seems normal to me.  Could you look carefully between the end of RemakeLevel and the start of next time step?  Maybe the new level forced the recreation of some objects, but the old ones were not deleted.

[2020-07-22 22:55] WeiqunZhang commented on #1170
Have you run valgrind?  Something like `mpiexec -n 4 valgrind --leak-check=yes --track-origins=yes --log-file=vallog.%p ./foo.exe ...`

[2020-07-23 04:38] rhouim commented on #1170
I re-ran the memory profile closer near a regrid that produced a large spike.  I also instrumented the heck out of the code.

I made an extra call to FillPatch after regrid and before the first time step.  The memprofile before and after the first FillPatch are below. I only show the peak VmRSS beasue the minimum increases similarly.

| Before First FillPatch   |  After First FillPatch |
|--|--|
|

[2020-07-23 10:27] darylbond commented on #1167
Yes, the final corrected potential across the entire surface should be constant, but I believe the condition at the surface is inhomogeneous Neumann. That is, we have `E = -grad(phi)` and with the condition that the electric field is normal to the interface, we have `n.E = -n.grad(phi) = -dphi/dn`, where `n` is the surface normal. Is it possible to define an inhomogeneous Neumman condition with EB

[2020-07-23 17:58] WeiqunZhang commented on #1167
I am confused.  It seems to me that specifying both Dirichlet and Neumann would overspecify the problem mathematically.  Physically, it seems to me that you are saying the surface charge is known before the solve and it's fixed during the solve even though it's the surface charge on a perfect conductor.

[2020-07-23 20:11] WeiqunZhang commented on #1167
Here is my understanding of your problem.  We can decompose any `E` field into two parts `E = grad p + curl A`.  You want to get rid of the curl part.  Taking div on both sides gives us `div E = div grad p`  You solve the problem to obtain `p`.  Then you simply compute `grad p` and that's your `E`.  Note that this is different from projection for B and velocity, for which we do `B - grad p` to get

[2020-07-23 20:28] WeiqunZhang commented on #1170
@zingale @ajnonaka @doreenfan @harpolea Have you noticed any similar issues with MAESTROeX?

[2020-07-23 20:38] rhouim commented on #1170
Valgrind did not turn up anything useful.  Just some small stuff during initialization and finalization.

I did some more poking around and instrumented the code even more finely.  I also added a call to `setVal` for the temporary MultiFab in `RemakeLevel` to separate the portion of memory jump due to the tempory MultiFab that is setup in `RemakeLevel` and what is happening elsewhere.  Again, the

[2020-07-23 20:59] WeiqunZhang commented on #1170
Can you run with `amrex.v=2` and show me the output on Arenas in the end?  I wonder if it's because of `The_Pinned_Arena`.

[2020-07-23 21:12] rhouim commented on #1170
Here is the output of the Arenas:

[code]

[2020-07-23 21:20] WeiqunZhang commented on #1170
Is this a big run or a small run?  Communication routines use the pinned arena.  It allocates memory from the system and holds on to it after the communication routines "free" the memory.  Next if it is asked for a size that's bigger than what it has, it will allocate from the system again.  In principle it's possible if the problem always steadily increases the size, the pinned arena may have to

[2020-07-23 22:23] rhouim commented on #1170
Is there a way to periodically flush the Pinned Arena?

This is an expanding blast problem whose size steadily increases.  Initially almost none of the domain is refined.  The number of refined cells increases as the blast expands in size.  So what you are said fits.  The major growth of memory, aside from the larger MultiFabs, seems to be within a call to `FillPatch` anytime the grid changes.  As

[2020-07-23 22:41] WeiqunZhang commented on #1170
Besides the run with the current version, could you do another run with the following change?
[code]

If the pinned arena is the problem, this change will fix it.  For CPU runs, we don't actually need to use pinned memory.  But for GPUs, we do want to.  Then we probably have to release small memory chunks back to the system to avoid this kind of problem.

[2020-07-23 23:47] darylbond commented on #1167
I am still trying to figure it out myself, so the confusion is mutual. I'll do some more thinking on the matter, many thanks for your suggestions.

[2020-07-23 23:58] ax3l opened #1183 "AmrLevel Tutorial & SP: Fortran Types in Memorypool"
The AmrLevel tutorial is hard-coded in double precision, which means it fails to build against AMReX with single-precision support since the memory pool bindings in Fortran only expose single or double precision routines.

Example reproducer with CMake (but not specific to CMake):
[code]
(Seen with both GCC 7.5 and Clang 6.0 on my Ubuntu 18.04.)

[code]

The solution is probably to expose bindings

[2020-07-24 01:27] rhouim commented on #1170
It looks like that change helped quite a lot.  The memory usage after step 705 went from a max `VmRSS` of 208 MB  using `The_Pinned_Arena` to 165 MB using `The_Cpu_Arena`.

I restarted the simulation from the start to check how the memory grew with time.  The memory at step 699 is now 12.7 GB using `The_Cpu_Arena` and it was 20.3 GB using `The_Pinned_Arena`.

[2020-07-24 01:29] WeiqunZhang commented on #1170
Great!  We will fix this for CPU build first and think about how to handle this for GPU build.

[2020-07-24 01:49] rhouim commented on #1170
Awesome!  Thanks for looking into this!

I'll put the modified file in our code repo until it is fixed in the AMReX repo for the CPU Build.

[2020-07-24 03:28] #1096 closed, assigned to WeiqunZhang

[2020-07-24 03:28] #1098 closed, assigned to WeiqunZhang

[2020-07-24 05:23] #1170 closed, assigned to nobody

[2020-07-24 20:24] drummerdoc opened #1195 "Communicate AMReX modifications that change downstream solutions/behaviors"
Recently, minor changes were made to the way the tensor solver interprets EB geometry at outflow boundaries.  While they are almost surely "the right thing to do", they change computed solutions, and will impact downstream codes in ways that the mod developers can't possibly anticipate.  This will affect regression tests, and solutions in general, and could cause a lot of confusion.  They also sug

[2020-07-24 20:49] zingale commented on #1195
I think the release notes are the best place.

Of course, you could have AMReX Twitter...

[2020-07-24 22:51] drummerdoc commented on #1195
One problem with release notes is that they put all the work on Weiqun, not only to describe what was done, but why.  Moreover, if the mod does make the highlight reel, it's tersely summarized at best.  In the case of the solver outflow BC's above, a couple sentences describing the fix, maybe a picture and some indication of what was observed and how this fixes things, would be useful.  Currently,

[2020-07-24 22:54] zingale commented on #1195
we try to require each PR that is a major change to update our release notes (CHANGES.md) as part of the PR with a link to the PR number.  That way the author of the change describes the impact and the link to the PR can be used to see additional details including any figures put in the PR discussion.  I think that works well for us, but you have be require the update to the release notes before a

[2020-07-24 22:58] zingale commented on #1195
also, regarding fpu, I think we documented that in the appendix of this paper: https://iopscience.iop.org/article/10.1088/0004-637X/807/1/60/pdf

if I recall, it stood for face predict upwind

[2020-07-24 23:07] drummerdoc commented on #1195
Nope :). I wrote the first version of that in IAMR and when I named it, it was for "fill patched Umac".

[2020-07-24 23:42] asalmgren commented on #1195
One thing we could do -- while incomplete it would still be helpful -- is to identify in every PR whether it is expected that anybody's solutions (aka regression tests) will differ as a result of this change.   I don't know if there's a slick git way to do that, or just "require" that the person writing the commit make a statement about the expectation of whether it will change the answer.

[2020-07-24 23:43] zingale commented on #1195
you can do that with a PR template as well.  We have those checkboxes for Castro:

https://github.com/AMReX-Astro/Castro/blob/main/.github/PULL_REQUEST_TEMPLATE.md

[2020-07-24 23:51] drummerdoc commented on #1195
I like the template!  Is there a way to round up the text of a month's worth of PR's into a summary document with an RSS feed or some other notification type thing?

[2020-07-24 23:52] zingale commented on #1195
I'm sure there's a github action for that.

[2020-07-24 23:59] drummerdoc commented on #1195
There is, it turns out.  ...looking into the config settings/functionality.

[2020-07-24 23:59] #1195 closed, assigned to nobody

[2020-07-26 04:50] wangzhezhe opened #1202 "404 for the document page"
Hello, there is 404 for the [document page](https://amrex-codes.github.io/amrex) currently, where could I get more detailed information about the AMRex? Thanks!

[2020-07-26 14:58] atmyers commented on #1202
Thank you - it should be back up now.

[2020-07-26 15:04] wangzhezhe commented on #1202
Thanks!

[2020-07-26 15:04] #1202 closed, assigned to nobody

[2020-07-28 03:23] #1167 closed, assigned to nobody

[2020-07-28 21:56] thomasgillis opened #1212 "HDF5 I/O - format details and possible typo in node vs cell data"
Dear AMReX community,

I am trying to replicate your data format for my own home-made I/O.
While going through the code, and especially [this file](https://github.com/AMReX-Codes/amrex/blob/1a4780d8ef5fb2fa7948ab926c942ea551690e60/Src/Base/AMReX_PlotFileUtil.cpp), I think that I found a small typo (see hereunder).

In any case, do you have a some extensive documentation on the file format that you

[2020-07-28 22:12] atmyers commented on #1212
It looks like you're correct to me - @houjun could you please confirm that this indeed a bug?

Re: a detailed description of the output format, that is something that we should have but currently don't. Let's leave this issue open as a reminder so that we get to this the next time we have a documentation push.

[2020-07-28 23:31] houjun commented on #1212
Yes, I think it is a bug, will create a pull request to fix this

[2020-07-29 00:12] #1212 closed, assigned to nobody

[2020-07-29 00:15] thomasgillis commented on #1212
@atmyers could you let it open so that I can get a description of the data format you use?
Thx for your time!

[2020-08-10 03:56] hsitaram opened #1246 "seg fault when main_main function is not used"
I am working with the amrex/Tutorials/Particles/NeighborList example where I made a minor change. I removed the use of the main_main function in main.cpp and directly used the code from it within.
See modification in my fork - https://github.com/hsitaram/amrex/blob/development/Tutorials/Particles/NeighborList/main.cpp

The case ran the prescribed number of time steps but finished with a segfault.

[2020-08-10 04:01] maximumcats commented on #1246
Yes, this is known behavior. See the last paragraph in this section of the documentation: https://amrex-codes.github.io/amrex/docs_html/Basics.html#initialize-and-finalize

[2020-08-10 14:05] WeiqunZhang commented on #1246
Maybe we could do something to make it more friendly.  Instead of completely deleting the Arenas, maybe we could leave them in a state that `free` can still be called without error.

[2020-08-10 16:13] hsitaram commented on #1246
Thank you very much @maxpkatz and @WeiqunZhang for your replies. Missed that bit in the documentation.

[2020-08-11 16:12] WeiqunZhang commented on #1246
Document my thoughts here.  `amrex::Finalize` could turn on a flag in `Arena`.  After the flag is on, `Arena::free` will call `delete this` if it's supposed to be the last one.  For `CArena`, we keep track of all the `alloc` and `free` calls.  So it's easy to know if a call to `free` is the last or not.  Bur `BArena` is currently a thin wrapper without any information on the number of calls to `al

[2020-08-11 16:16] maximumcats commented on #1246
Another way to do it would just be to assert if we're calling something in Arena after we have finalized (which could be checked with a static variable).

[2020-08-11 16:36] WeiqunZhang commented on #1246
Yes, we could do that too.  Probably much simpler.

[2020-08-11 16:48] #848 closed

[2020-08-17 14:55] darylbond opened #1272 "divide by zero in EB generation"
The function `set_eb_data()` fails with an arithmetic error given a simple signed distance field (SDF). The SDF is given by the quadratic spline approximation of a circle with four points and is shown below along with with the zero contour

![sdf](https://user-images.githubusercontent.com/726462/90408101-b9a83880-e0ea-11ea-987e-08a65ab3508d.png)

The offending code appears to be https://github.com

[2020-08-17 16:18] WeiqunZhang commented on #1272
This looks like a corner case that we have not seen before.  I am wondering how this happened, `axm=8.e-12, axp=aym=ayp=0`?  I guess it's possible if a cut on ym or yp face is so small that aym or ayp becomes 0.  Could you please share your EB setup so that we can make EB generation more robust?

[2020-08-17 19:18] OscarAntepara commented on #1272
Maybe this could be related but I am getting this error `0::Assertion ncuts <= 2' failed, file "../../../Src/EB/AMReX_EB2_3D_C.cpp", line 494, Msg: "amrex::EB2::build_faces: more than 2 cuts not supported" !!!`
with this configuration

       `Geometry geom;
        {
            RealBox rb({-0.64,-0.32,-0.32}, {0.64,0.32,0.32}); // physical domain
            Array<int,AMREX_SPACEDIM> is_periodic

[2020-08-18 01:23] darylbond commented on #1272
@WeiqunZhang I would gladly share the EB setup but it is implemented through a highly customized lua initialisation routine, rather than the IF classes available in AMReX, so that could be a little tricky. Unfortunately, our project isn't open source (yet), so I can't just give you a link. I had a crack at implementing the same geometry using the SplineIF class but something is going on there too,

[2020-08-18 01:31] WeiqunZhang commented on #1272
Yes, that's a bug.

Not sure what's going on with the circle.  @rgrout

[2020-08-18 02:23] asalmgren commented on #1272
@OscarAntepara -- does it fail in 2D as well (at 45 degrees) or only in 3D?

[2020-08-18 16:07] OscarAntepara commented on #1272
only in 3D, as far as I have tested it

[2020-08-23 17:20] tpg2114 opened #1300 "NaN's after `amrex_fillpatch` and corner cell communication"
I am struggling to get my code to regrid properly -- the calls to `amrex_fillpatch` end up not initializing cells and it appears to be in the corner ghost cells. I saw the recent commits on Issue #1171 and that seemed to be related. That method isn't exposed to Fortran, but to try and hack it in to test if it fixed my problem, I modified `F_Interface/Base/AMReX_multifab_fi.cpp`:

[code]

For my ca

[2020-08-25 16:10] jrood-nrel opened #1304 "Documentation rendering problems"
Hello, I noticed in the documentation, for example https://amrex-codes.github.io/amrex/docs_html/External_Profiling_Tools.html#nsight-systems, the `.rst` files have lines that are invisible in the rendered documentation.

[2020-08-25 16:58] atmyers commented on #1304
Thank you for pointing this out, I believe this will fix the error: https://github.com/AMReX-Codes/amrex/pull/1306

[2020-08-25 17:42] aerojpapp opened #1308 "Tag Array Assignment in version 20.07"
Hello All,

I've recently upgraded from version 19.10 to 20.07 and noticed a peculiarity with the tag array assignment.  To be able to use AMReX with my software, the unrefined level 0 grid is specified by my own partitioning program.  In other words, in my overloaded make new level from scratch routine, instead of using the topology AMReX determines, I reset the box array and distro-map to my own

[2020-08-25 18:09] WeiqunZhang commented on #1300
I don't see anything obvious wrong in your code.  The ghost cell "hack" should be taken out.  It is for a very special case only.  There is a `amrex_multifab_write` routine that can be used to write out multifab including ghost cells.  You can use Amrvis (https://github.com/AMReX-Codes/Amrvis) to view it.  You might also want to read https://amrex-codes.github.io/amrex/docs_html/Basics.html#debugg

[2020-08-25 18:16] WeiqunZhang commented on #1308
Could you post some code snippets so that we could better understand your issue?

[2020-08-25 18:32] kngott commented on #1304
Oh: Andrew beat me to it!

I've added some additional changes to the highlighting to improve readability. Apparently, highlights inside sphinx's numbered lists don't work. This removes those as well to make the section on targeting regions for Nsight Systems analyses readable.

Thanks for pointing out the issue, Jon!

[2020-08-25 19:17] aerojpapp commented on #1308
Everything is pretty well embedded but I'll give you my "process"...

- Registering overloaded functions:

            !!
            !!  Register overloaded functions
            call amrex_init_virtual_functions(AMREXCoreFuns_MakeNewLevelFromScratch, &
                                              AMREXCoreFuns_MakeNewLevelFromCoarse,  &
                                              AMREXCoreFun

[2020-08-25 20:30] WeiqunZhang commented on #1308
In your overload of MakeNewLevelFromScratch, you can call `amrex_set_distromap`, but `amrex_set_boxarray` won't have any effects.  It is supposed to be done in a virtual function that is currently not exposed in Fortran.  However, we probably could modify the code to make `amrex_set_boxarray` called inside `MakeNewLevelFromScratch` work on the coarsest level.  Let me see what we can do.

[2020-08-25 20:46] aerojpapp commented on #1308
Doh!  Let me check something.  I may have already added some type of interface.  There are a few that I required and added to 18.10 and 19.10 and thought added to 20.07 but may have missed something.  I can give you a complete list and then you can decide if it is worth adding.

John

[2020-08-25 20:55] WeiqunZhang commented on #1308
Could you test #1310?

[2020-08-25 21:00] WeiqunZhang commented on #1308
If you have modifications that you would like to contribute, please feel free to submit PRs.  We will review them and then decide.

[2020-08-25 21:15] aerojpapp commented on #1308
Yes, looking at my 19.10 version, I changed AMReX_AmrMesh.cpp to set both box array and distribution map if the incoming time was greater or equal to zero for this exact function.  I forgot to change the function for 20.07.  I've implemented your fix and will get back to you if it works.

[2020-08-25 21:34] aerojpapp commented on #1308
That worked.  Thanks.

John

[2020-08-26 12:24] darylbond opened #1313 "extend_domain_face not working (2D)"
I am encountering issues on refined grids where ghost cells are not being flagged as covered with `extend_domain_face=true`. To test this I have defined a domain according to

[code]

with geometry according to `EB2::BoxIF box({19,-10}, {21,10}, false);` i.e. a simple box that overlaps the domain boundary with the box defining the covered area. The error can then be observed in the below image whe

[2020-08-26 15:16] jrood-nrel commented on #1304
Looks fixed, thanks!

[2020-08-26 15:16] #1304 closed, assigned to kngott

[2020-08-28 03:17] wangzhezhe opened #1318 "enable the tutorial in cmake"
Hello,

there is a simple question, how to build the examples in the tutorial? I have set `ENABLE_TUTORIALS   ON`, but it looks that the executable is not built successfully:

[code]

and there is only one target:

[code]

Thanks a lot for the help!

[2020-08-30 17:35] WeiqunZhang commented on #1313
I cannot reproduce what you see.  Could you provide a reproducer?

[2020-08-30 18:52] WeiqunZhang commented on #1272
I am able to reproduce the divide-by-zero error.  There is a PR to fix this.  Note that if it is not crashed by `amrex.fpe_trap_zero=1`, the old code actually produces correct results because those cells with `vcent=inf` will be set to covered later.

[2020-08-31 04:07] darylbond commented on #1313
I am putting together something now, but I have found that it appears the issue manifests when using `EB2::Build()` with `ngrow>4`.

[2020-08-31 05:03] darylbond commented on #1313
I have put together a stripped-down version of the EB CNS Pulse example:

[CNS_test.zip](https://github.com/AMReX-Codes/amrex/files/5148358/CNS_test.zip)

This includes some python plotting using the [matplotlibcpp](https://github.com/lava/matplotlib-cpp) library and so some python variables need to be configured in the makefile, or just disable it. Unfortunately, it also segfaults on exit and I h

[2020-08-31 18:14] mic84 commented on #1318
Hello

the tutorials targets are not included in the default target, therefore you need to explicitly do ```make <tutorial-name>``` to build a specific tutorial or ```make tutorials``` to build all of them. If you do ```make help```, you will see a list of available targets.
I apologize for the the documentation not being clear on this. Please let us know if this works.

[2020-08-31 22:22] WeiqunZhang commented on #1313
I think #1321 should fix the issue.

[2020-09-01 03:56] wangzhezhe commented on #1318
Thanks a lot for your help! @mic84

[2020-09-01 03:56] #1318 closed, assigned to mic84

[2020-09-02 00:02] #1313 closed, assigned to nobody

[2020-09-02 23:43] #1272 closed, assigned to nobody

[2020-09-03 16:31] bsrunnels opened #1335 "Paraview with Nodal Data"
Currently when loading Boxlib outputs from nodal data, Paraview does not read them correctly - they get read in as cell data rather than grid data. Is this a Paraview issue or an AMReX issue?

Edit: I have observed the same thing when visualizing nodal data with qt. VisIt visualizes nodal data fine.

[2020-09-04 15:10] rajeeja opened #1338 "Intel compiler error"
Trying tag 20.09 with
which mpif90
/soft/apps/packages/mpich-3.2-intel17-initial/bin/mpif90
...
make  -f GNUmakefile_intel_1D
Loading /nfs/proj-flash5/amrex_testing_clone/Tools/GNUMake/comps/intel.mak...
Loading /nfs/proj-flash5/amrex_testing_clone/Tools/GNUMake/sites/Make.unknown...
Compiling AMReX_multifab_mod.F90 ...
mpif90  -g -O2 -ip -qopt-report=5 -qopt-report-phase=vec -implicitnone   -modu

[2020-09-04 15:17] nncarlson commented on #1338
It looks to me like this is probably a code error.  It looks like the line intends to define a generic type bound procedure.  If so it should be `generic` instead of `procedure`.

[2020-09-04 15:39] WeiqunZhang commented on #1338
Yes, I think @nncarlson is right.  Those lines used to have only one procedure.  When we added more procedures, we should change from `procedure` to `generic`.  @rajeeja Could you let us know if that fixes your issue?

[2020-09-04 15:49] nncarlson commented on #1338
But you'll also need to make those procedures type bound:
[code]
Or if your compiler is too old, each declared separately (that's the context of your intel link @rajeeja)

[2020-09-04 17:31] wangzhezhe opened #1340 "the question about the load balance between different ranks for amr based simulation"
Hello,

I just started to learn the amr based simulation, I noticed that the execution time spent on different time steps varied a lot for arm simulation, is that because the difference of the refinement order for different time steps and ranks?

I'm not sure if I understand this problem in a right way: for the non-amr simulation, the workloads are basically same for different ranks, they update c

[2020-09-04 20:36] #1338 closed, assigned to nobody

[2020-09-04 21:26] rajeeja opened #1343 "corrupt AMReX_Config.H for intel compilers"
[code]

[2020-09-04 23:21] #1343 closed, assigned to nobody

[2020-09-05 19:28] bcfriesen opened #1347 "A few HPC SDK flags are wrong"
During compile tests of the CNS/Combustor code, I found two problems:

  1. The link step fails due to missing Fortran RTL symbols defined in `libnvf.so`, which is not currently linked to the main exe.
  2. When compiling with OpenMP, the code attempts to use the flag `-Mconcur=nonuma` which is not a valid flag in the latest version (20.7) of the HPC SDK.

[2020-09-08 15:11] #1347 closed, assigned to nobody

[2020-09-09 10:22] DUGKS commented on #1157
I'm currently developing codes based upon "incflo". Many thanks for the above suggestions.

[2020-09-09 10:22] #1157 closed, assigned to nobody

[2020-09-10 20:47] #1308 closed, assigned to nobody

[2020-09-15 16:39] alahyari opened #1369 "LinearSolvers - Tutorial - ABecLaplacian_C"
Hi AMReX people,

I have been trying to familiarize myself with the AMReX library lately, specifically the Poisson solver and the Embedded Boundary. I noticed when I plot the results of the Tutorial case "ABecLaplacian_C" for the Poisson solve (prob_type = 1) and "max_level = 2", the data from different levels do not lay on top of each other correctly. It seems there is an issue with the initializ

[2020-09-15 16:56] asalmgren commented on #1369
Shabab,

I ran that test and looked at the solution and rhs -- they look ok to me.

Note that they are cell-centered data -- is it possible your plotting
routine is expecting nodal data?

Could you send more detail about what you think is wrong?

On Tue, Sep 15, 2020 at 9:40 AM alahyari <notifications@github.com> wrote:

--
Ann Almgren
Senior Scientist; CCSE Group Lead

[2020-09-15 17:08] alahyari commented on #1369
Thank you very much for your quick reply. When I plot the data in ParaView, this is what I get.
![test](https://user-images.githubusercontent.com/52213174/93242200-6dd1c900-f754-11ea-87fc-fd5d9b4302b5.png)

[2020-09-15 17:13] asalmgren commented on #1369
Interesting -- I looked at it with amrvis and it was fine.

If you run with max_level = 1 does the data look ok?

which version of paraview are you using?

On Tue, Sep 15, 2020 at 10:08 AM alahyari <notifications@github.com> wrote:

--
Ann Almgren
Senior Scientist; CCSE Group Lead

[2020-09-15 17:16] alahyari commented on #1369
Sorry, I forgot to mention that this is the exact solution, and max_level = 1. I thought when initializing the problem, we need to account for the domain shift for finer levels, since such levels are assumed to always cover the middle of the coarse domain. Given the way the domain is initialized, my run returns geom[ilev].ProbLoArray() to be zero for all levels.

I'm using ParaView 5.8.1.

Thank y

[2020-09-15 17:20] asalmgren commented on #1369
ProbLoArray holds prob_lo which is the physical coordinate of the lower
left corner of the domain -- the physical size of the domain does not
change as a function of what level you are on

We use a global index space so cell (0,0,0) on the coarse grid would be at
physical location prob_lo + (dx_crse / 2) in each direction

Cell (0,0,0) on the fine grid would be a physical location prob_lo +
(dx_fi

[2020-09-15 17:40] alahyari commented on #1369
Your explanation does make sense. Interestingly, when I run the ABecLaplacian solve (with both homogeneous and inhomogeneous BCs), I do not face with this issue. It is only the Poisson solve that does not cooperate. And to be honest, when I manually shifted the data in "actual_init_poisson", it kind off solved the mismatching problem between different levels, but it is returning a wrong solution (

[2020-09-15 18:08] asalmgren commented on #1369
Try putting a print statement like this inside the actual_init_poisson
routine then plotting the output as 1d points - this gives a continuous
function across coarse/fine as expected.  Do you also get good values?

void actual_init_poisson (int i, int j, int k,
                          amrex::Array4<amrex::Real> const& rhs,
                          amrex::Array4<amrex::Real> const& exact,

[2020-09-15 19:29] vzendejasl commented on #1369
Hey Shahab,

I was able to run the ABecLaplacian_C tutorial and produce the following image with `max_level = 1` in the input file:

![image](https://user-images.githubusercontent.com/59891999/93255462-d322bb80-f74e-11ea-8dd7-91aee9fc1367.png)

All other parameters were left as is.

(Image produced with Paraview 5.8.0)

Hopefully this helps.

[2020-09-17 14:39] alahyari commented on #1369
@asalmgren @vzendejasl Thank you so very much for your quick replies and suggestions. I truly appreciate your help.

I tried printing the 1D data along the x-axis and plotting it, the transition is smooth and the result looks just fine. But, I think the issue is with the visualization, I sliced the domain at the very middle with the plane origin of (0.5, 0.5, 0.5). In this specific example (prob_t

[2020-09-17 17:18] vzendejasl commented on #1369
Shahab,

If I make a plot of the solution from taking a slice in the middle (0.5,0.5,0.5) I don't get a solution:

![image](https://user-images.githubusercontent.com/59891999/93504439-54ed2300-f8ce-11ea-9092-28a3e7685dc4.png)

If I move along the x axis by 0.25 I get:

![image](https://user-images.githubusercontent.com/59891999/93504556-7d751d00-f8ce-11ea-97cd-56360daecafc.png)

If I do as you spe

[2020-09-17 17:54] alahyari commented on #1369
Thank you, Victor. It is very interesting! Shouldn't there be a solution (e.g., zero, if you set the bounds on the right plot to -0.028 to 0.028)?

Here is what I do, I run the simulation using the default input file (with max_level = 1 and prob_type = 1), I simply import the data into the ParaView, and I create a slice with the origin at (0.5,0.5,0.5), I then rescale the data, and here is what I

[2020-09-17 19:08] vzendejasl commented on #1369
Hey Shahab,

Thank you for the clarification!

I do get the same plot you get:

@asalmgren what do you think?

![image](https://user-images.githubusercontent.com/59891999/93516134-73f3b100-f8de-11ea-8a39-23df9cd602fd.png)

[2020-09-17 19:16] asalmgren commented on #1369
Is this an issue with how paraview interpolates between grid points if you
specify a particular cross-section?

On Thu, Sep 17, 2020 at 12:08 PM vzendejasl <notifications@github.com>
wrote:

--
Ann Almgren
Senior Scientist; CCSE Group Lead

[2020-09-17 19:20] alahyari commented on #1369
Hey Victor,

Thank you for following up. The good news is that the code is just fine. The issue raises when plotting the data at the middle plane for this specific case, where the discretized solution is close to zero, so that the discretization error from a coarser grid to a finer one is comparable to the max value. I faced with the same problem on VisIt too. When I manually interpolate the data

[2020-09-17 20:20] vzendejasl commented on #1369
@asalmgren,

So what is happening is that when you take a slice of 2d data at ( 0.5, 0.5, 0.5 ) and set the solution data range to (-2.8e-2 to 0.2.8e-2) there is a jump when you move the 2d plane to ( 0.25, 0.5, 0.5 ).

The two pictures Shahab posted demonstrate show this jump.

I'm not sure if this is a paraview issue since it aslo comes in up amrvis3d (see picture below).

![image](https://user-

[2020-09-19 14:36] p-costa opened #1382 "compilation error with gfortran 10.2.0 (and OpenMPI 4.0.4)"
Hello everyone,

I get the following error when compiling `amrex` with make and gfortran 10.2.0 (and OpenMPI 4.0.4):

[code]

Which seems related to the following line:

[code]

To get it to work, I changed the line as shown below, and now the code compiles successfully:
[code]

Not sure if others also experienced this... Looking into the code, it seems like a bug in gfortran, but perhaps still wo

[2020-09-20 18:50] WeiqunZhang commented on #1382
Thanks for reporting this.  It used to the case that `include 'mpif.h'` was more portable than `use mpi`.  That's probably no longer true.  We will do some testing to see if we can switch.

[2020-09-20 20:40] #1382 closed, assigned to nobody

[2020-09-21 22:47] bvstraalen opened #1390 "Opening plotfile with VisIt"
Working on some code in WarpX, I write out plotfiles using

[code]

but when I try to look at these files using VisIt I can't see my variable.

https://amrex-codes.github.io/amrex/docs_html/Visualization.html#visit

I can open Header, and file info in Visit says Boxlib 3D file, with 1 patch.  but no variables are visible.

[2020-09-21 23:05] drummerdoc commented on #1390
Just curious...what's the centering of that variable?  Maybe VisIt ignores anything in a BoxLib3D file that isn't cell-centered?
Just a guess.

[2020-09-21 23:18] bvstraalen commented on #1390
Ah, it is centered on the xedge.   so domain is 0,0,0  63, 63, 63    but
this is sized 0,0,0  63, 64 64   with centering 0,1,1

is there some way to shift a MultiFab to remedy this?

Brian

On Mon, Sep 21, 2020 at 4:05 PM Marc Day <notifications@github.com> wrote:

--
Brian Van Straalen         Lawrence Berkeley Lab
BVStraalen@lbl.gov        Computational Research
(510) 486-4976            Divisio

[2020-09-21 23:32] bvstraalen commented on #1390
So when I print out rho, a cell-centered variable, then VisIt seems to work.

ugh.

[2020-09-21 23:42] drummerdoc commented on #1390
Ha!  Lucky guess.

Shifting?  No clue. that would seem to be application-specific, but there may be some handy tools laying around to do that.  I'm happy to say that I don't know that one !  Maybe @ax3l has words of wisdom?

[2020-09-21 23:53] atmyers commented on #1390
We usually average stuff to cell center for Visit using the functions here:

https://amrex-codes.github.io/amrex/doxygen/AMReX__MultiFabUtil_8H.html

[2020-09-23 08:30] lucafedeli88 opened #1397 "OpenMPI-related warnings"
Hi everyone!

When I compile the AMReX-based code WarpX on my laptop, I get a lot of OpenMPI-related warnings, such as (see https://github.com/ECP-WarpX/WarpX/issues/1230):
[code]

Compiling with  `-DOMPI_SKIP_MPICXX` should effectively silence these warnings ( https://github.com/open-mpi/ompi/issues/5157) .  For this reason, I would like to ask if it could be possible to add something like:
[code

[2020-09-23 15:20] WeiqunZhang commented on #1397
Could you try #1398?

[2020-09-23 15:57] lucafedeli88 commented on #1397
Thanks a lot! I've just tried https://github.com/AMReX-Codes/amrex/pull/1398 and the warning has disappeared!

[2020-09-25 03:57] hsitaram opened #1410 "particle redistribute when using cuda"
Hi

I was working on a project that used a similar structure as the amrex/Tutorials/Particles/NeighborList and I am getting some weird behavior when calling redistribute instead of redistributelocal. I think I understand that redistribute is a more thorough exchange compared to redistributelocal.

when I make this slight change in main.cpp in amrex/Tutorials/Particles/NeighborList

//pc.Redistribu

[2020-09-25 15:55] MaxThevenet opened #1412 "WriteMultiLevelPlotfile copies data from Pinned to Device memory"
In our AMReX-based code Hipace, we allocate the main 3D MultiFab in pinned memory, but when we call `WriteMultiLevelPlotfile` on this MultiFab it seems to be copied to the device memory. This is limiting because this MultiFab is much larger than the device memory for our production simulations, so it makes the simulation crash. See https://github.com/Hi-PACE/hipace/issues/145 for a full descriptio

[2020-09-25 19:59] atmyers commented on #1410
Thank you for pointing this out. The issue is that the neighbor particles need to cleared before calling Redistribute(). This was happening automatically for the local version, but not the global one. When PR 1415 is merged, this should be fixed.

[2020-09-25 21:47] hsitaram commented on #1410
Thank you @atmyers. Using clearneighbors before redistribute worked correctly on GPU. Although, I am puzzled how it was working ok on CPU. I can use the new branch and remove this call.

[2020-09-26 04:42] MaxThevenet commented on #1412
Update: this only happens if the MultiFab has guard cells. Otherwise, things work as expected.

[2020-09-29 05:41] maximumcats opened #1422 "1D CUDA compilation failure due to #1332"
#1332 has an issue compiling in 1D for CUDA (e.g. compiling CNS with DIM=1):

[code]

I assume this is because the `IntVect` constructor is different in 1D but the 1D fusible kernel macro isn't quite doing the right thing in this case.

[2020-09-29 06:56] ax3l commented on #1390
Sorry, did not see this last week and was on PTO most of it.
Cannot really add to the plotfile-VisIt question, I am more familiar with the openPMD (HDF5) write/read part we have for VisIt ([WarpX](https://warpx.readthedocs.io/en/latest/building/openpmd.html) / [VisIt](https://github.com/visit-dav/visit/pulls?q=is%3Apr+author%3Aax3l+is%3Aclosed+openPMD)).

We generally time and cell-center quantiti

[2020-09-29 16:16] #1422 closed, assigned to WeiqunZhang

[2020-09-30 13:37] sayerhs opened #1426 "Question regarding CMake variables"
I noticed a few inconsistencies regarding CMake variables that I wanted to clarify.

- The [CMake configuration options](https://amrex-codes.github.io/amrex/docs_html/BuildingAMReX.html#customization-options) says `ENABLE_SENSEI_IN_SITU`, while the [visualization page](https://amrex-codes.github.io/amrex/docs_html/Visualization.html#compiling-with-cmake) says `ENABLE_SENSEI`, but the actual source

[2020-09-30 21:54] mic84 commented on #1426
@sayerhs thank you for reporting this. PR #1428 will fix this issue.

[2020-10-01 05:58] #1426 closed, assigned to mic84

[2020-10-01 20:46] #1397 closed, assigned to nobody

[2020-10-05 16:20] timrlaw opened #1438 "Particle changes"
Hi @atmyers

It looks like 20.10 has brought a few changes to the way particles work. From what I can tell looking at PRs, the id and cpu fields have been "resized" to 40 and 24 bits respectively.

We have a code that does a fair bit of particle manipulation from Fortran, and in particular it quite often checks whether the particle id is positive, as a quick proxy for whether the particle is still

[2020-10-05 17:28] atmyers commented on #1438
Hi Tim,

Thank you for raising this issue, and apologies for the breaking changes. Checking / setting the particle ids as you are doing should definitely work going forward. I think the ideal way to do this from the Fortran side would be to go through the wrapper functions. Would it be possible to try it that way and see if it's fast enough for your purposes? If it's too slow, perhaps we could exp

[2020-10-05 17:48] timrlaw commented on #1438
Hi Andrew,

Thanks for the quick response and for clarifying. No worries on the breaking changes, I totally understand the reason for the change, and we are very grateful for AMReX existing in the first place!

I'll go the wrapper route for now then. If we do see performance issues related to the mask operations no being inlined then I suppose another option is to port our particle code to C++! (w