[2020-10-05 17:48] #1438 closed, assigned to nobody

[2020-10-11 00:47] gdeskos opened #1447 "Linear Solvers: Poisson problems with piecewise constant coefficients and interface jumps"
Dear all,

I am an amex user/developer working within the ([AMR-Wind project ](https://github.com/Exawind/amr-wind)). For the last six monthsI have been developing the multiphase capabilities of AMR-WIND in order to enable water waves and free-surface turbulence simulations. One of the main problems I am facing at the moment is dealing with linear solvers, particularly in the vicinity of the two-f

[2020-10-11 16:42] sayerhs commented on #1447
@gdeskos Recently there were a few updates to AMReX hypre interface (see #1437 and #1439) that allow you to use hypre solvers and preconditioners from AMReX applications. If you have compiled [AMR-Wind](https://github.com/exawind/amr-wind) with HYPRE support `-DAMR_WIND_ENABLE_HYPRE=ON`, then you can try out the different hypre options. See the [example input file](https://github.com/sayerhs/exawi

[2020-10-13 12:16] darylbond opened #1450 "setting eb2.small_volfrac can introduce inconsistencies in EB data"
In my implementation, setting `eb2.small_volfrac` triggered a situation where the boundary normal provided by `ebfactory->getBndryNormal()` did not correspond with the associated face area fractions given by `ebfactory->getAreaFrac()`. This lead to non-conservative flux calculation when the area fraction was used to calculate the cell divergence while the boundary flux was calculated using the pro

[2020-10-13 15:53] asalmgren commented on #1450
Thank you for pointing this out!

PR #1451 should fix this -- if you have a chance could you check that it fixes the case you have observed?

[2020-10-16 15:33] rajeeja opened #1455 "Extend Fortran interface for particle methods"
We need fortran routines for AddRealComp and AddIntComp https://amrex-codes.github.io/amrex/docs_html/Particle.html#adding-particle-components-at-runtime
added to https://github.com/AMReX-Codes/amrex/blob/development/Src/F_Interfaces/Particle/AMReX_particlecontainer_mod.F90

These would be used for additional property (PDENS, PTEMP etc.) that'd be later mapped from mesh in FLASH5.

@adubey64 @kwei

[2020-10-16 16:42] atmyers commented on #1455
Sure, we can add wrappers for these.

[2020-10-16 16:53] kweide commented on #1455
The following would be useful and should be easy to do:

* wrapper for getting the number or particles in a container
* (maybe) wrapper for getting the total number of particles (including invalid one) -
  [not sure whether we will need to use this]

It seems the following would also be useful to us but may be less trivial:

* Expose the particle iterator through the Fortran interface.

[2020-10-16 17:08] kweide commented on #1455
also, if there are a methods for this:
* wrapper for getting the total number of particles on the rank
* wrapper for getting the total number of particles across all ranks

[2020-10-17 17:21] pedro-ricardo opened #1463 "Build Question - Lib folders"
Hello there, I'm trying to build AMReX with the following libraries and versions:
[code]
I'm on tag `20.10`, created a `build` folder and using the following options with cmake:
[code]

How can I set the paths for those libraries I want to use? I coudn't find in the docs flags to set the path of the libraries ...
None of my libs are instaled in the system path, allways in `/opt/apps`.

[2020-10-17 18:41] WeiqunZhang commented on #1463
I am not a cmake user.  But I think you can use `-DCMAKE_LIBRARY_PATH=/path/to/hypre/lib:/path/to/petsc/lib -DCMAKE_INCLUDE_PATH=/path/to/hypre/include:/path/to/petsc/include`.  Replace `/path/to/hypre` and `/path/to/petsc` with your paths.

@mic84 @ax3l and @sayerhs will correct me if I am wrong.

[2020-10-17 19:34] mic84 commented on #1463
AMReX uses the CMake command [find_package](https://cmake.org/cmake/help/latest/command/find_package.html#id1) to locate external libraries. The CMake  search procedure for external libraries is detailed [here](https://cmake.org/cmake/help/latest/command/find_package.html#id5).
Long story short: provide either an environmental variable ```PackageName_ROOT``` pointing to the top level installation

[2020-10-17 20:57] pedro-ricardo commented on #1463
Ok thank for the responses...

The `-DMPI_ROOT=\path\to\mpi` and `-DHYPRE_ROOT=\path\to\hypre` worked like a charm.. but i'm having issues with HDF5 lib.
The flag `-DMPI_HDF5=` works but I got strange errors.

First I poited it to a parallel instalation of HDF5 in my PC, and got:
[code]
So I thought maybe I forgot to turn-on the Cxx support in HDF5

I've now installed the HDF5 lib with `--enable-c

[2020-10-17 21:05] pedro-ricardo commented on #1463
I'm used to HDF5 files and AMR type of meshes and I'm only adding this in the instalation because I thought HDF5 would be faster to write outpus than the standard ... but I can just overlook this if you say that it does not make any difference to the standard output you already have

[2020-10-17 21:50] sayerhs commented on #1463
@pedro-ricardo I have HDF5 1.10.4 and I am able to use `--enable-cxx` and `--enable-parallel` together in the configure line. Can you post your full configure command for hdf5? I pass `CXX=$(which mpic++) CC=$(which mpicc)` as configure arguments, that is the difference may be?

[2020-10-18 01:45] pedro-ricardo commented on #1463
Yes sure.. I add those compiler flags as well
I'll just add new lines to make it easyer to read
[code]
The error pointed by configure is...
[code]

I found from the HDF5 forums [here](https://forum.hdfgroup.org/t/c-versus-parallel/3577), the following

So it is possible to compile it. By adding `--enable-unsupported` ... I just thought that this didn't seem like a good idea.
But if you're using it

[2020-10-18 02:12] pedro-ricardo commented on #1463
Ok so now, with HDF5 intalled with `--enable-unsupported`
I can build AMReX with `MPI`, `HYPRE` and `HDF5` without error.

Moving on to the last one ... PETSc

A flag like `-DPETSC_ROOT=` doesn't seem to work like the others and it can't find PETSc
[code]
But `-DPETSC_DIR=` does work
The flags are now:
[code]
But I'm stuck again ... The error is:
[code]
But the funny thing is, if i remove the last

[2020-10-18 02:22] pedro-ricardo commented on #1463
I oppened the **CMakeError.log** to check it .. it it has this funny message:
[code]
Now what is the PETSc include dir doing here is a good question :joy: :joy: :joy:

I'm also sorry for annoying you guys this much

[2020-10-18 03:16] mic84 commented on #1463
Thank you for reporting this. This is the first time I see this error. I'll look into it.

[2020-10-18 03:43] mic84 commented on #1463
@pedro-ricardo I think I have a fix: can you try PR #1464 and let me know if it works? Thanks

[2020-10-18 11:30] pedro-ricardo commented on #1463
@mic84 the PR #1464 Fixes it.

## In summary the answer is

To compile AMReX with `MPICH`, `HDF5`, `Hypre` and `PETSc` libraries installed in non standard folders, the following flags in **cmake** build can be used:
[code]
The only trick in those libraries is that `HDF5` must be installed with the flags `--enable-cxx`, `--enable-parallel` and `--enable-unsupported`, otherwise AMReX can not use it.

[2020-10-18 11:30] #1463 closed, assigned to nobody

[2020-10-19 18:55] ax3l commented on #1463
Just as a note, the variable [CMAKE_PREFIX_PATH](https://cmake.org/cmake/help/latest/envvar/CMAKE_PREFIX_PATH.html) can also be used as a universal hint with a list of installation root paths:

For example:
[code]

[2020-10-22 18:59] kweide commented on #1455
After digging through some of the documentation (and the existing sources in `F_Interface/Particles`), I now think that what we need, for implementing existing FLASH Particles behavior on top of AMReX, is not so much AddRealComp and AddIntComp (which add SoA components at run time), but just a more flexible way to specify AoS components at FLASH compile time.

I mean "more flexible" in comparison

[2020-10-22 23:10] jrood-nrel opened #1476 "Memory leak in EB"
I am seeing a memory leak using LLVM ASAN showing at https://github.com/AMReX-Codes/amrex/blob/f42ab5658751c51d6792d7dd7f1999c4c3310143/Src/EB/AMReX_distFcnElement.cpp#L409

which is called from https://github.com/AMReX-Codes/amrex/blob/f42ab5658751c51d6792d7dd7f1999c4c3310143/Src/EB/AMReX_EB2_IF_Spline.H#L32

which is called from a PeleC problem setup file.

I can't post all the high level PeleC

[2020-10-22 23:12] jrood-nrel commented on #1476
Also seeing a report from one at https://github.com/AMReX-Codes/amrex/blob/f42ab5658751c51d6792d7dd7f1999c4c3310143/Src/EB/AMReX_EB2_IF_Spline.H#L31

[2020-10-23 07:54] ax3l opened #1478 "virtual ~FabFactory"
Seen with `dpcpp` and `hipcc` (SP compile) and `-Wdelete-non-abstract-non-virtual-dtor`:
[code]

[2020-10-23 07:56] ax3l opened #1479 "FabSet Warning in SP"
Seen with Intel `icpc` from oneAPI beta09 (single-precision compile) and `-Werror`:
[code]

[2020-10-23 18:44] WeiqunZhang commented on #1478
This is fixed in https://github.com/ECP-WarpX/WarpX/pull/1466.

[2020-10-23 18:44] #1478 closed, assigned to nobody

[2020-10-26 04:55] darylbond commented on #1450
I have found another inconsistency, this time between volume fraction and `isCovered()`. I was able to fix this by performing a check on volfrac after every call to `set_eb_data` such that the covered status is consistent with whatever was just calculated. However, with further testing, it appears this approach leads to floating-point errors in `EB2::coarsen_from_fine()` so not such a good idea af

[2020-10-26 18:18] #1479 closed, assigned to nobody

[2020-10-29 19:19] asalmgren commented on #1369
I believe this issue has been resolved -- if not please open as a new issues

[2020-10-29 19:19] #1369 closed, assigned to nobody

[2020-10-29 19:22] asalmgren commented on #1390
@ax3l @bvstraalen -- has this issue been resolved?

[2020-10-29 19:23] asalmgren commented on #1447
@gdeskos --I believe this issue can be closed -- can you confirm?

[2020-10-29 20:50] #1410 closed, assigned to nobody

[2020-10-29 21:36] gdeskos commented on #1447
yep, we can close this issue !

[2020-10-29 21:36] #1447 closed, assigned to nobody

[2020-10-30 06:44] ax3l commented on #1390
@asalmgren about the plotfile reader in VisIt, the above comment and links are as much as I currently know about it.

But @bvstraalen's last comment was

so maybe centering worked?

[2020-10-30 15:00] asalmgren commented on #1390
This seems to be resolved so I will close it here -- if there is still a problem, please open as a new issue

[2020-10-30 15:00] #1390 closed, assigned to nobody

[2020-11-02 00:08] asalmgren commented on #730
This issue has probably been resolved by now .... if not, please open a new issue giving the current problem

[2020-11-02 00:08] #730 closed

[2020-11-03 18:36] hsitaram opened #1498 "using FillSignedDistance for level-set"
Hi,

Now that levelset classes are not present in the latest amrex, I am trying to use this helper function but has
not been successful in getting the right levelset when using a higher refinement level.
May be I am doing something wrong. See code snippet I am using to get a cylinder levelset

//Define EB
`EB2::CylinderIF cylinder(radius, height, direction, center, inside);`
`auto cyl_gshop = EB2:

[2020-11-03 19:11] WeiqunZhang commented on #1498
I think, if `ls_ref` is not one, instead of `const EB2::Level lslev(&ebis,geom_ls)`, you need to do
[code]

[2020-11-03 20:56] hsitaram commented on #1498
Thank you @WeiqunZhang. That fix worked out fine. I am able to get the correct level set.

[2020-11-03 21:40] hsitaram commented on #1498
Sorry to reopen this issue again. I am finding some differences between the earlier LSfactory version of levelset and with the fillledsigneddistance. see figure for the level_set multifab for a cylinder.

![levelset](https://user-images.githubusercontent.com/7399475/98043352-52914a80-1de2-11eb-87c9-caad71b72e00.png)

Is there something in the definition I am missing here? Is signedDistance differe

[2020-11-03 21:51] WeiqunZhang commented on #1498
Cannot really tell from the picture how big the difference is because they are taken from different angle.  Can you show an image of the difference?

Roundoff errors are certainly expected.  And there was a bug in the old LSFactory code, though it's very unlikely you have hit it.

[2020-11-03 22:05] hsitaram commented on #1498
The difference is pretty much at the surface. See difference obtained from fcompare.

![diff](https://user-images.githubusercontent.com/7399475/98045632-06e0a000-1de6-11eb-92bb-fad172d99216.png)

[2020-11-03 22:21] WeiqunZhang commented on #1498
That seems to be big.  Since you could compute the exact signed distance function in this simple case, can you compare it with both numerical results?

[2020-11-03 22:43] hsitaram commented on #1498
To make life simpler I got rid of the end caps. So the distance should be in-plane distance minus the radius -(sqrt((x-cx)^2+(z-cz)^2)-rad), unless I made a mistake and have to go back to high school! See comparison. In this case my domain is 0 to 0.0064 in each direction and my radius in 0.002.

![lscompare](https://user-images.githubusercontent.com/7399475/98048426-e6ffab00-1dea-11eb-9c89-f3cda0

[2020-11-03 22:53] WeiqunZhang commented on #1498
Could you share your code that uses FillSignedDistance?

[2020-11-03 23:15] asalmgren commented on #1498
For the level set that we use for particle-wall collisions,we don't
actually fill the level set "far" away from the boundaries.  So the values
there are just set to some default value

Is it possible that's what's happening here?

On Tue, Nov 3, 2020 at 2:43 PM hsitaram <notifications@github.com> wrote:

--
Ann Almgren
Senior Scientist; CCSE Group Lead

[2020-11-04 00:52] hsitaram commented on #1498
See attached a light weight version that shows this behavior. If you use a ls_refinement greater than 1, you see the sharp drop like I showed earlier. Hopefully I did nt make a foolish mistake and waste your time.

@asalmgren - I am using these for particle wall collisions. The values seem a little black and white. I would expect a gradual drop from 0 at the boundary even if it is initialized a hi

[2020-11-04 16:55] WeiqunZhang commented on #1498
If I make the following change, it works for me with `refine_level_set=2`.

[code]

[2020-11-04 18:28] hsitaram commented on #1498
Thank you @WeiqunZhang - I am able to get the level set without the sharp transition like earlier. I am trying to understand what you did. So, build EB in a way that it can be coarsened far enough, which makes it applicable to the 0th level here?

Also, one other puzzle remains - the magnitude of values (at least the max values) for the level set are different compared to the analytic way, from th

[2020-11-04 21:01] WeiqunZhang commented on #1498
Yes, it needs to be coarsened enought.  `EB2::Build` takes two ints specifying the required coarsening level and the max coarsening level.  If you do not use AMReX's linear solvers, you can set the max coarsening level equal to the required coarsening level.

Yes, the levelset values are floored and ceiled when the point is far away from the wall.  If you change `nghost` in your code to say 4, you

[2020-11-05 03:46] #1498 closed, assigned to nobody

[2020-11-05 03:46] hsitaram commented on #1498
Thank you for your help @WeiqunZhang. I am closing this issue.

[2020-11-08 00:44] pedro-ricardo opened #1525 "Memory messages in Hello world"
Hello there. From the following simple code, compiled with `mpicxx` and run with `mpirun -n 1` without adding a input file

[code]
I'm getting the output:
[code]
Uppon using valgrind to check it out like: `valgrind --leak-check=full --show-reachable=yes --track-origins=yes`. It find some stuff as well ... the log is quite long but I'll cut out some parts:
[code]

[2020-11-08 04:05] pedro-ricardo opened #1526 "About input parameters documentation"
It seems that the documentation about [Run-time Inputs](https://amrex-codes.github.io/amrex/docs_html/Inputs_Chapter.html) does not contain all parameters that can be set for AMReX. Is this documented somewhere? Like a list with the parameters and what they are for.

For example `regrid_on_restart` is a parameter from `amr` group that isn't on that documentation I linked.

Also, is there and examp

[2020-11-08 04:38] asalmgren commented on #1526
Could you submit a PR to add that?   And any others you’ve noticed as well?

Sent from my iPhone

On Nov 7, 2020, at 8:05 PM, Pedro Ricardo C Souza <notifications@github.com>
wrote:

﻿

It seems that the documentation about Run-time Inputs
<https://amrex-codes.github.io/amrex/docs_html/Inputs_Chapter.html> does
not contain all parameters that can be set for AMReX. Is this documented
somewhere? Lik

[2020-11-08 04:45] WeiqunZhang commented on #1525
Could you give PR #1527 a try?

[2020-11-08 07:36] maximumcats commented on #1526
I was thinking about this when I [recently added](https://github.com/AMReX-Codes/amrex/pull/1505) an option without documenting it. We could, if we wanted, take this as an opportunity to implement the runtime inputs system that AMReX-Astro uses (see https://github.com/AMReX-Astro/Castro/blob/main/Source/driver/parse_castro_params.py and https://github.com/AMReX-Astro/Castro/blob/main/Source/driver

[2020-11-08 19:13] pedro-ricardo commented on #1525
Checked. By cherry picking your commit into version `20.10` the memory error stop happening

[2020-11-08 19:29] pedro-ricardo commented on #1526
@asalmgren Unfortunately I don't know what parameters are missing from the documentation, so i don't have anything to add as a Pull Request.

I would liked to have a list of all parameters that can be set ... and a brief description on them.

But for now, if anyone can give me the format for the file set in parameter `initial_grid_file`, It's good enough ... I can't seem to find this in the exampl

[2020-11-08 19:56] asalmgren commented on #1526
The code that reads it is in Src/Amr/AMReX_Amr.cpp:

       is >> in_finest;
        STRIP;
        initial_ba.resize(in_finest);

        use_fixed_upto_level = in_finest;
        if (in_finest > max_level)
           amrex::Error("You have fewer levels in your inputs file then in
your grids file!");

        for (int lev = 1; lev <= in_finest; lev++)
        {
            BoxList bl;

[2020-11-12 16:13] #1525 closed, assigned to nobody

[2020-11-12 20:46] eschnett opened #1538 "Request for supporting non-local boundary conditions"
The Einstein Toolkit supports "non-local" boundary conditions. These are similar in spirit to periodic boundaries, but have a different definition. For example, there is a 90-degree rotational symmetry where one simulations one quadrant of the domain, where boundaries are defined by rotating that quadrant by 90 degrees in either direction. Implementing such boundary conditions requires communicati

[2020-11-12 21:00] zingale commented on #1538
this sounds related to https://github.com/AMReX-Astro/Castro/issues/602

[2020-11-12 22:19] eschnett commented on #1538
Yes, this is probably what I called "90 degree rotational" symmetry.

Implementing this in the same way as periodic boundary conditions would be convenient. However (as you say in your issue), one also needs to swap certain tensor components. The implementation I had in mind was a generic API to copy rectangular chunks of data between multifabs, while possibly rotating/mirroring the slabs. Handlin

[2020-11-14 00:02] WeiqunZhang commented on #1538
In the Fortran example, there are `src` with the intent of `in` and `dst` with the intent of `inout`.  But if you do a copy from `src` to `dst` before calling it, it seems that the function only needs to take one array.  Is that correct?

[2020-11-14 04:11] eschnett commented on #1538
I think one array suffices for the "rotating 180degree" and "polar" boundary conditions. In our code, using one array would not work for the "rotating 90 degree" boundary condition: Let's assume we have three variables `vx`, `vy`, and `vz` for the velocity. Then the boundary of `vx` is filled by values from `vy` and vice versa, whereas `vz` is filled from itself.

Actually, combining `src` and `ds

[2020-11-14 04:14] WeiqunZhang commented on #1538
OK.  Then I will work on the one array versions.  You can then make local changes.

[2020-11-15 19:14] WeiqunZhang commented on #1538
@eschnett I have implemented (1) 90 degree rotation and (2) 180 degree rotation (`amrex/Src/Base/AMReX_NonLocalBC.H`).  Please give them a test.  For (3) "across the pole" on a sphere, I want to make sure I understand it.  Is the following correct?
[code]

[2020-11-15 20:03] eschnett commented on #1538
The "across the pole" boundary conditions come from discretizing the surface of a sphere with coordinates `theta` and `phi` (`0 <= theta <= pi` and `0 <= phi < 2pi`). The system is periodic in the `phi` direction (`f(theta, phi+2pi) = f(theta,phi)`), as you stated. The non-local boundary conditions are `theta=0` and `theta=pi` boundaries. The conditions there are `f(-theta,phi) = f(theta,phi+pi)`

[2020-11-15 20:08] WeiqunZhang commented on #1538
OK. Got it.

[2020-11-15 23:53] WeiqunZhang commented on #1538
@eschnett I have also implemented the polar boundary.  Please give them a try.  Note that currently they can only run on CPUs.  I still need to port them to GPUs.  But  that should be straightforward once we have verifed the CPU versions work.

[2020-11-16 00:01] eschnett commented on #1538
@WeiqunZhang Thanks a lot! That's fine, we'll want to test on CPUs first anyway.

[2020-11-17 20:43] mattbement opened #1551 "View glyphs in Paraview?"
Sorry - more a question than an issue.  Has anyone been able to visualize glyphs (e.g., arrows) on an AMR mesh in Paraview?  Even in the most recent paraview (5.9.RC1), but also applies to 5.8.0, I load an AMReX plotfile, use the calculator to create a vector-valued, cell-centered variable which is just ihat+jhat+khat.  I then create a glyph using this variable as the orienting vector.  It never c

[2020-11-18 20:38] WeiqunZhang commented on #1538
GPU support has been added.

[2020-12-02 18:49] dunhamsj opened #1587 "Allow nGhost to be vector in MultiFab LinComb for Fortran"
Can you please allow the LinComb MultiFab procedure to take a vector of ghost cells in the Fortran interface?

[2020-12-03 14:20] pedro-ricardo opened #1595 "Simple mesh build example"
Hello,
I'm using Fortran and trying to build a 2 level static mesh.
I'm setting the `initial_grid_file` parameter on input along other things.
I thought that both `init` subroutines were the only thing I needed to see the mesh in the `amrex_geom` variable.

[code]
But all I see are 2 levels that fully cover the domain size.

The function that reads the `initial_grid_file` is not being called and I

[2020-12-06 23:39] zingale opened #1607 "commit 88236ac broke fsnapshot build"
The recent PR #1599 breaks the compilation of `fsnapshot.cpp`:

[code]

[2020-12-07 00:05] #1607 closed, assigned to nobody

[2020-12-07 01:12] WeiqunZhang commented on #1595
The domain in Geometry is the full domain (including regions not covered by any fine levels).  So the messages are correct.

The `initial_grid_file` parameter is only supported in `Amr/AmrLevel` classes in C++.  However, you should be able to get the grids you want with tagging.

[2020-12-07 11:32] pedro-ricardo commented on #1595
Thank you, I thought that I didn't had to define all those virtual functions to use a static mesh.

But after defining them ... the `amrex_init_from_scratch` subroutine will build the mesh respecting `initial_grid_file`?

[2020-12-07 16:13] WeiqunZhang commented on #1595
Unfortunately no.   But in the error estimate procedure (e.g., `my_error_estimate` in `Tutorials/FortranInterface/Advection_F/Source/my_amr_mod.F90`, you can read a file and then use the information to tag cells for refinement.

[2020-12-07 16:52] pedro-ricardo commented on #1595
I see, I'll do that way. Thanks!

But that seems a bypass to the input `initial_grid_file`, right?  This kind of initialization is not included when using the Fortran interfaces?

[2020-12-07 17:01] WeiqunZhang commented on #1595
That's right.  `initial_grid_file` is only available in `Amr/AmrLevel`, not in `AmrCore`.  The fortran interface is based on the latter.

[2020-12-07 17:12] pedro-ricardo commented on #1595
Thanks.

[2020-12-07 17:12] #1595 closed, assigned to nobody

[2020-12-08 04:00] #1587 closed, assigned to nobody

[2020-12-09 18:00] cyrush opened #1623 "blueprint support: use n_levels instead of geom.size()"
multilevel amrex to blueprint:

use `n_levels` pass vs `geom.size()` in:

https://github.com/AMReX-Codes/amrex/blob/923752e81d08a87d8edd7aaf01e92359125e4f86/Src/Extern/Conduit/AMReX_Conduit_Blueprint.cpp#L341

user hit a case with a small problem where refinement wasn't triggered, causing our code to attempt to access non existing multi-fabs.

`n_levels` is passed in, it would have avoided this is

[2020-12-10 00:26] #1623 closed, assigned to nobody

[2020-12-13 19:57] pedro-ricardo commented on #1595
Hello there @WeiqunZhang,
It's on the same subject so i'm not opening a new issue...

When tagging do I have to worry about keeping the grids nested? Or this is secured internally?

And about the tagging usage, correct me if I'm wrong:
* I'm assuming that `settag` will mark a `(i,j,k)` cell in level `L` that I want to become `L+1` cells after regrid
and that `cleartag` is the initial state of the

[2020-12-13 23:09] WeiqunZhang commented on #1595
No, that will be enforced internally.  However, by default there is one error buffer cell.  That is tagging a cell for refinement will effectively mark its neighbor cells to be refined too.   There is also the blocking factor parameter.  These may result in a refined region larger than the tagged the region.

Yes.

Yes, one probably should think that way, even though it's not exactly like that.  (

[2020-12-14 02:49] pedro-ricardo commented on #1595
It's me again... prolonging this issue with another doubt

I got the idea of opening the mesh structure and going through the patches (boxes) in each level, it's very similar to our older code.
[code]
My doubt is this: You need to set a variable in `amrex_mfiter_build` so this indexes are valid for data that has the same location as `phi` (cell centered for example). So how can I use the same `mfi

[2020-12-14 05:54] markkrumholz opened #1637 "Thread safety of random numbers"
I am trying to figure out if the AMReX_RandomEngine and AMReX_Random classes are thread-safe -- that is, if I'm running on MPI + openMP parallel (non-GPU) program, and I have multiple threads making calls to amrex::Random() on each MPI rank, can I be assured that the random numbers returned on different threads will be uncorrelated and independent? The documentation and the header file comments ar

[2020-12-14 06:31] atmyers commented on #1637
Hi Mark,

Yes, `amrex::Random()` is thread safe. When OpenMP is on, each thread will have its own dedicated generator that is totally independent of the others.

[2020-12-14 21:44] robertmaynard opened #1639 "Tutorials don't build with MSVC + CUDA"
The AMReX transformation of C++ CMake properties to CUDA properties causes them all to become `PRIVATE` properties. Therefore the `/experimental:preprocessor` or `/Zc:preprocessor` flags aren't properly propagated to consumers.

Any preferences on how best to resolve this @ax3l?

[2020-12-20 23:05] pedro-ricardo commented on #1595
Can I have a hand on understanding the previous question?

[2020-12-21 00:49] WeiqunZhang commented on #1595
Yes, it's safe to use `mfi` built with `phi` on another multifab if the two have the same distribution map and boxarray (other than index type difference).

`resize` resizes a fab to the given box and the number of components.

`grow` grows a box.

[2020-12-21 01:18] pedro-ricardo commented on #1595
Ok, thanks .. just to confirm then:

The `grow` is to extend the `mfi%tilebox()` limits? Like to insert in it a ghost layer?
Or it is a must do thing when opening the `mfi` with a centered variable and accessing a faced one.

In this situation I've presented I think the `resize` is a **must do** step after `tbx%nodalize(idim) `, since the box is different for a faced variable. Right?

Once opened,

[2020-12-21 01:24] WeiqunZhang commented on #1595
I refer you to https://amrex-codes.github.io/amrex/docs_html/Basics.html#box
[code]

https://amrex-codes.github.io/amrex/docs_html/Basics.html#mfiter-and-tiling is also recommended.  Although the examples are in C++, the concept is the same.

[2020-12-21 17:27] pedro-ricardo opened #1666 "Fortran 'amrex_string' type missing free method"
Thank you for the awesome support so far in helping me port our AMR code to AMReX.

When using the `type(amrex_string)` there is a subroutine to initialize it `call amrex_string_build(varname, "phi")` but no method to free it nor a `final` procedure in the type definition.

This generates a memory leak since the type has an `allocatable` variable. Since it's very simple currently I'm deallocating

[2020-12-21 17:31] WeiqunZhang commented on #1666
I think Fortran `allocatable` will be automatically deallocated when it is out of scope.

[2020-12-21 17:32] WeiqunZhang commented on #1666
If not, it's a compiler bug.

[2020-12-21 17:47] pedro-ricardo commented on #1666
I'm getting this info from `valgrind` and using `gcc-9`, but it might be a false positive then.
[code]
It disappears when I do it manually `deallocate(varname%data)`.

Thanks

[2020-12-21 17:47] #1666 closed, assigned to nobody

[2020-12-23 19:43] JBlaschke opened #1682 "mkconfig.py creates a bad AMReX_Config.H when the user has defined CPPFLAGS to include -I flags"
I have `CPPFLAGS` set to include `-I/usr/local/...` which trips up the compiler when using GNU make:
[code]
which is due to a bad `AMReX_Config.H`:
[code]
After consulting Michele, I found that `mkconfig.py` does not expect `-I` flags in the `--defines`:
[code]
I suggest sanitizing the input to `--defines` when the user specifies include directories (or better still, non `-D` flags) in `CPPFLAGS`

[2020-12-23 20:04] WeiqunZhang commented on #1682
I think the issue is `CPPFLGAS` is usually supposed to be for C preprocessor flags, not C++ flags.

https://www.gnu.org/software/make/manual/html_node/Implicit-Variables.html

[2020-12-23 20:06] WeiqunZhang commented on #1682
If you want to add extra `-I` flags, you can use `INCLUDE_LOCATONS += /usr/local/... /usr/local/...`.

[2020-12-23 20:26] sayerhs opened #1683 "Question: Expected behavior of AmrMesh"
I am wondering about the expected behavior of `AmrMesh::ref_ratio` when `amr.max_level = 0`. I expect `ref_ratio` to be a vector of size 1 just like other arrays (`geom`, `dmap`, etc.). However, it is initialized as a zero size array. Is this a bug in AMReX or some special case that I've not understood? Looking at the code, it appears that `AmrMesh::InitAmrMesh` behaves differently than one of the

[2020-12-23 20:30] WeiqunZhang commented on #1682
As for CMake, sure it does not cause a problem in AMReX_Config.H, but your flags will magically disappear and will probably cause problems later.  Otherwise why do you have to pass those flags in the first place?

[2020-12-23 20:37] JBlaschke commented on #1682
Hi @WeiqunZhang , this is part of my computer's environment config. I add include locations into CPPFLAGS as that is the recommended way to pass includes to python's setuptools

[2020-12-23 20:38] JBlaschke commented on #1682
I think CMake is able to parse the CPPFLAGS for includes.

[2020-12-23 20:42] mic84 commented on #1682
@JBlaschke can you confirm that your flags did not magically disappear and you don't experience any issue later on? Else I will have to look into it. Thanks.

[2020-12-23 20:45] JBlaschke commented on #1682
@mic84 when using cmake I can confirm that nothing disappears or stops working (magically or otherwise). I also don't experience any other issues down the road.

[2020-12-23 20:49] WeiqunZhang commented on #1682
I was doing this, and don't see `xxxxxx` in the flags printed by cmake.  So What did I do wrong?

[code]

[2020-12-23 20:50] JBlaschke commented on #1682
Anyway, I think _why_ my CPPFLAGS contain include locations is beside the point. The salient point here is that the user config might contain them for various reasons, and so some sanitization might be necessary before calling the mkconfig.py.

[2020-12-23 20:56] WeiqunZhang commented on #1682
Yes, but I like to understand what cmake does exactly in this case.  What do you do exactly with cmake?  Could you show me you cmake output?

[2020-12-23 21:01] JBlaschke commented on #1682
I build libamrex:
[code]

@mic84 Can you point @WeiqunZhang to how CMake solves this

I agree with you, btw, that this is a bit odd -- the reason why it is there in the first place is from homebrew's docs on LLVM:
[code]

[2020-12-23 21:02] WeiqunZhang commented on #1682
If you do `make VERBOSE=ON`, do you see `-I/usr/local/opt/llvm/include`?

[2020-12-23 21:04] WeiqunZhang commented on #1682
I am trying to understand which is better.  Silently ignore it or move it to CXXFLAGS.  I suspect cmake simply ignore it.  But you said nothing disappears.

[2020-12-23 21:06] WeiqunZhang commented on #1682
I agree we should fix this one way or the other, given that homebrew suggests people to set that.

[2020-12-23 21:06] JBlaschke commented on #1682
I understand the question now -- no CMake ignores the `-I/usr/local/opt/llvm/include` flag. It doesn't break anything though, because cmake finds lllvm clang, so those flags are not needed.

[2020-12-23 21:08] WeiqunZhang commented on #1682
We could make gnumake ignore that too.  It does not need that `-I` flag because you are invoking the compiler directly.

[2020-12-23 21:10] JBlaschke commented on #1682
In general, I don't like ignoring settings -- a pain to debug if you don't know a setting is ignored. On the other hand, if I'm using GNUMake, I already specify which compiler I want to use, and how. So I don't need those flags.

I just don't want to have to `CPPFLAGS= make`

[2020-12-23 21:11] WeiqunZhang commented on #1682
We can print out a warning and ignore it.

[2020-12-23 21:12] JBlaschke commented on #1682
I think that's a fair compromise: "You can't say we didn't warn you"

[2020-12-23 21:26] mic84 commented on #1682
I was mistakenly under the impression we were talking about `CXXFLAGS` instead of `CPPFLAGS`. The former is honoured by the CMake, the latter is not. Here is a [list of envirnmental libraries that CMake honours](https://cmake.org/cmake/help/latest/manual/cmake-env-variables.7.html#manual:cmake-env-variables(7)). As an example consider  `CXXFLAGS`: if it is defined in the environment, it is used to

[2020-12-23 21:55] WeiqunZhang commented on #1682
I think this should work now.  Note that no warning is given because we do not modify CPPFLAGS, and everything in it will be passed to the compiler.

[2020-12-23 22:13] JBlaschke commented on #1682
thanks!

[2020-12-23 22:16] WeiqunZhang commented on #1683
Yes, they are inconsistent, and size of ref_ratio being max_level is the traditional behavior.  I guess we should regard accessing ref_ratio[0] as undefined behavior if max_level is 0.  Is this causing any issues for you?

[2020-12-23 22:44] #1682 closed, assigned to nobody

[2020-12-23 23:09] sayerhs commented on #1683
I stumbled upon this in the following code snippet

[code]

Changing the last line to

[code]

fixed the issue for me. However, this only shows up on a debug build and not in an optimized build.

[2020-12-23 23:11] WeiqunZhang commented on #1683
I see.  By the way `bx.refine(..)` without assignment is sufficient.

[2020-12-24 00:34] ax3l commented on #1682
Not sure if that helps, but CXXFLAGS/CFLAGS is the right thing to set. CPPFLAGS is indeed the preprocessor.

[2020-12-24 00:35] ax3l commented on #1682
It would be awesome though, if we add recognition of env var `CXXFLAGS`/`CFLAGS`/`FFLAGS`/`LDFLAGS`[/`CPPFLAGS`] to GNUmake if that is still missing. It's a pretty common unix convention to set them in environments and pick them up in project builds (e.g. in many package managers or `.profile` setups of users). Just asking because I don't remember the status of this.

[2020-12-24 00:40] WeiqunZhang commented on #1682
That should be just a simple change of `=` -> `+=`.  We have always ignored the environment's CXXFLAGS because we want more controls.  Anyway, we could consider that.  Abort FFLAGS, does cmake use separate flags for Fortran 77 and Fortran 90+?

[2020-12-24 00:43] ax3l commented on #1682
For Fortran, I think conventions are `FFLAGS`/`FCFLAGS`... I am not too knowledgeable on that one and if e.g. `F90FLAGS` is common.

Since we only use modern Fortran, we might be ok with picking one? CMake seems to accept `FFLAGS`, but we should research properly.

[2020-12-24 00:47] WeiqunZhang commented on #1682
For cuda, hip and dpcpp, what happens to `CXXFLAGS`?

[2020-12-24 00:56] mic84 commented on #1682
@ax3l  According to [this](https://cmake.org/cmake/help/latest/manual/cmake-env-variables.7.html#manual:cmake-env-variables(7)), `F90FLAGS` is not honoured by CMake. xSDK guidelines don't mention it either (only `FFLAGS` for Fortran)

@WeiqunZhang for CUDA, CMake honours `CUDAFLAGS`. However, AMReX CMake has the ability to forward any C++ flags to the host compiler, so the content of `CXXFLAGS`  s

[2020-12-24 02:07] ax3l opened #1688 "CMake & HIP: -fgpu-rdc"
We already expose `-rdc` control for CUDA codes and some users use `-fgpu-rdc` for their HIP code.

Example: https://github.com/WeiqunZhang/cxx17_inline

Let's add support for this in CMake (next year) :star2:

[2020-12-24 14:55] #1683 closed, assigned to WeiqunZhang, asalmgren

[2021-01-06 01:31] eschnett opened #1702 "CUDA error with amrex 21.01"
I am installing AMReX via Spack on Ubuntu 18.04. I am using the options `amrex +cuda ~fortran +openmp +particles`. This works fine with version 20.12, but does not work with version 21.01. Building AMReX itself works fine, but when I use it from the Einstein Toolkit, I receive a compile-time error that functions such as `Error_device` are undefined:
[code]

Are there any changes e.g. to the config

[2021-01-06 02:22] WeiqunZhang commented on #1702
Can you post `/home/eschnetter/src/CarpetX/Cactus/view/include/AMReX_Config.H` here?

[2021-01-06 15:00] eschnett commented on #1702
[code]

[2021-01-06 15:07] eschnett commented on #1702
[code]

[2021-01-06 15:11] eschnett commented on #1702
I see the line
[code]
which is wrong. I checked Spack's logs, and the configure ares were
[code]

[2021-01-06 15:36] drummerdoc commented on #1702
Are all those camelcase args correct?

[2021-01-06 15:57] sayerhs commented on #1702
@eschnett Recently CMake got updated to use `AMReX_GPU_BACKEND=CUDA` instead of `AMReX_CUDA=ON` (see [docs](https://amrex-codes.github.io/amrex/docs_html/BuildingAMReX.html#customization-options)) ... it appears that spack's amrex/package.py has not caught up yet. You will want to `spack edit amrex` and change this to get this working, while @mic84 submits a PR to update spack.

[2021-01-06 16:43] eschnett opened #1704 "Configuration error with HDF5"
I'm trying to enable HDF5 support in AMReX, building via Spack. I am using these options:
[code]

I am building with HDF5 1.10.7, yet AMReX complains:
[code]

There is no HDF5 version `1.10.0.1`. I think cmake or AMReX parse the HDF5 version number wrong. I'm using cmake 3.19.2.

Things work fine with HDF5 support disabled.

[2021-01-06 21:21] mic84 commented on #1704
@eschnett thank you for reporting this. The spack package for amrex has a bug which prevents spack to correctly build the hdf5 dependency when required.  This  [PR](https://github.com/spack/spack/pull/20714) should take care of that. Would you mind trying it? I suspect that spack may be picking up some other hdf5 installation on your system.

[2021-01-11 04:15] BenWibking opened #1717 "linear solve of anisotropic diffusion of a scalar?"
Hi,

I'd like to use the linear solvers to solve an equation of the form:

0 = \alpha A + \div \cdot [ T \grad \phi ) ] \, ,

where \alpha is a constant, A is a scalar field, \phi is a scalar field, and T is a (symmetric positive definite) tensor field.
All variables are cell-centered, except T, which is face-centered.

It looks like the tensor solve built into AMReX doesn't support this form. Do

[2021-01-16 21:23] pedro-ricardo opened #1735 "Fortran external dirichlet BC usage"
Hello there.
I can't seem to find in the examples how to set a external dirichlet (`amrex_bc_ext_dir`) in Fortran.
The examples use the `amrex_filcc` that will fill the other BCs but not `amrex_bc_ext_dir` as expected.
[code]
If I missed a Fortran tutorial for that, can someone point me to it? Otherwise a brief explanation on how to set it would be fine.

I suppose that it will be in the same loop

[2021-01-16 22:18] pedro-ricardo commented on #1735
In this case I've noticed that `tiling=.false.` is used
Is it for better performance since this functions will only loop through box faces?

Just another thing .. do I really need one `amrex_physbc_proc` kind of function for each variable I own?
In order to allow variables with different BCs?

[2021-01-17 02:43] pedro-ricardo commented on #1595
I have a doubt about the Ghost calculation in AMReX when between levels.
Suppose I have a `multifab` that has all levels in the same timestamp and I just want to rebuild the ghosts between levels of this variable.

It is possible to call something like the `amrex_fillpatch` on the variable it self? because it seems in the examples that `amrex_fillpatch` is used to return a hole new variable.

Will

[2021-01-17 21:02] WeiqunZhang commented on #1595
Yes, it's safe for the destination to be the same multifab as the source.

[2021-01-17 21:18] WeiqunZhang commented on #1735
Yes, tiling is turned off because we are working on cells outside the physical domain only.

Yes, you can insert a call to your own procedure after `amrex_filcc1.  `geom%domain`, `plo`, and `phi` have all the information you need to figure out the boundary information.

You can use one `amrex_physbc_proc` function for all the variables, and it's better than using one for each variable.  Note that

[2021-01-17 23:16] pedro-ricardo commented on #1735
Thank you!

[2021-01-17 23:16] #1735 closed, assigned to nobody

[2021-01-17 23:34] pedro-ricardo commented on #1595
The documentation mention the well known 3 types of ghosts of an AMR grid.
- Internal boundary
- Domain boundary
- Coarse/Fine boundary

So far I've founded: `amrex_multifab_fill_boundary` to fill only the **internal** and `amrex_fillpatch` that fill **all three types**.
Is there a Fortran subroutine to fill only the Domain Boundary?

[2021-01-18 00:13] WeiqunZhang commented on #1595
No, there is no such a function unless it's a constant value.  But one can write a `mfiter` loop.  Then with the domain box in geometry and the box of a fab, one should have enough information to determine if a cell is outside the domain.

However, if one needs to fill a constant value for the domain boundary, there is a C++ function for it.
[code]
If that makes things easier, one could add a Fort

[2021-01-20 12:57] maikel opened #1738 "Doxygen misses BoxArray"
I noticed that BoxArray is currently missing on the generated Doxygen website

I tried looking for BoxArray

https://amrex-codes.github.io/amrex/doxygen/

its also missing in the index

https://amrex-codes.github.io/amrex/doxygen/classes.html

I assume some parsing error.

[2021-01-21 22:39] wuxf99 opened #1743 "MFIter::allow_multiple_mfiters' failed"
0::Assertion `depth == 1 || MFIter::allow_multiple_mfiters' failed, file "/home/wuxf/amrex/Src/Base/AMReX_MFIter.cpp", line 254, Msg: "Nested or multiple active MFIters is not supported by default.  This can be changed by calling MFIter::allowMultipleMFIters(true)". !!!
SIGABRT

Any comments about how to fix it?

[2021-01-21 23:12] WeiqunZhang commented on #1743
This is usually a bug in the user's code.  The assertion is there to prevent common bugs like below
[code]
The error message has already provided a way to get around it if the pattern above is not a bug for you.

[2021-01-22 00:38] wuxf99 commented on #1743
I see, thanks. I don't think my code has a bug. This assertion caused the crash of my code. When I added MFIter::allowMultipleMFIters(true) before the assertion, it works well.

[2021-01-22 00:45] WeiqunZhang commented on #1743
I am curious and would like to understand how our users are using it.  Do you mind show us some code snippets?

[2021-01-22 18:29] wuxf99 commented on #1743
I used the AMReX to configure the latest FLASH (FLASHX).

[2021-01-22 18:34] WeiqunZhang commented on #1743
I see.  There is a Fortan wrapper, `amrex_mfiter_allow_multiple` in `amrex_multifab_module`.

[2021-01-24 22:01] pedro-ricardo opened #1747 "Custom MLMG solver for faced variable"
Hello there.
This time I'm trying to build a solver in AMReX using Fortran.
My equation fits in the canonical form below:
![(A \alpha - B \nabla \cdot \beta \nabla ) \phi = f
](https://render.githubusercontent.com/render/math?math=%5Cdisplaystyle+%28A+%5Calpha+-+B+%5Cnabla+%5Ccdot+%5Cbeta+%5Cnabla+%29+%5Cphi+%3D+f%0A)

But I want my `phi` variable to be a faced velocity.
I usually separate the equ

[2021-01-25 09:58] BenWibking commented on #1717
I'd like to use AMReX to solve this problem using the discretization described in the [hypre documentation](https://hypre.readthedocs.io/en/latest/ch-sstruct.html#block-structured-grids-with-stencils). It essentially uses a mixed finite element method with cell-centered and face-centered unknowns. Can I use such a mixed representation by deriving from either `MLCellLinOp `or `MCNodeLinOp`?

[2021-01-26 18:06] WeiqunZhang commented on #1717
It's probably hard to reuse `MLMG` or `MLCellLinOp` or `MLNodeLinOp` for your purpose.  But maybe you can use `amrex/Src/Extern/HYPRE` as an example of writing a solver based on hypre.  `HypreABecLap`, `HypreABecLap2` and `HypreABecLap3` use `HYPRE_StructGrid`, `HYPRE_SStructGrid` and `HYPRE_IJMatrix`, respectively.

[2021-01-26 18:07] WeiqunZhang commented on #1747
Maybe you can use amrex/Src/Extern/HYPRE as an example of writing a solver based on hypre.

[2021-01-26 19:02] pedro-ricardo commented on #1747
Thank you, I'll take a look at the example.

We use MLMG in the AMR software that I'm porting to AMReX base.
Our Hypre or PETSc performance on this kind of mesh was always slower that the MLMG in our case.

Will it be possible to customize the native MLMG? Like instead of setting the `alfa`, `beta` scalars, we set the actual 7 coefficients `Ap`,`Ae`,`Aw`,`An`,`As`,`At`,`Ab`

[2021-01-26 19:09] WeiqunZhang commented on #1747
Yes, it's possible.

[2021-01-26 19:17] akashdhruv commented on #327
Following up on @atmyers comment: Is the requested fill patching for face centered variables now available within AMReX, or you do you suggest writing our own method for `FLASH` like `MAESTROeX` does?

There are essentially two components to this issue that we would like to address:

1. Interpolation at fine/coarse boundaries described in [Vanella](https://www.sciencedirect.com/science/article/pii

[2021-01-26 21:13] WeiqunZhang commented on #327
A modified version of Vanella et. al.'s scheme has been implemented.  What's still missing is a function to fill the physical domain boundaries.  What types of physical boundary conditions do you need?

[2021-01-26 22:42] akashdhruv commented on #327
@WeiqunZhang, can you provide more details on what has been implemented and how one can use it within `FLASH`? Is the divergence free interpolation/extrapolation now available for both situations described above?

In regards to the physical boundary conditions, I have primarily used `Grid_bcApplyToRegion` and `Grid_bcApplytoRegionSpecialized` to set physical boundary conditions. I don't know how t

[2021-01-27 00:03] BenWibking commented on #1717
Yes, this is what I need, thanks! The code in AMReX_HypreABecLap2.cpp is only for a single-level solve, correct?

[2021-01-27 01:17] WeiqunZhang commented on #1717
Yes, that's single level.

[2021-01-27 01:58] BenWibking commented on #1717
Is there any example code that illustrates how to call hypre with AMReX data for two (or more) levels? The main solve could be single level, but the sync solve still needs to couple two levels at a time in order to avoid conservation errors.

[2021-01-27 02:40] kweide commented on #327
@akidhruv, regarding use of the FLASH subroutines `Grid_bcApplyToRegion` / `Grid_bcApplytoRegionSpecialized` to implement boundary conditions: implementations should work with both PARAMESH and AMReX to place the desired values in guards cells. That is they are _meant to_ work; I don't know what _actually_ happens if one tries to apply boundary conditions to face-centered variables in a Grid imple

[2021-01-27 16:57] WeiqunZhang commented on #327
What we have are here.  https://github.com/AMReX-Codes/amrex/blob/development/Src/AmrCore/AMReX_FillPatchUtil.H#L89

It has template parameter `typename BC`.  We still need something like https://github.com/AMReX-Codes/amrex/blob/development/Src/Base/AMReX_PhysBCFunct.H#L115

The FillPatch functions also have pre and post-interpolation hooks that can be used to call FLASH funcitons.  But I don't t

[2021-01-27 17:04] akashdhruv commented on #327
@WeiqunZhang The face variables are velocities. We solve the fractional method for Navier-Stokes described in Vanella.et.al

Give me a couple of days and I can give you more details regarding mechanics of physical BCs

[2021-01-27 17:04] WeiqunZhang commented on #1717
https://github.com/AMReX-Astro/Castro/tree/main/Source/radiation is an example.

[2021-01-27 18:19] kweide commented on #327
So do we for FLASH, "usually". However, there is a parameter `gr_pmAlwaysFillFcGcAtDomainBC` that can be used to change that behavior. When this is true, the implementation routines for boundary conditions are allowed to modify such face variables on boundaries. (This was introduces specifically for Navier-Stokes purposes.)

[2021-01-28 04:04] akashdhruv commented on #327
@WeiqunZhang, following are the details:

1. We use face-center variables to store velocity for fractional-step Incompressible Navier-Stokes solver. There are other face center variables, but we need divergence conservation only for velocity.

2. For physical boundary conditions, there is a callback function within `FLASH-X` called `gr_fillPhysicalBC` that is supplied to `amrex_fillpatch`. Maybe y

[2021-01-28 21:10] kweide commented on #327
This is somewhat confusing. I hope the following helps to clarify.

"F ace-centered variables" and "fluxes" are quite different kinds of things. I believe that is true for all of {PARAMESH, AMReX, FLASH}. With that I mean they are different kinds of data structures. Never minds that in some places in the code, the can be used to represent the same kind of physical quantity - for example, velocity.

[2021-01-28 21:27] akashdhruv commented on #327
@kweide @WeiqunZhang for the applications that I am working on, "fluxes" and "face-centered" variables are still treated differently. The point that I was trying to make was that cell face values for velocity between block boundaries need to satisfy a conservation equation that is computed from the "fluxes". At present this has been implemented separately within the physics unit, and will continue

[2021-01-30 00:03] BenWibking commented on #1717
Thanks! I should be able to figure it out from here.

[2021-01-30 00:03] #1717 closed, assigned to nobody

[2021-02-02 17:51] ax3l opened #1769 "Fast Math: Unified Build Option"
Checking our current build scripts, we don't yet expose control over compiler fast-math options for all platforms. Let's add a flag in GNUmake & CMake for user-facing control.

This should also level the playing field for benchmark comparisons between various platforms.

Current GNUmake options I found:
- CUDA:        w/ fastmath
- HIP/SYCL:    no fastmath
- serial/OpenMP via GCC:    no fastmath
-

[2021-02-07 21:55] pedro-ricardo commented on #689
Hello there, I'm reopening this issue to talk about the parallel performance in example in **Tutorials/LinearSolvers/ABecLaplacian_F** that is close to what our old AMR code did.

While the lib installation on our clusters is not ready. I'm testing this in a workstation with:
- Intel(R) Xeon(R) E-2176M 2.70GHz
- 12 CPUs (**6 physical**)
- `gcc/9.1.1`
- `mpich/3.3.1`

### Setup
- I'm running the ex

[2021-02-08 22:30] pedro-ricardo commented on #1747
Ok then, I imagine that there isn't a interface in Fortran to do it, but it's fine I think I can do it myself.

I'll just need an example in C++ calling those functions to set the Multigrid A matrix coeficients manualy. Could someone please send me something like this?

Thank you.

[2021-02-10 01:16] akashdhruv commented on #327
@WeiqunZhang Any updates on this issue?

[2021-02-10 02:17] WeiqunZhang commented on #327
I have not got a chance working on this, so I have asked @kngott to help on this.

[2021-02-13 01:31] pedro-ricardo commented on #689
I've tryed a different approach by enlarging the domain geometry 10x in 1 direction and using n_cell like `1280 128 128`. Also changed the computer to our cluster.
Seems like this type of problem has a better speedup. But it is loosing the ratio too soon I think.
| N_proc |Run Time [s]|SpeedUp|
|-----------|--------------|-------------|
|1|479.8511|1.0000|
|2|242.3733|1.9798|
|4|136.3180|3.5201|
|

[2021-02-13 01:38] drummerdoc commented on #689
There are many things to keep an on when do this.
I can’t say if what you did makes sense

From: Pedro Ricardo C Souza <notifications@github.com>
Date: Friday, February 12, 2021 at 5:31 PM
To: AMReX-Codes/amrex <amrex@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [AMReX-Codes/amrex] SpeedUp evaluation (#689)

CAUTION: This email originated from outside of NREL. Do

[2021-02-13 02:05] pedro-ricardo commented on #689
So far the things I kept an eye on:
- Number of cells very high (>100 million). To keep computational time larger than communication one even on a high number of processes.
- Number of MLMG iterations fixed at 5 and max_coarse_level at 2. To guarantee that the number of operations will be the same, independent of the partitions.

I can’t say if what you did makes sense

@drummerdoc  What do you su

[2021-02-13 02:08] drummerdoc commented on #689
Sorry for the odd comment.  It was an accidental Email response meant for a collaborator with a similar name...coincidentally, we were discussing scaling studies of combustion calculations with PeleLM Dang thing showed up here. so I deleted my post, but not fast enough! :)

[2021-02-13 02:12] drummerdoc commented on #689
But... based on the picture you showed above, I'd double the physical size and the number of cells together in the X and in the Y directions from the base 128^2, so that the problem is doing almost the identical thing when you double the number of processes.  That is, 128x128x128 with N procs, then 256x128x128 with 2*N  procs,  then 256x256x128 with 4*N procs.

[2021-02-13 02:29] pedro-ricardo commented on #689
I see .. Ok .. so the SpeedUp you do is by enlarging the domain in the same proporion as increasing the number of processes.
This way the cpu time should keep constant right?

The one I did was to start a huge problem and keep adding processes in the same problem, this way the cpu time should decrease in the same proporion as the processes increase.

I'll make new tests the way you suggested, than

[2021-02-13 02:47] drummerdoc commented on #689
Ahh shoot...the reality what you were doing is called "strong scaling". What I suggested is called "weak scaling".  They say different things.

[2021-02-13 03:07] WeiqunZhang commented on #689
You probably do not want to limit the number of coarsening levels.  It
actually makes it unfair for the large problems contrary to what one might
think, because at the bottom of a v-cycle, a bicgstab solver is called to
reduce the residual by 1e-4.  Solving large problems with bicgstab is
expensive.

For weak scaling problems, you should try to make the domain close to a
cube, unless your target p

[2021-02-13 13:40] pedro-ricardo commented on #689
I was told that speedup measuring using MG must  have these settings. Otherwise by letting the coarsening loose you won't guarantee that your processes will keep the same number of operations (needed to correctly measure speedup) since the single process case could generate more virtual coarse levels than the same problem with a lot of processes.

I failed to mention but I also set the residuals t

[2021-02-13 14:12] pedro-ricardo commented on #689
Ops .. that might cause a confusion.. by "same number of operations" that I said above please understand it in the algorithm level.
The same algorithm must be evaluated with different processes.
As I understand in this strong scaling, the only thing that can be different at each test are the number of cells per process.

[2021-02-13 22:22] pedro-ricardo commented on #689
Then here it is .. using both speedup metrics, this is what I have running the AMReX Fortran example:
## Strong Scaling (plotted along some Amdahl’s Law curves)
<img src="https://user-images.githubusercontent.com/15893711/107862946-29477800-6e2f-11eb-8461-932c53aa71d5.png">

## Weak Scaling (plotted along some Gustafson’s Law curves)
<img src="https://user-images.githubusercontent.com/15893711/107

[2021-02-14 09:29] maikel commented on #689
I cannot really help out, but I would still like to understand the situation and have some questions..

I suppose you run those test on a cluster now? Can you post some details such as...

Is this purely CPU?
What is the hardware per compute node? #sockets, #cpus
How many CPU per MPI rank do you use? Do you use OpenMP?
What are the patch sizes per Rank?

As i understand your graphics you Plot the

[2021-02-15 13:48] pedro-ricardo commented on #689
Hello @maikel, I hope this info answers your questions

- Yes, no GPU in there

- 2 sockets each with 10 real cores

- 1 to 1

- No, just MPI

- You want the number of cells right? I chose huge numbers to avoid communication time to overcome internal calculations
    - **Strong Speedup**: All cases with `101,580,800` total cells, the partitioning is done automatically so I don't know exactly how m

[2021-02-15 14:12] pedro-ricardo commented on #689
Also, this were the main libs loaded and their versions:
|Libs|Versions|
|----|----|
|GCC|10.2.0|
|OpenMPI|4.0.5|
|Hdf5|1.12.0|
|Lapack|3.9.0|
|Hypre|2.19.0|
|PETSc|3.14.1|
|AMReX|21.01|

[2021-02-15 14:55] maikel commented on #689
Hey @pedro-ricardo,

thank you for clarifying

Ok. Is this a requirement?

Do you have a specific reason to ban OpenMP? In my experience, it usually helps in 3D to mitigate communication overhead of MPI by allowing more locality, or larger Boxes. I also think that it is weird to test 32 processes on the hardware you post. Does MLMG require a power of two? Instead, I would try to test in multiples

[2021-02-15 14:59] maikel commented on #689
Are those results even bad? Just reading `p = 97%` sounds pretty high to me? What does it mean?

[2021-02-15 16:01] pedro-ricardo commented on #689
Thank you,
I've posted the results because I thought AMReX would have SpeedUp tests up in the sleeve to prove the massively parallel feature, therefore could point me that those curves are wrong and give the correct numbers and the directions to achieve them.

About the mesh, usually in CFD there is a magic number of `40,000` cells per process so you can guarantee more computation internally than

[2021-02-15 17:07] maximumcats commented on #689
@pedro-ricardo by timing the entire execution you're also including the setup costs which may not be fully parallelized. What do the scaling curves look like when you're only counting the solve time (which is printed out for you)?

[2021-02-15 17:19] pedro-ricardo commented on #689
@maxpkatz Good point!
Thank you, I'll change the calculations to that time.

[2021-02-21 05:14] pedro-ricardo commented on #689
Ok I've finished running those tests again, @maxpkatz (last time I disabled the verbose options).
So far I can see that the solver time (output from `MLMG: Timers:`) is actually worse to measure the SpeedUp than the hole program because the inputs are too quick and there are some calculations like the RHS fill that scale very well and are kept out of this time.
<img src="https://user-images.github

[2021-02-21 05:14] #689 closed

[2021-02-22 08:13] wangzhezhe opened #1806 "question about the Advection_AmrCore example"
Hello,

I tried to run the `Tutorials/Amr/Advection_AmrCore` example with MPI (AMReX_MPI is set as ON), but it seems that the code is executed on only one process:

[code]
You could see that only the rank 0 process output the information even if there are 2 MPI processes. I'm curious if this example is designed for the MPI case, or is there configuration I should set? Thanks a lot for your help!

[2021-02-22 14:59] maximumcats commented on #1806
Hi @wangzhezhe, this is intentional behavior and relatively standard among MPI-based codes. It would get very noisy if many MPI ranks were all writing to stdout with information about the progress of the simulation, and this example (as well as most other AMReX use cases) runs under the assumption that the ranks are all participating in the same advance, so having multiple ranks print out informat

[2021-02-23 10:22] wangzhezhe commented on #1806
Thanks a lot for the information! @maxpkatz  I just want to check if the process with the more mesh refinement options takes more time to do the simulation computation

[2021-02-23 10:22] wangzhezhe commented on #1806
Thanks a lot for the information!

[2021-02-23 10:23] #1806 closed, assigned to nobody

[2021-02-25 09:17] MaxThevenet opened #1813 "Get rid of "loop not vectorized" warnings"
When compiling with the Clang compiler with `USE_OMP=FALSE`, I get a number of warnings from lines like:
https://github.com/AMReX-Codes/amrex/blob/327c62b150bb23ce01633a4d7ae060291156c62d/Src/Base/AMReX_GpuLaunchFunctsC.H#L118
Should I just change the compilation flags, or should I try and fix these warning in AMReX code?

[2021-02-25 17:33] WeiqunZhang commented on #1813
In GNU make, we add `-Wno-pass-failed` to Clang based compilers (e.g., clang, hipcc and dpcpp).  See https://github.com/AMReX-Codes/amrex/blob/development/Tools/GNUMake/comps/llvm.mak#L41.  Maybe we should add that to CMake too?  @mic84 @ax3l

[2021-02-25 19:40] mic84 commented on #1813
@WeiqunZhang fine by me. Should I proceed?

[2021-02-25 19:45] ax3l commented on #1813
Sounds also good to me. I looked at the warnings and most of them are `PRAGMA_SIMD` calls on loops that call functions that cannot be inlined/vectorized per se.

[2021-02-25 20:13] WeiqunZhang commented on #1813
Yes.  Thank you! @mic84

[2021-02-26 05:57] MaxThevenet commented on #1813
Awesome, thank you!

[2021-02-26 17:51] #1813 closed, assigned to mic84

[2021-03-01 03:31] GumpXiaoli opened #1828 "Can RMA communication in MPI3 improve fillBoundary performance?"
Can we improve FillBoundary performance by using one-sided communication in MPI3?

[2021-03-01 13:02] eschnett opened #1829 "Cannot build with CUDA and build_type=Debug"
I build AMReX (via Spack) with the options `amrex +cuda cuda_arch=75 ~fortran +openmp +particles +shared build_type=Debug`. (This took a very long time – there is one file that takes more than one hour to compile for each CUDA architecture.) The resulting library leads to the error message
[code]
when building the Einstein Toolkit. The same build works fine when I don't specify a cmake build type.

[2021-03-01 13:06] eschnett commented on #1829
This is with AMReX 21.02.

[2021-03-01 18:33] WeiqunZhang commented on #1829
What's in `AMReX_Config.H` and `AMReX.H`?  What's the command line used to compile linsolve.cxx?

[2021-03-01 18:54] eschnett commented on #1829
Below are pointers to the files and the compiler flags:

[`AMReX_Config.H`](https://gist.github.com/eschnett/99d6c32dfcbf926df8ceb58bdcb33a7d)
[`AMReX.H`](https://gist.github.com/eschnett/5c4a4918865be5fceaba9be16f51131f)
[command line](https://gist.github.com/eschnett/b4908450977765182ebff7438b59d90e)

[2021-03-01 19:19] WeiqunZhang commented on #1829
Maybe you need to add `-dc` to your build system to turn on relocatable device code (rdc) support.

[2021-03-02 04:48] eschnett commented on #1829
The `-dc` option resolved the problem. I now encounter a different, unrelated error. I don't know whether this is caused by my code or AMReX.

[code]

[2021-03-02 18:20] WeiqunZhang commented on #1829
This seems to be a bug in the llvm 7 based nvcc.  Maybe you can try to narrow down on what triggers it.  @maxpkatz

[2021-03-02 18:23] WeiqunZhang commented on #1828
In the past, we experimented with one-sided communication, but didn't see too much difference.  The code was removed in AMReX for simplicity, but was still there in BoxLib.  Maybe some day, we will try again.

[2021-03-02 18:25] maximumcats commented on #1829
Looks like it's related to calling isnan in device code, hopefully that will be easy to figure out where it's coming from

[2021-03-02 20:29] eschnett commented on #1829
It seems that was caused by compiling multiple files in the same directory. Apparently nvcc needs `--objdir-as-tempdir` for that.

[2021-03-02 20:29] #1829 closed, assigned to nobody

[2021-03-03 03:50] GumpXiaoli commented on #1828
Thanks! I'll also try later. Maybe the mpi library is not good enough. Or it will be better on the machine supporting RDMA?

[2021-03-04 04:48] ax3l commented on #425
Problem persists even with `__attribute__((weak))`/`__attribute__((weak_import)` - investigation ongoing in #1836

[2021-03-04 05:47] #1738 closed, assigned to nobody

[2021-03-04 15:27] pedro-ricardo commented on #1551
Hello @mattbement,
I found this in the AMReX [documentation](https://amrex-codes.github.io/amrex/docs_html/Visualization.html#paraview) for paraview, it is for iso-surface ... but maybe the same applies for vectors.

[2021-03-04 16:17] maikel commented on #1551
Paraview has fixed some issues with AMReX plotfiles within its latest Release with huge improvements compared to its release candidates. It is worth trying that again with a newer Paraview version. I tested it and I have no issues viewing arrow glyphs of vectors.

[2021-03-04 19:45] pedro-ricardo commented on #1747
I'm looking inside the **Src/LinearSolvers/MLMG** and I'm having a hard time in finding what exactly I need to set to configure my own `A` coefficients, like in `A(x)=B`.
My goal is to use the native MLMG but for solving an equation for faced variables that I will discretize.

So far I think it should be somewhere inside the `MLLinOp` class, since `MLCGSolver` indicates that the `solve` method doe

[2021-03-04 20:21] WeiqunZhang commented on #1747
We usually don't construct an `A` matrix explicitly.  `MLLinOp` is an abstract class, the implementations are in its subclasses.

[2021-03-04 20:47] ax3l commented on #425
@WeiqunZhang since the weak-symbol approach is not very portable, do you think we could mid-term approach [option2](https://github.com/AMReX-Codes/amrex/issues/425#issuecomment-473085827) that you mentioned?

It's a breaking change, but probably worth it for portability. cc @sayerhs

From what I found, weak symbols are problematic on:
- macOS: hackery (see #1836)
- FreeBSD (unclear)
- Windows: ful

[2021-03-04 21:38] WeiqunZhang commented on #425
Another possibility is to not include `Amr/` if shared library is enabled.  WarpX does not need anything from the `Amr/` directory.

[2021-03-04 21:55] WeiqunZhang commented on #425
What about support both the current way and a new function pointer based approach in the source code with a macro  For building into a library, we use the function pointer based approach, otherwise use the old approach.  Codes that depend on the current behavior are unlikely using amrex as a library at the moment.  If they do in the future, they can switch.

[2021-03-05 02:05] pedro-ricardo commented on #1747
In our old software we don't build the whole `A` but we have the non zero elements of each row.
Like a Multifab for each `Aw`,`Ap`,`Ae` coefficient.

It's not explicit, that's ok .. but It has to be there somewhere in some format.
The thing I keep asking is how it is done and where it is.
So I can try setting up mine.

[2021-03-05 02:14] pedro-ricardo commented on #1747
Also, do you guys offer some courses, training or paid support for the library?
I have a monster of a 12 year CFD code, that is being funded to be migrated to AMReX framework.

But I'm getting worried because it is not simple to navigate in it all alone.

[2021-03-05 02:56] asalmgren commented on #1747
Could you tell us more about what the code needs to do?   We might have
some code in other Amrex-based apps that might be useful

Sent from my iPhone

On Mar 4, 2021, at 6:14 PM, Pedro Ricardo C Souza <notifications@github.com>
wrote:

﻿

Also, do you guys offer some courses, training or paid support for the
library?
I have a monster of a 12 year CFD code, that is being funded to be migrated
to AM

[2021-03-05 03:12] WeiqunZhang commented on #1747
Here is an example of `A*x`, where A is `alpha * a - beta * del dot b grad`. https://github.com/AMReX-Codes/amrex/blob/development/Src/LinearSolvers/MLMG/AMReX_MLABecLap_2D_K.H#L26  Here is another example, https://github.com/AMReX-Codes/amrex/blob/development/Src/LinearSolvers/MLMG/AMReX_MLPoisson_2D_K.H#L12

Here is an example of doing GSRB.  https://github.com/AMReX-Codes/amrex/blob/development

[2021-03-05 11:41] pedro-ricardo commented on #1747
Hello @asalmgren, here is a little background.
The code is a multi-physics CFD code with AMR and many features in it, some of them are:
* Compressible, incompressible, turbulent, reactive, multi-phase, phase change, fluid-structure interaction, etc.... flows.

Essentially a rather compete solver for Navier-Stokes equation with 12 years of continuous development, that's why I named it "monster".
Bu

[2021-03-05 13:37] darylbond opened #1843 "Segfault when refluxing with fine layer that covers entire domain"
I am running into a segfault when my domain is completely covered by the fine grid.

The sequence of events is as follows:

1. Generate an empty m_cfpatch in YAFluxRegister due to the complete coverage of the domain with the fine grid
2. Call Reflux which calls ParallelCopy on m_crse_data and m_cfpatch
3. Calls ParallelCopy_nowait, which exits at line 276 because we have an empty FabArray, thus it

[2021-03-05 13:41] darylbond commented on #1843
@kngott I think you may want to take a look at this

[2021-03-05 18:04] kngott commented on #1843
Thank you for the concise description of the problem! It was extremely helpful.

We just pushed a new pull request to development that should fix the problem. Please pull development, try it out, and let us know: https://github.com/AMReX-Codes/amrex/pull/1845

[2021-03-05 18:09] asalmgren commented on #1747
Pedro -- could you email me directly and I may be able to offer some
pointers?

On Fri, Mar 5, 2021 at 3:41 AM Pedro Ricardo C Souza <
notifications@github.com> wrote:

--
Ann Almgren
Senior Scientist; CCSE Group Lead

[2021-03-05 22:48] pedro-ricardo commented on #1747
Sure thing. Thank you.

[2021-03-07 20:10] maikel commented on #1551
I just tested it against the current branch and hit the same issues, i.e. seeing no glyphs. It helped me to first apply an "Extract Surface" filter before using the Calculator and Glyph filters.

HTH,
Maikel

[2021-03-12 03:09] darylbond commented on #1843
@kngott that seems to have fixed it. Thanks for the quick response!

[2021-03-15 16:35] kngott commented on #327
I believe we're all set to start testing. You should be able to find the details in the PR descriptions and diffs:

A modified Vanella interpolation has been added and a FillPatchTwoLevels created to launch it and similar face-based functions: #1483
The Fortran interface for the call has just been merged: #1793

Try it out and let me know if you have any questions.

[2021-03-15 16:39] akashdhruv commented on #327
@kngott Awesome! I will test and get back to you.

[2021-03-15 19:25] #425 closed

[2021-03-16 16:25] eugeneswalker opened #1869 "c"

[2021-03-16 16:25] #1869 closed, assigned to nobody

[2021-03-16 16:30] eugeneswalker opened #1870 "amrex@21.03: segfault during compile w/ gcc@8.1.0 on RHEL7"
Building `amrex@21.03` using `GCC 8.1.0` on `RHEL 7` results in a segfault for me. I've tried on power and x86_64 in a RHEL 7 container, and in a non-containerized environment as well. In all cases I get a segfault when using GCC 8.1.0 on RHEL 7.

My builds have been using Spack, has anyone else encountered this? Either with or without Spack?

Is this a bug with the compiler?

This is the backtrac

[2021-03-16 16:43] maikel commented on #1870
Internal compiler errors are *always* compiler bugs. That doesn't change that one might want to target those compilers.

[2021-03-16 16:52] eugeneswalker commented on #1870
Yes, sorry for my imprecise language. What I mean is, would this be necessarily a problem with the code comprising GCC 8.1.0, or could it be that I built GCC 8.1.0 incorrectly? If I were doing something wrong during the build of GCC 8.1.0, then maybe it would work for someone else using a correctly built GCC 8.1.0. I don't have a lot of experience with this, so please forgive me if this is a stupi

[2021-03-16 17:00] WeiqunZhang commented on #1870
GCC 8.1-8.3 are known to have lambda function related issues compiling some of the amrex functions.  GCC 8.4 seems to have fixed the issue.  GCC < 8 should also be fine.

[2021-03-16 20:51] #1870 closed, assigned to nobody

[2021-03-18 03:36] hbrunie opened #1874 "Possible use-case for AMReX"
Hello,

In order to solve up to 6 dimensional PDEs,
we (ORNL team lead by David Green) are developing a Discontinuous-Galerkin finite-element solver built atop an adaptive hierarchical sparse-grid: [[ASGarD]().](https://github.com/project-asgard/asgard).

As AMReX is already well developed, in terms of performance and robustness, I am trying to understand if we really need to develop our own AMR f

[2021-03-23 18:16] atmyers opened #1893 "Problem with macros in Fortran files when using AMReX as a lib."
When setting up CI for the amrex-tutorials repo, I noticed that the `BL_SPACEDIM` seems not to be defined when building Fortran files: https://github.com/AMReX-Codes/amrex-tutorials/pull/3/checks?check_run_id=2173776394

The problem seems to be that the definitions in `AMReX_Config.H` are not being exposed to Fortran.

I think we never noticed this before because our tests with Fortran mains did n

[2021-03-23 18:21] mic84 commented on #1893
I think we never noticed this because we don't enable ``AMReX_FORTRAN_INTERFACES`` in the CI. For CMake, this issue affect superbuild and standalone modes, since the config file is used in both cases.

I tried to including ``AMReX_Config.H`` in the affected Fortran files and it fixes the problem. @WeiqunZhang what do you think about it?

[2021-03-23 18:23] WeiqunZhang commented on #1893
This does not appear to be an issue in amrex.  The fortran code could include `AMReX_SPACE.H`, which is safe to be included by Fortran, if they need macro.  Or they could the `amrex_fort_module`.

[2021-03-23 18:25] WeiqunZhang commented on #1893
I think we should just modify the tutorial code.

[2021-03-23 18:27] WeiqunZhang commented on #1893
Including `AMReX_Config.H` is also fine, but `AMReX_SPACE.H` provides `AMREX_D_DECL` etc. to Fortran too.

[2021-03-23 18:28] WeiqunZhang commented on #1893
`AMREX_SPACE.H` was used extensively in the BoxLib days by Fortran.

[2021-03-23 21:00] atmyers commented on #1893
Sounds good, we will fix this on the tutorials side by including `amrex_fort_module`.

[2021-03-23 21:00] #1893 closed, assigned to nobody

[2021-03-25 11:19] irene-garnelo opened #1898 "Private Variable in ParallelFor Loop"
Dear AMReX Team,

I have a ParallelFor loop in my Code with the goal of filling up an Array4. In the ParallelFor-loop I instantiate a class. I instantiate it inside of the loop, because I need to write to it inside the loop for each set of indices. I then use this class to get the value for this set of indices of the Array4.

I was wondering, if there is a way to do this, by instantiating the clas

[2021-03-25 15:23] WeiqunZhang commented on #1898
No, there is no way to declare something `private`, but I think what are you doing is basically equivalent to it. And declaring a local variable inside the loop seems to me a better approach in most cases, even for OpenMP.  Do you have a concrete example so that we can understand more what you are trying to do and what advantage `private` can offer?

[2021-03-25 16:46] irene-garnelo commented on #1898
Thanks for your quick reply!

So I want to set the values of a MultiFab according to an analytical function given by a string. I do this using the tinyexpr parser (https://github.com/codeplea/tinyexpr). This looks as follows:

`for ( amrex::MFIter mfi(*MultiF); mfi.isValid(); ++mfi ){

            const amrex::Box& bx = mfi.tilebox();
            amrex::Array4<amrex::Real> const& proj_arr = (*Mult

[2021-03-25 17:35] WeiqunZhang commented on #1898
It does not appear that tinyexpr works on GPUs.  So maybe you can do this on CPU.  If the code is compiled for GPU, you can create a temporary MultiFab in host memory first.  After the values are initialized, copy them to GPU memory.  For example,
[code]

Alternatively, you can use a parser that works on GPUs.  For example, https://github.com/ECP-WarpX/WarpX/tree/development/Source/Parser, which I

[2021-03-26 07:45] irene-garnelo commented on #1898
Thank you very much for your help, both solutions sound good to me. Thanks for your fast and detailed help!

[2021-03-26 07:45] #1898 closed, assigned to nobody

[2021-03-26 14:27] eschnett opened #1904 "Cannot build debug version with CUDA enabled"
I want to build a `build_type=Debug` version of AMReX with CUDA enabled. I am using Spack, and building this configuration:

[code]
When building this configuration, the file `AMReX_MLNodeLaplacian.cpp` takes a long time to compile. I aborted after more than 2 hours, as there didn't seem to be any process – none of the temporary files produced by the compiler had been updated in these 2 hours. The

[2021-03-29 16:02] jrood-nrel opened #1907 "New CMake target breaks SUNDIALS"
#1894 appears to use the same target name as one in SUNDIALS, therefore when I use SUNDIALS and AMReX as CMake subprojects, I get a conflict. I think this is as much a SUNDIALS issue as AMReX, but can the target name be a little more specific?

[code]

[2021-03-29 19:12] maximumcats commented on #1904
Using recent versions of CUDA I am able to compile this file in 1-2 minutes. I wonder if you are building on a platform where memory or CPU resources are limited in a way that causes a problem.

@WeiqunZhang There's a lot of ParallelFor's in this file, which cumulatively contribute to the long build time for this file. Are there obvious ways to split up this file to make it easier to do a parallel

[2021-03-29 19:31] kurtsansom opened #1909 "Block structured AMR in higher dimensions?"
I am working on project that has components using AMR techniques, but the physics is cast in 6D phase space (3 spatial, 3 velocity) components. Other than being unable to visualize 6D space what is the limitation to using block structured AMR techniques in higher dimensions?

If there is a better place for this question please let me know.

[2021-03-29 19:38] WeiqunZhang commented on #1904
Sure, we can split the file.

@eschnett Could you let us know the exact command line (e.g., `nvcc .....`) that is used to compile the file?

[2021-04-08 05:29] lucaparisi91 opened #1937 "amrex crashes when built with latest version of intel oneapi"
Current version of Amrex crashes with Segfault when initialized.
Amrex library was built with cmake command from build directory

export CC=icc
export CXX=icpc
export CF=ifort
cmake ../amrex  -DAMReX_OMP=YES -DAMReX_BASE_PROFILE=YES

Compilation is successfull but crashes when doing

make test_install

cmake version : 3.20.0
intel oneApi version : 2021.2.0

[2021-04-08 17:39] WeiqunZhang commented on #1937
I can reproduce it with cmake.  It's also reproducible with
[code]

This seems to be a compiler bug, and I think I have found a workaround.  #1938

[2021-04-08 18:56] WeiqunZhang commented on #1937
Could you verify the issue is gone with the latest amrex?

[2021-04-09 07:19] lucaparisi91 commented on #1937
I confirm that amrex is now building properly. Thanks for the fix.

[2021-04-09 07:19] #1937 closed, assigned to nobody

[2021-04-11 12:13] GumpXiaoli opened #1940 "shared_memory in BaseFab"
What's the intent of the variable shared_memory for in the template class BaseFab?

[2021-04-12 18:33] eschnett commented on #1909
@kurtsansom High-dimensional problems require a lot of storage and CPU time. For example, a 64^3 grid would be considered very coarse for a 3d problem, and requires only about 2 MByte per variable. A 64^6 grid would already require 500 GByte, i.e. would already require running on a supercomputer using several nodes. If you add overhead from mesh refinement, then 6d problems are today basically imp

[2021-04-12 18:36] drummerdoc commented on #1909
Just a passing thought, is there any reason one couldn't be block-structured in the first 3 dimensions and totally sparse in the remaining dimensions?

[2021-04-12 20:21] eschnett commented on #1909
Of course, that would work.

[2021-04-12 22:53] dwillcox commented on #1909
An example of this possibly relevant for your use case may be discretizing the 3D velocity phase space using a distribution of Lagrangian particles initialized in every cell in your 3D spatial grid. In that case, the 3D spatial grid could use block structured AMR, and you would have to work out how you wanted to refine/derefine the velocity space with your particles.

[2021-04-13 17:24] kurtsansom commented on #1909
Thank you @eschnett, the limitation is the x^6 problem size, rather than the algorithms itself. Unsurprisingly it boils down to coming up with a way to reduce the problem size to fit on a computer.

Interjecting my thoughts and reflecting what you said options include:
 * exploit the PDE to reduce the dimension (niche representation of the physics)
   * Maybe splitting method?
 * exploit a custom

[2021-04-17 18:42] eschnett commented on #1909
@kurtsansom I'd be happy to set up a brief Zoom call. I'm in the EDT time zone, and I'm free Monday afternoon or Tuesday/Wednesday morning. Would either of these times work for you? (Other interested people would be welcome to join.)

[2021-04-19 18:28] kurtsansom commented on #1909
@eschnett that sounds great. I am free in the morning until 10:30 EDT Tues, or between 10-11  EDT wednesday.

[2021-04-19 18:35] eschnett commented on #1909
Let's meet Wednesday at 10:00 EDT on Zoom. See https://gist.github.com/eschnett/6bcc13d7e08beedb90188492de87afb0 for details.

[2021-04-20 03:12] jrood-nrel commented on #1907
I seem to be able to work around this by using `AMReX_INSTALL=OFF`. What a relief. Not being able to use `add_subdirectory` and trying to implement `ExternalProject_Add` or requiring an external package manager would be extremely unfortunate. CMake should really add some kind of namespace ability for `add_subdirectory`.

[2021-04-20 03:12] #1907 closed, assigned to nobody

[2021-04-25 15:44] sayerhs opened #1968 "MacOS: Build error on Apple M1 (ARM64)"
The inclusion of `xmmintrin.h` generates build errors when building on Apple M1 ARM64 architecture. I can workaround this issue with the following patch. However, this disables FPE trap in AMReX, so not sure if this is a valid fix.

[code]

**System details**
[code]

**CMake**
[code]

**Clang error message**
[code]

[2021-04-25 16:12] WeiqunZhang commented on #1968
I think this is a valid fix until we figure out how to enable fpe on M1.  Could you submit a PR?

[2021-04-25 17:54] sayerhs commented on #1968
Will do.

[2021-04-25 19:12] #1968 closed, assigned to sayerhs, WeiqunZhang

[2021-04-25 20:20] WeiqunZhang commented on #1968
It seems that ARM64 (i.e., AArch64) does not support fpe trapping at all.  https://developer.arm.com/documentation/dui0808/a/floating-point-support/arm-floating-point-compiler-extensions-to-the-c99-interface

[2021-04-26 06:15] BenWibking opened #1971 "CUDA CMake build fails with lots of errors about constexpr __host__ functions"
Hi,

I am trying to compile my application with CUDA support enabled in AMReX on Ubuntu 20.04 with CUDA 11 and the latest AMReX development commit (5eedbae2d). I use CMake to build my code with AMReX as a subdirectory:

[code]

However, when building, I get lots (hundreds) of errors like this:

[code]

Did I configure something incorrectly? The flag --expt-relaxed-constexpr shows up in the CMake c

[2021-04-27 16:17] jrood-nrel opened #1978 "GNUmake dependency issues"
Hello, is there anything we need to do with GNUmake in our projects to accommodate #1975 and #1967 ? We are getting:
[code]

[2021-04-27 16:19] drummerdoc commented on #1978
See if upgrading your GNU make has an impact.  If so, there's a fix to make the GNUmake stuff in AMReX backward compatible, but I see conflicting results so did not make a PR

[2021-04-27 16:21] WeiqunZhang commented on #1978
It might be the case we need to spell out the full path of AMReX_Config.H as a target.

[2021-04-27 16:26] WeiqunZhang commented on #1978
@jrood-nrel Are you using Mac?

[2021-04-27 16:27] jrood-nrel commented on #1978
Yes, Catalina, but I have heard from another person on our project it's happening for them on Linux as well.

[2021-04-27 16:28] WeiqunZhang commented on #1978
Could you give this a try?   #1979

[2021-04-27 18:27] jrood-nrel commented on #1978
#1979 succeeds for me.

[2021-04-27 18:32] #1978 closed, assigned to nobody

[2021-04-27 18:37] kweide commented on #1743
@wuxf99 I think this can be closed?

[2021-04-27 19:39] wuxf99 commented on #1743
Yes.

Thanks,
Xingfu

[2021-05-03 18:18] mic84 commented on #1971
@BenWibking thank you for reporting the issue. Could you post the full cmake invocation? Can you also try with GNUMake instead of Ninja? Thanks.

[2021-05-03 23:46] BenWibking commented on #1971
Hi @mic84, thanks for taking a look at this. I invoke cmake just with: `cmake -G Ninja -DAMReX_GPU_BACKEND=CUDA ..`

My CMakeLists.txt file sets a few more CMake options:
[code]

~~As you suggested, using the 'Unix Makefiles' CMake generator and then building with GNU Make actually works fine:  `cmake -G 'Unix Makefiles' -DAMReX_GPU_BACKEND=CUDA ..`~~ When using `-G 'Unix Makesfiles` and then `mak

[2021-05-03 23:50] BenWibking commented on #1971
Ah, no, actually it doesn't work with `Unix Makefiles` either. It just takes longer for the build to report the errors and stop.

[2021-05-04 02:28] zjibben opened #1989 "Initialization fails when MPI and Fortran are enabled"
When calling `amrex_init` from Fortran:

I get the following error message:

[code]

This seems like a regression that was introduced in v21.01. I'll submit a pull request with a fix.

[2021-05-04 04:12] #1989 closed, assigned to nobody

[2021-05-04 18:04] mic84 commented on #1971
I see only now that you are not including the `AMReX_SetupCUDA` module. This is required for your setup as explained [here](https://amrex-codes.github.io/amrex/docs_html/GPU.html#enabling-cuda-support). Could you try again and let me know if it works?

[2021-05-05 01:18] BenWibking commented on #1971
I tried that, adding amrex/Tools/CMake to my CMAKE_MODULE_PATH as such:

[code]

However, I get this error:

[code]

[2021-05-05 21:41] mic84 commented on #1971
The issue is that the CMake minimum required version is too old. AMReX requires CMake >= 3.14.
Even if the CMake version you are running is 3.20, the command `cmake_minimum_required(VERSION 3.1)` sets old policies that are not compatible with AMReX CMake.

[2021-05-06 18:58] mic84 commented on #1971
@BenWibking could you verify that bumping up the minimum required version to 3.14 helps?

[2021-05-07 01:00] BenWibking commented on #1971
Yes, that solves the immediate issue. However, my code still does not compile when CUDA is enabled. I get these errors (which do not appear when compiling for CPU only):

[build] ../src/simulation.hpp(39): error #304: no instance of overloaded function "amrex::FArrayBox::contains_nan" matches the argument list
[build]             argument types are: (const amrex::Box, int, const int, amrex::IntVec

[2021-05-07 01:15] BenWibking commented on #1971
Ah, nevermind, this looks like an API change that is causing the compile failure due to some strange difference in templated function instantiation between CUDA and non-CUDA compiles. The original issue is solved, so I'll close this issue. Thanks for your help!

[2021-05-07 01:15] #1971 closed, assigned to mic84

[2021-05-08 15:38] maximumcats opened #2003 "Checkpoint based on walltime elapsed and/or walltime remaining"
In the Amr driver it would be nice if we could checkpoint based on a measure of walltime elapsed. This could either be: checkpoint after we have reached some number of seconds since the beginning, based on a user parameter; or, the user provides the maximum walltime of the job (which would have to correspond to how much time they got from the system scheduler) and then we checkpoint some time befo

[2021-05-16 04:24] maximumcats commented on #984
Note: #998 partially addressed the situation because I believe we observed a case in Castro where building the subcommunicator was unnecessary. However I am not sure if that addressed the original issue we observed on Summit.

[2021-05-16 15:29] WeiqunZhang commented on #984
Maybe we should prebuild a number of subcommunicators with various number of processes.  In the coarsened MG levels, we don't need to use a subcommunicator that is exactly the size of the DistributionMapping.

[2021-05-17 22:59] ax3l commented on #1702
@eschnett @mic84 did we update this (xref?) and can we close this? :)

[2021-05-17 23:04] ax3l commented on #1639
I think that's now fixed and #1585 adds CI for it.

Xref: #1773 #1593 #1009

[2021-05-17 23:04] #1639 closed, assigned to ax3l, mic84

[2021-05-17 23:06] ax3l commented on #1904
cc @mic84 due to Spack relation :)

[2021-05-17 23:07] ax3l commented on #1904
FWIW, I am _linking_ ~30min-1hr on Summit when building WarpX with NVCC in debug.

I think since the issue was posted, the MLMG was split up, wasn't it? Can we cross-link a PR just to close the loop? :)
Is it #1966? :)

[2021-05-18 00:29] eschnett commented on #1702
This issue does not exist any more. I am using 21.04 without problems.

[2021-05-18 00:31] #1702 closed, assigned to nobody

[2021-05-18 03:37] BenWibking opened #2032 "CMake setup_target_for_cuda_compilation fails after CMake 3.20 CUDA changes"
Hi,

I cannot compile my code with the AMReX_GPU_BACKEND=CUDA with the latest dev commit.  I get:

[code]

It looks like the PR to fix things with CMake 3.20 changed something that makes `setup_target_for_cuda_compilation` fail now. Since AMReX_SetupCUDA is no longer necessary with CMake 3.20, I thought perhaps setup_target_for_cuda_compilation may no longer be necessary as well, but when I tried

[2021-05-19 15:48] mic84 commented on #2032
@BenWibking can you please share the piece of code where `setup_target_for_cuda_compilation` fails, i.e. your `src/CMakeLists.txt`? Thanks.
Unfortunately, `setup_target_for_cuda_compilation` is still necessary despite the improved CUDA support in CMake 3.20.

[2021-05-20 15:24] burlen opened #2039 "Error: Rank mismatch between actual argument at (1) and actual argument at (2) (rank-1 and scalar)"
I am attempting to build the AMReX library on development branch (16714342b3) cloned this morning with default build options. I am doing this by `./configure && make`. My version of MPI is MPICH 3.3.2 installed from the package manager of Fedora 33. The build fails in AMReX Fortran codes, output follows. Is the makefile build still supported?

[code]

[2021-05-20 19:54] #2039 closed, assigned to WeiqunZhang

[2021-05-21 01:52] BenWibking commented on #2032
Unfortunately, I deleted my build directory and restarted from scratch and I can no longer reproduce this issue. Hopefully it was just a transient issue. If I see it again, I'll reopen this ticket.

[2021-05-21 01:52] #2032 closed, assigned to nobody

[2021-05-22 23:27] maximumcats opened #2045 "BndryFuncFab for face-centered data (mixed node/cell index type)"
Castro would benefit from the ability for BndryFuncFab to operate on B fields which are nodal in one direction but cell centered in the others (see AMReX-Astro/Castro#1713). Currently BndryFuncFab does not support that.

[2021-05-28 06:21] ax3l opened #2068 "GCC 11: C++17 Warning BaseFab"
I saw the following warning with GCC 11.1.0 on Ookami today:
[code]

[2021-05-28 06:23] ax3l commented on #2068
Note that GCC 11+ compiles with C++17 by default: https://gist.github.com/ax3l/53db9fa8a4f4c21ecc5c4100c0d93c94

[2021-05-28 21:39] ax3l opened #2071 "CMake: Fortran+MPI Warning"
It looks like we are still adding `BL_USE_MPI` to the compiler defines in CMake, but I think we should just rely on the one set in `AMReX_Config.H`:

[code]

cc @kngott

[2021-05-28 21:45] ax3l commented on #2071
@WeiqunZhang am I correct in the assumption above?
In that case, this block that adds the `-D` needs to go :)
https://github.com/AMReX-Codes/amrex/blob/55ad11dae86fca6737e6e7b8c1656100e5a3bead/Tools/CMake/AMReXSetDefines.cmake#L84-L88

[2021-05-28 21:46] ax3l commented on #2071
I do see this block in `Tools/GNUMake/Make.defs` though:
[code]

If we want `-DBL_USE_MPI` to be set, then we need to remove the define in
https://github.com/AMReX-Codes/amrex/blob/55ad11dae86fca6737e6e7b8c1656100e5a3bead/Tools/CMake/AMReX_Config.H.in#L17

But this one is also used for C/C++ code, so probably the first solution is more in the direction we want (forcing Fortran users to include `AM

[2021-05-28 21:56] WeiqunZhang commented on #2071
Don't do anything yet.  I will explain the reason later and what I think we should do.

[2021-06-03 16:26] WeiqunZhang commented on #2071
We need those definitions passed to the Fortran compiler because they are used.  The warning comes from AMReX_lo_bctypes_mod.F90, which also includes AMReX_LO_BCTYPES.H, which in turn is used by both C++ and Fortran files and includes AMReX_Config.H.  I will fix this.

[2021-06-04 04:31] #2071 closed, assigned to nobody

[2021-06-07 04:21] BenWibking opened #2090 "internal compiler error when building AMReX using clang 12 using "-mno-x87""
Hi,

I can trigger an internal compiler error when compiling AMReX using Clang 12.0.0 (built with Spack) using the options:
`cmake .. -DCMAKE_CXX_FLAGS="-mno-x87 -ffp-model=strict" -DCMAKE_BUILD_TYPE=Debug -DAMReX_ASSERTIONS=ON -G Ninja`

Before reporting this to the llvm-dev list, I'd like to make sure someone else can reproduce it on their system when building AMReX.

My CMakeLists.txt file is:

[2021-06-07 04:22] BenWibking commented on #2090
The error message is:

[code]

[2021-06-07 15:41] WeiqunZhang commented on #2090
I can reproduce it with clang 10.0.0.

[2021-06-09 02:39] BenWibking opened #2095 "ParallelForRNG compiler error when AMReX_GPU_BACKEND=CUDA"
Hi,

I switched to using amrex::ParallelForRNG instead of amrex::Random() since that has been removed. I followed the example code in the Tests directory, and my code compiles and runs correctly on CPU but fails to compile when CUDA is enabled.  My other test problems that do not use ParallelForRNG compile and run correctly with CUDA.

I get the following error when compiling my test problem that

[2021-06-09 02:40] BenWibking commented on #2090
Thanks! I'll submit a bug report to llvm.

[2021-06-09 02:40] #2090 closed, assigned to nobody

[2021-06-09 02:45] BenWibking commented on #2095
My CMakeLists.txt is:

[code]

[2021-06-09 02:46] WeiqunZhang commented on #2095
This seems to be a cmake issue.
AMReX_GpuLaunchFunctsC.H should not be seen when compiling for gpu.

[2021-06-09 03:29] BenWibking commented on #2095
I see the same error when using this GNUmakefile:

[code]

and then I get this error:

[code]

[2021-06-09 03:34] BenWibking commented on #2095
Ok, I've figured out what it is. My IDE (Visual Studio Code) tries to be clever and automatically added `#include "AMReX_GpuLaunchFunctsC.H"` to this file, which it shouldn't have done. Deleting this header include fixes the problem.

[2021-06-09 03:37] WeiqunZhang commented on #2095
That makes sense.

[2021-06-09 03:37] #2095 closed, assigned to nobody

[2021-06-11 09:24] lucafedeli88 opened #2098 "Forward declarations for AMReX"
Hi everyone!

We have recently started using `iwyu` (https://include-what-you-use.org/)  on https://github.com/ECP-WarpX/WarpX and we think that WarpX could greatly benefit from few forward declarations of AMReX classes.

We've been discussing this option with @WeiqunZhang , who has proposed to add some forward declarations in a `AMReX_Base_fwd.H`  file (similarly to what is done for `iosfwd` in t

[2021-06-11 14:30] eschnett opened #2099 "Spack-installed AMReX 21.06 has wrong version number"
I installed AMReX 21.06 via Spack. It  thinks of itself that it is
[code]
(from `AMReX_Config.H`).

[2021-06-11 15:45] WeiqunZhang commented on #2099
I made a mistaking in AMReX 21.06 release.  The tar.gz file uploaded to https://github.com/AMReX-Codes/amrex/releases/tag/21.06 missed the last commit of the 21.06 release that updated the CHANGES file.  AMReX's build system checks that file for version information if `.git/` directory is not present.  Note that the version you installed is indeed 21.06's source and the only thing it gets wrong is

[2021-06-11 16:12] eschnett commented on #2099
No, I'm not worried about the version number itself. Thanks for clarifying!

[2021-06-11 20:51] WeiqunZhang commented on #2099
Thanks for reporting this!

[2021-06-11 20:51] #2099 closed, assigned to nobody

[2021-06-11 21:21] WeiqunZhang commented on #2098
Could you give #2100 a try?  `AmrCore` and `TagBoxArray` are in `AMReX_AmrCoreFwd.H`, and the others are in `AMReX_BaseFwd.H`.

[2021-06-12 00:20] #2098 closed, assigned to nobody

[2021-06-12 12:29] DUGKS commented on #1909
Discrete Velocity Method?
Currently I define a MuitiFab f with N componets, where N is the discretized velocity number.
A typical drawback of this method is the huge communication cost when N is large.

[2021-06-12 14:30] DUGKS opened #2103 "huge performance difference when nghost is large"
My solver based on AMReX costs almost the same time when the ghost number is fixed at 2, but costs different time when the ghost number is set to 3.

The task is performed on a 24 (core per node) x 3 (nodes)  cluster.  Only a single level is used (No AMR technique).

The Mesh number is 512x512 in 2D. Periodic Boundary is implemented in all directions.

The following data is the time cost when ghos

[2021-06-14 16:33] lucafedeli88 opened #2107 "Use of std::size_t in AMReX_BaseFwd.H can be problematic"
Hi everyone,

I am currently working on a WarpX PR  which uses heavily  the new forward declaration headers available in AMReX (thanks @WeiqunZhang !). I've just observed this error:
[code]
I was wondering if having such a declaration in the forward headers requires to always include one of the STL headers containing the definition of `std::size_t` ...

[2021-06-14 17:54] WeiqunZhang commented on #2107
I think that's case.  However, we could also simply use `unsigned int` here.  It's for fixed size array on the stack.  So the size is small.

[2021-06-14 19:10] #2107 closed, assigned to nobody

[2021-06-15 07:48] DUGKS commented on #2103
This problem is temporarily solved by using a Infiniband network.

[2021-06-15 07:48] #2103 closed, assigned to nobody

[2021-06-15 17:34] ashwathsv opened #2111 "FillPatch not filling up corner cells for periodic boundary conditions (GPU/CNS tutorial)"
I was testing out the GPU/CNS tutorial changing the number of ghost cells (NUM_GROW) and running the executable using pure MPI. The code works as expected for upto 2 ghost cells but gives out NaN's when FillPatch is used on the Sborder MultiFab in the CNS::advance() function when NUM_GROW > 2.

Attaching the relevant lines from CNS_advance.cpp below:

//--------------------------------------------

[2021-06-15 18:08] WeiqunZhang commented on #2111
This is supposed to work.  Could you give more details on how we could reproduce this?  What version of amrex? How you compile it?  What inputs file do you use?  The modification you made shown by `git diff`?

[2021-06-15 21:47] ashwathsv commented on #2111
Thanks for your reply! It looks like a mistake with the input file from my end. I set NUM_GROW=4 but had only a 32 x 32 x 2 cell domain. The issue has been resolved now.

[2021-06-15 21:47] #2111 closed, assigned to nobody

[2021-06-23 23:10] BenWibking opened #2122 "current development branch fails to compile with clang-12 when C++17 enabled"
Hi,

Cloning the `development` branch and building with C++17 support enabled with Clang 12.0.0 fails:

[code]

[2021-06-23 23:41] WeiqunZhang commented on #2122
Is clang using gcc header here?  GCC does not have full C++17 support in version 8, even though it does define `__cplusplus` to be 201703 when `-std=c++17` is used.

[2021-06-24 00:49] BenWibking commented on #2122
Yes, by default clang uses the system headers, which on linux are almost always the GNU libstdc++ headers (but unfortunately on macOS are the Clang libc++ headers). I am using CentOS 8 with gcc 8 as the system compiler, so the GNU libstdc++ headers are being compiled in by default.

I can successfully compile by switching to the clang-12 libc++ implementation using `-DCMAKE_CXX_FLAGS=-stdlib=libc+

[2021-06-24 01:27] WeiqunZhang commented on #2122
Could you give #2123 a test?   Thanks!  I cannot reproduce the failer on my local machine because I have a more recent libstdc++.

[2021-06-24 02:24] BenWibking commented on #2122
That fixes it, thanks!

[2021-06-24 05:59] #2122 closed, assigned to nobody

[2021-06-24 07:01] rsiddu0511 opened #2124 "Unable to get the version number in the output of HelloWorld_C Program"
After I type make and created an executable, I ran the program as follows

`./main3d.gnu.DEBUG.ex`

I got the output as

`AMReX () initialized`
`Hello world from AMReX version`
`AMReX () finalized`

I fail to understand why I am not able see the version of AMReX inside the given brackets. The same applies when I tried with parallelizing with OpenMP.

[2021-06-24 15:11] WeiqunZhang commented on #2124
We use `git describe --abbrev=12 --dirty --always --tags` to obtain the version.  What do you see if you run the command in your amrex directory?

[2021-06-25 07:10] rsiddu0511 commented on #2124
I get the following:

`fatal: not a git repository (or any of the parent directories): .git`

[2021-06-25 15:16] WeiqunZhang commented on #2124
That explains it.  That means your copy of amrex is not in a git repo.

[2021-06-25 15:31] maximumcats commented on #2124
It doesn't look to me like there's any way to obtain version information when the code is downloaded as a ZIP file (I don't see any information injected in the file which clues us in to this). So maybe if git is unavailable we should not print the "()" to avoid confusion.

[2021-06-25 15:34] WeiqunZhang commented on #2124
We could add something to the makefile to extract the information from the `CHANGES` file like we do in cmake.

[2021-06-26 02:08] etpalmer63 opened #2127 "Missing MPI directive?"
I get the following error when I try to build FHDeX/multispec with the command `make -j4 USE_MPI=FALSE`.

[code]

It looks like there is no directive to check if MPI is enabled.

[2021-06-27 06:33] rsiddu0511 commented on #2124
Alright @WeiqunZhang Thank you. Finally, will I be losing any of the functionalities of AMReX if I run the codes as a zip file?

[2021-06-27 15:51] WeiqunZhang commented on #2127
I assume SWFFT is not meant to be used without MPI.

[2021-06-27 15:52] WeiqunZhang commented on #2124
There should not be any difference in functionality.

[2021-06-27 17:52] #2124 closed, assigned to nobody

[2021-06-30 15:14] nicholasbl opened #2133 "Crash In Conduit"
Hi,

I'm attempting to add Ascent support to https://github.com/Exawind/amr-wind , and I've encountered a crash in the `MultiLevelToBlueprint` Conduit code, and I'm a little confused.

Looking at `AMReX_Conduit_Blueprint.cpp` with the for loop that starts here:

https://github.com/AMReX-Codes/amrex/blob/14dde9aaf741f84cf85adb67a7cdc5bef4c0764a/Src/Extern/Conduit/AMReX_Conduit_Blueprint.cpp#L363-L3

[2021-06-30 15:25] WeiqunZhang commented on #2133
I agree with @nicholasbl's fix.

@cyrush

[2021-06-30 20:32] nicholasbl opened #2135 "Nestsets Conduit Crash"
Hello,

While using the `MultiLevelToBlueprint` function, I have encountered another issue. The code has a function to build nest sets:

https://github.com/AMReX-Codes/amrex/blob/14dde9aaf741f84cf85adb67a7cdc5bef4c0764a/Src/Extern/Conduit/AMReX_Conduit_Blueprint.cpp#L80-L123

The crash happens at these lines:

https://github.com/AMReX-Codes/amrex/blob/14dde9aaf741f84cf85adb67a7cdc5bef4c0764a/Src/E

[2021-07-01 17:36] #1688 closed, assigned to ax3l, maximumcats, mic84

[2021-07-02 03:54] WeiqunZhang commented on #2135
I think the fix should be `ref_ratio[level+1]` -> `ref_ratio[level]`.

Could you submit a PR to fix this and the other issue you found?

[2021-07-02 15:41] nicholasbl commented on #2135
Certainly! Submitted PR.

[2021-07-02 21:42] #2133 closed, assigned to nobody

[2021-07-02 21:42] #2135 closed, assigned to nobody

[2021-07-15 21:12] ax3l opened #2172 "ICPC: Fallthrough Attribute"
Saw this warning with Intel `icpc` (classic):
[code]

We probably need to define `AMREX_FALLTHROUGH` separately for the (classic) Intel compiler.

[2021-07-15 21:26] ax3l commented on #2172
Reminder to myself: let's add an `icc`/`icpc` test with this fix.
Location: https://github.com/AMReX-Codes/amrex/blob/development/.github/workflows/intel.yml
Blueprint in WarpX: https://github.com/ECP-WarpX/WarpX/blob/730e9f416363a6f31a19a06c8c0654aa79b928ce/.github/workflows/intel.yml#L8-L56

[2021-07-15 21:41] WeiqunZhang commented on #2172
The Intel icpc compiler has a bug in its feature test.  In c++14 mode, it warns about not knowing fallthrough, but `#if defined(__has_cpp_attribute) && __has_cpp_attribute(fallthrough) >= 201603L` is true.

[2021-07-15 23:00] ax3l commented on #2172
Oh no, not fair :D

[2021-07-15 23:58] #2172 closed, assigned to WeiqunZhang

[2021-07-16 23:13] ashwathsv opened #2175 "Multinode MPI runs of Tests/GPU/CNS/Sod crashing"
Hi,

I was trying to run the Tests/GPU/CNS/Sod case (cloned from the latest dev branch) by compiling without CUDA and using purely MPI. The code compiles and runs fine when I run it on multiple MPI processes on a single node but crashes when the MPI processes are spread across multiple nodes. The crash message on the log says "**Erroneous arithmetic operation**".

I am not sure if this is an issue

[2021-07-16 23:30] WeiqunZhang commented on #2175
I think this is a bug(?) in the communication library, not in AMReX.   Looks like a divide-by-zero floating point exception is triggered. https://github.com/openucx/ucx/blob/master/src/ucp/core/ucp_ep.c#L2707  I put a question after the word bug, because maybe that was their intention.  Infinity is a well defined number.  So maybe they are relying on that.

You could change `amrex.fpe_trap_invalid

[2021-07-17 03:12] ashwathsv commented on #2175
Thank you! Setting fpe_trap_invalid to zero has fixed the problem. As you say, it is probably a feature of the ucx package.

[2021-07-17 03:12] #2175 closed, assigned to nobody

[2021-08-07 17:54] #2127 closed, assigned to nobody

[2021-08-09 16:26] philip-blakely opened #2231 "Parser segfaults on invalid expressions"
Our group is finding the amrex::Parser very useful for allowing users to put equations into settings files. However, to help users find errors, we would like to be able to catch any invalid expressions so we can point them to the line in the settings file and expression that failed to work.

Unfortunately there are some invalid expressions that crash the parser in a confusing way:
[code]
gives the

[2021-08-09 18:17] WeiqunZhang commented on #2231
If we make the parser throw an exception and you can catch it like this, would it be helpful to you?
[code]

[code]

[2021-08-09 18:26] WeiqunZhang commented on #2231
Looks like there are three types of errors.

1. Unknown character.  Example: `x.x`.
2. Syntax error.  Example: `cod(x)`.
3. Unknown variable. Example: `x+3`, but x is not registered as a variable.

[2021-08-09 21:37] WeiqunZhang commented on #2231
Using #2233, `xx` without `xx` being registered as a variable will result in
[code]

`x.x` will result in
[code]

`1e.` will result in
[code]

Does the PR address your issue?

[2021-08-10 07:25] philip-blakely commented on #2231
Yes, I've just applied the PR to my local amrex checkout and our unit-tests now pass again instead of seg-faulting.

Thank you very much!

[2021-08-10 17:15] #2231 closed, assigned to nobody

[2021-08-12 14:10] maxshatsky opened #2240 "CMake Error at while installing amr-wind: string sub-command STRIP requires two arguments."
I posted such an issue at the amr-wind project, but then were told that the issue comes from  the original AMReX. That seems to be true.

I was following instruction from here:
https://exawind.github.io/amr-wind/user/build.html

Running command
$ cmake -DAMR_WIND_ENABLE_TESTS:BOOL=ON ../

has led to the following error:
CMake Error at submods/amrex/Tools/CMake/AMReXUtils.cmake:20 (string):
string

[2021-08-12 16:11] ax3l commented on #2240
Hi @maxshatsky,

Thanks a lot for the report and suggestion!
Yes perfect, that's the right fix! Do you like to submit a PR for it? :)

[2021-08-13 05:06] ax3l opened #2243 "Test: Particles_GhostsAndVirtuals Problematic"
In #2232, I realized that on many compiler combinations the test `Particles_GhostsAndVirtuals` fails with output of the form:
[code]

This might be a dormant bug to investigate.
Once solved, we can enable the test again in CI (currently excluded with `-E Particles_GhostsAndVirtuals` in `ctest`).

[2021-08-13 15:51] atmyers commented on #2243
@jmsexton03 could you take a look at this?

[2021-08-13 16:05] maxshatsky commented on #2240
It seems to be done, https://github.com/AMReX-Codes/amrex/pull/2244

[2021-08-13 16:29] #2240 closed, assigned to ax3l

[2021-08-13 16:39] ax3l commented on #2240
Thank you for your contribution, that's superb! :rocket: :sparkles:

[2021-08-13 17:03] jmsexton03 commented on #2243
@atmyers I'll take a look at this.

[2021-08-17 17:31] #2243 closed, assigned to jmsexton03

[2021-08-20 00:56] ax3l opened #2263 "SENSEI: Should not imply AMRLevel?"
WarpX builds without the `AMRLEVEL` feature set of AMReX (ref: https://github.com/ECP-WarpX/WarpX/pull/1764).

When we compile with SENSEI, this currently triggers a dependency on AMRLEVEL, which we would like to avoid unless really needed.

Seen in https://github.com/ECP-WarpX/WarpX/pull/2209 (and cross-linked comments/issues).

cc @c-wetterer-nelson @burlen

[2021-08-25 22:18] #2263 closed, assigned to nobody

[2021-08-26 19:39] kngott opened #2284 "Building with NVHPC (nvc++ and nvfortran)"
Continuation of the discussion had in PR #2282.

Moved here so I can close that PR and adjust. This issue can be the basis of continued tracking and discussion.

Generally, we'd like to build nvhpc using nvc++ and nvfortran, removing CUDA Fortran. The initially nvhpc build was created by NERSC staff to do some OpenACC and OpenMP Offloading, but building the desired configuration on Perlmutter has

[2021-08-26 19:40] kngott commented on #2284
Weiqun follow up on Axel's thoughts:

[code]

[2021-08-26 20:19] maximumcats commented on #2284
This feature is not ready for primetime yet. It is in development and has a number of known issues, and even when completed will have limitations that would require adjustments in AMReX to use. I will make a recommendation when I think it is a good time to look at this.

[2021-08-26 20:22] WeiqunZhang commented on #2284
@maxpkatz Thanks!

[2021-08-26 20:24] maximumcats commented on #2284
One requirement that we've already stated publicly and therefore might be worth thinking about now is that we will not support the use of `__CUDA_ARCH__` for doing host and device specific compilation, as that preprocessor based solution is incompatible with the single-pass compiler infrastructure we are implementing.

[2021-08-26 20:25] wyphan commented on #2284
Just tried building `Tests/GPU/CNS/Exec/Sod` in `kngott/nvhpc` branch @ a57b9a227 with NVHPC 21.7 on local.
Using CUDA 11.4 and OpenMPI 4.0.5 that came bundled with NVHPC.
It fails at the link phase:
[code]
I think it has something to do with the same directory listed twice under `-rpath` and `-L`?

Compiler versions:

[code]
[code]
[code]
[code]
[code]
[code]

[2021-08-26 20:39] WeiqunZhang commented on #2284
But HIP has `__HIP_DEVICE_COMPILE__` and SYCL has `__SYCL_DEVICE_ONLY__`.

[2021-08-26 20:47] kngott commented on #2284
@wyphan Right now the nvhpc build can be made to compile. However, after discussing what we want to do with the nvhpc build with Weiqun (i.e. target nvc++, nvfortran and remove CUDA Fortran), we decided not to fool with it at this time.

Building it "as is" now is the equivalent of NVCC pointing at g++ or something similar, which can simply be done under our current gnu system. The original PR tri

[2021-08-26 21:31] maximumcats commented on #2284
@WeiqunZhang We don't plan to regress functionality, there will be a way to specify host and device specific instructions, it just won't be done with a preprocessor macro. It will be more like `if constexpr`.

[2021-08-26 21:37] WeiqunZhang commented on #2284
Fancy!

[2021-08-30 01:09] ComputationalMultiphaseFlowLab opened #2298 "NaN's in the ghost cells near the domain boundary of a newly created patch of refined mesh when using amrex::FillPatchTwoLevels"
Dear Developers and AMReX support team,

I am using the AMReX framework to develop an incompressible flow solver on staggered mesh[1]. I am currently using a staggered mesh, where, x-component of velocities are stored at the x-face and the y-component of the velocities are stored at the y-face of a cell-centered mesh. I have been having an issue while using amrex::FillPatchTwoLevels with face dive

[2021-08-30 02:46] WeiqunZhang commented on #2298
The issue is the no-op phys bc will not work unless the fine grids do not touch the domain boundary.  This is because the interpolater's stencil will include ghost cells.  You can try the default `GpuBndryFuncFab` without user provided `f`.  Note that although the class has `Gpu` in its name, it works for CPU builds too.  For x-direction domain BC, I think you can set x-velocity BC type to `BCType

[2021-08-30 13:35] ComputationalMultiphaseFlowLab commented on #2298
Dear Dr. Zhang,

Thanks a lot for your reply. I tried to use GpuBndryFuncFab without user-provided f(please refer to the code given below). However, I get the following runtime error message:
" amrex::Abort::2::GpuBndryFuncFab: mixed type not supported !!!"

I followed the demonstration given on "https://amrex-codes.github.io/amrex/docs_html/Basics.html#boundary-conditions". It would be kind of yo

[2021-08-31 00:12] WeiqunZhang commented on #2298
Are you using an old version of AMReX?

As for the BCRec array, what I meant was something like
[code]
However, you should try other options too to see which works the best.  See my comments above.

[2021-08-31 13:50] ComputationalMultiphaseFlowLab commented on #2298
Dear Dr. Zhang,

Thank you so much for your feedback and suggestion. I was using amrex version 21.04-3-g5ec3d3799ff2. I just downloaded the latest version(21.08-75-g889686189996) and working on getting our code to work with this version. GpuBndryFuncFab works with the mixed type mesh in the new version. I do not get the error message " amrex::Abort::2::GpuBndryFuncFab: mixed type not supported !!!

[2021-09-01 02:52] #2298 closed, assigned to nobody

[2021-09-01 09:09] Iterator-Taken opened #2304 "Closed"

[2021-09-01 12:24] #2304 closed, assigned to nobody

[2021-09-03 21:52] ax3l opened #2311 "Spock: pthread issue"
from @WeiqunZhang via `<unknown user>` report on Spock (OLCF).

On a login node:
[code]
results in
[code]

[2021-09-03 21:56] ax3l commented on #2311
Most likely issue: https://github.com/ROCmSoftwarePlatform/rocRAND/pull/29#issuecomment-912815457

[code]

[2021-09-03 22:10] ax3l commented on #2311
Actually, it looks like we miss it, since I cannot find another libpthread dependency unresolved in `rocrand`.

[code]

Interesting, since we search and link pthreads:
https://github.com/AMReX-Codes/amrex/blob/168a690497396de4c6b89a36b6edb0430e51ef4c/Tools/CMake/AMReXParallelBackends.cmake#L1-L8

[2021-09-03 22:38] ax3l commented on #2311
The CMake output from this setup:
[code]
is concerning. Looks like the Cray and the AMD Clang are mixed.

One should add
[code]
too for consistency.

[2021-09-03 22:47] WeiqunZhang commented on #2311
Yes, we should do that. That seems to fix the pthread issue.

[2021-09-03 22:51] WeiqunZhang commented on #2311
Let's ignore the errors in compiling tutorials that use AmrLeve.  If I run `amrex-tutorials/build/3d.gnu.float.hip/Basic/HelloWorld_C/Basic_HelloWorld_C`, I get
[code]
So now we have reproduced the symbol issue reported to us.

[2021-09-03 22:56] ax3l commented on #2311
Compiling now with
[code]
to reproduce

[2021-09-03 23:11] ax3l commented on #2311
With cmake 3.20.2 we can use `hipcc` as CXX Compiler:
[code]

So just some llvm magic flags from `hipcc` missing.

[2021-09-03 23:18] ax3l commented on #2311
Same thing with `cmake/3.21.2-dev` unravels the `hipcc` to `clang++`.

Now we have to work around that already fixed upstream bug about defaults in `-x cxx` and `-x hip` front-ends: ([ref](https://gist.github.com/ax3l/9489132#gistcomment-3759801))
[code]

That then still raises `"Cannot find Symbol"` though, so some llvm flags still being lost somewhere, maybe because ROCm 4.3.0 does not yet antic

[2021-09-04 06:23] ztdepztdep opened #2313 "how to use cmake file to compile a tutorial in kdevelop"
`cmake_minimum_required(VERSION 2.6)
project(amrex)
include_directories(/home/ztdep/lib/amrex/include)
include_directories(/usr/local/cuda/include)
link_directories(/home/ztdep/lib/amrex/lib64)
link_directories(/usr/lib/hpc/gnu7/mpi/mpich/3.2.1/lib64)
link_directories(/usr/local/cuda/lib64/stubs/)
add_executable(main main.cpp)
target_link_libraries (main amrex cuda  gfortran)
`

I write a cmake fi

[2021-09-07 13:59] rsiddu0511 opened #2317 "Definition of geom in non-periodic EXT_DIR condition"
In an attempt to solve a Laplacian Equation solver, I used this line from HeatEquation_EX2_C

`define(domain,real_box,CoordSys::cartesian,is_periodic.data());`

But I am getting the following error:

`error: no matching function for call to ‘amrex::Geometry::define(amrex::Box&, amrex::RealBox&, amrex::CoordSys::CoordType, int*)'`

Sorry if this is something trivial but it would be of great help if

[2021-09-07 17:59] atmyers commented on #2317
`is_periodic` carries `AMREX_SPACEDIM` integers that are `0` if the domain is non-periodic in that direction and `1` if it is. `is_periodic.data()` returns to the pointer to the start of the memory where those numbers live, which is what what the `define` method of `amrex::Geometry` [expects](https://amrex-codes.github.io/amrex/doxygen/classamrex_1_1Geometry.html#aeba60991848a022ff91863c7b6af0de8)

[2021-09-08 07:37] rsiddu0511 commented on #2317
Alright @atmyers sir, now I am getting it. Thank you once again for taking time to clarify my query.

[2021-09-08 07:37] #2317 closed, assigned to nobody

[2021-09-10 04:28] GumpXiaoli opened #2323 "How to suppress the gcc warning of simd?"
`#define AMREX_GPU_PARALLEL_FOR_3D_IMPL(box,i,j,k,block) \
    { \
        const auto amrex_i_lo = amrex::lbound(box); \
        const auto amrex_i_hi = amrex::ubound(box); \
        for (int k = amrex_i_lo.z; k <= amrex_i_hi.z; ++k) { \
        for (int j = amrex_i_lo.y; j <= amrex_i_hi.y; ++j) { \
        AMREX_PRAGMA_SIMD \
        for (int i = amrex_i_lo.x; i <= amrex_i_hi.x; ++i) { \

[2021-09-10 15:33] WeiqunZhang commented on #2323
Is the warning about a loop in amrex or in your code?  If the loops are not independent, `AMREX_PARALLEL_FOR_3D` should not be used.   If `AMREX_FOR_3D` is used instead, the warning will be gone and the CPU builds should work.  However, the GPU builds probably have race conditions.

[2021-09-15 20:08] RSuryaNarayan opened #2331 "Extruding 2-d checkpoint data to 3-d"
Hello everyone,

Is there a way to read a 2-D checkpoint and convert it into a 3-D checkpoint by extruding it uniformly along the third direction?

Thanks a lot.

[2021-09-15 20:44] WeiqunZhang commented on #2331
Could you be more specific about the format of your checkpoint files?  The 2D MultiFab data written with 2D `VisMF::Write` can be read with 3D `VisMF::Read.  The result will be a 3D MulitFab with one cell and zero ghost cells in the z-direction.  One can then write a function to extend the data to 3d.  We will show you how to do this later.  But the first thing it to read the data.

[2021-09-22 06:08] GumpXiaoli commented on #2323
It's in my code. I'm sure there are no loop-carried dependencies. But the warning is still there.

[2021-09-23 14:09] etpalmer63 commented on #2313
Hi,

I don't normally use KDevelop but I have a few suggestions for things you could try that may help you get things running:
1. Check your version of CMake, at a terminal `cmake --version`. I'm currently using version 3.21.2.
2. Can you compile the HelloWorld example outside of KDevelop?
3. Finally, I was able to get something working by short cutting some of KDevelop's interface. After making a

[2021-09-27 16:12] roelof-groenewald opened #2359 "Neumann BC support for domain boundaries with MLEBNodeFDLaplacian"
Currently the `MLEBNodeFDLaplacian` linear operator class does not support Neumann BCs on the domain edge (see [here](https://github.com/AMReX-Codes/amrex/blob/54dc681046f8c3f19034358fe0d45b72d13a9863/Src/LinearSolvers/MLMG/AMReX_MLEBNodeFDLaplacian.H#L13)). The Modern Electron team would greatly appreciate if support for Neumann BCs could be added since the `MLEBNodeFDLaplacian` class is used whe

[2021-10-01 18:59] #2359 closed, assigned to WeiqunZhang

[2021-10-06 23:46] Makoto523sys opened #2385 "Does AMReX support staggered grid ?"
Hello, I am a university student in Japan.
I want to use this library for CFD, however I could not  understand even whether this library can apply to staggered grid or not.
I would appreciate it if you could let me know if the staggered grid can be applied to this library.

[2021-10-06 23:48] asalmgren commented on #2385
Yes, AMReX supports the data type that lives on face centers, which is what
is needed for staggered grid algorithms.

On Wed, Oct 6, 2021 at 4:46 PM Makoto523sys ***@***.***>
wrote:

--
Ann Almgren
Senior Scientist; CCSE Group Lead
Pronouns: she/her/hers

[2021-10-07 00:20] Makoto523sys commented on #2385
Thank you for your reply.
Do you have a tutorial program using the staggered grid?
Also, I would like to use AMReX in Fortran, can I use that data type in Fortran?

[2021-10-07 00:27] asalmgren commented on #2385
Yes, take a look at

https://github.com/AMReX-Codes/amrex-tutorials/blob/main/ExampleCodes/FortranInterface/Advection_F

for example.   In that code, "flux"  and "uface" ,for example, are arrays
of FABs that live on faces, so flux(1) lives on x-faces, flux(2) lives on
y-faces, etc.

On Wed, Oct 6, 2021 at 5:20 PM Makoto523sys ***@***.***>
wrote:

--
Ann Almgren
Senior Scientist; CCSE Group Lead
Pr

[2021-10-07 00:31] Makoto523sys commented on #2385
Thank you very much for your kind attention.

[2021-10-07 00:32] #2385 closed, assigned to nobody

[2021-10-13 21:02] ax3l commented on #1968
We found today via ROOT's `TUnixSystem::SetFPEMask`: https://root.cern/doc/v612/TUnixSystem_8cxx_source.html

https://en.cppreference.com/w/cpp/numeric/fenv

[2021-10-13 21:17] WeiqunZhang commented on #1968
But

Could you test to see if it raises SIGFPE?

[2021-10-13 22:41] ax3l commented on #1968
I tried the C++ example here:
- https://en.cppreference.com/w/cpp/numeric/fenv/fetestexcept

With AppleClang 13.0.0 on M1. It compiles with `clang++` with the warning:
[code]

But looking at the output, it produces what is shown in the example for the tested exceptions.

Looking at the C example, it looks to me like the exception status might be overwritten by later exceptions if not probed immedi

[2021-10-13 22:59] WeiqunZhang commented on #1968
Could try to install a signal handler to see if it can catch a divide-by-zero?  https://en.cppreference.com/w/cpp/utility/program/signal

[2021-10-16 15:07] maximumcats opened #2410 "Avoid usage of std::chrono when using nvcc and gcc 10.3"
gcc had a bug in version 10.3 that is exposed when used as host compiler for nvcc which manifests as the following compile-time error when one does `#include <chrono>`:

[code]

Since the usage of std::chrono is localized to only a couple places in AMReX, we may want to implement a workaround that ifdefs out the include of std::chrono for this combination of compilers. For example, amrex::Sleep co

[2021-10-16 16:03] maximumcats commented on #2410
One complication is that a couple of gcc headers `#include <chrono>` themselves, particularly `mutex` which is now used in CArena.

[2021-10-16 17:17] ghost opened #2411 "Time Integration RK3"
Hi,

I have based my code on the design of the CNS example some time ago. The latter provides an example for 2-stage Runge Kutta 2nd order time integration. Having extended my solver to high order I tried to code the 3rd order SPP Runge Kutta (SSPRK (3, 3) of the link below).
Here is the source code:

`    // SSP RK3 stage 1
    FillPatch(*this, Sborder, NUM_GROW, time, State_Type, 0, NUM_STATE);

[2021-10-18 22:33] WeiqunZhang commented on #2411
I think you should change the `dt`s passed to `compute_dSdt`, because they are used to scale the fluxes that go into the FluxRegisters.  They should be `dt/6.`, `dt/6.` and `dt*2./3`, respectively.  This probably can give results that are somewhat right.  However, formally this does not produce high order results.

Combining SSPRK(3,3) with subcycling in time is not very straightforward.  The issu

[2021-10-21 23:57] ztdepztdep opened #2427 "how to set user defined the first kind bc values"
I want to implement the BGK-LBM method with amrex, I need to set the distribution functions f0,f1,f2,......,f8 with the following expression:
                              f1(0,j)=f3(1,j),f2(0,j)=f5(1,j)
how to achieve this goal.
Regards

[2021-10-22 03:52] ztdepztdep opened #2428 "what is the meaning of "amrex::ParallelFor(bx, [=] AMREX_GPU_DEVICE(int i, int j, int k)""
I don't use the "GPU" for the computation, Could you please tell me what is the meaning of  AMREX_GPU_DEVICE(int i, int j, int k)"
Regards

[2021-10-22 03:55] maximumcats commented on #2428
`AMREX_GPU_DEVICE` is a macro that provides a decorator to the lambda function that makes it usable for the CUDA and HIP GPU backends. If you aren't planning to compile your code to run on GPUs you can leave it off; it just evaluates to an empty string for CPU builds. (With that said, if you aren't planning to use a GPU, then `amrex::ParallelFor()` doesn't really provide any value over a simple fo

[2021-10-29 00:55] PhilMiller opened #2449 "Non-scalable O(P) gather-and-hash operation in Src/Base/AMReX_GpuDevice.cpp can be made scalable"
https://github.com/AMReX-Codes/amrex/blob/development/Src/Base/AMReX_GpuDevice.cpp#L282

This code is hazardously non-scalable, since it allocates and fills a hash table expected to hold O(P) entries.

One potential better implementation would be to run a similar gather and hash operation over the per-node split communicators used just before to select `device_id`, and then reduce with a contribut

[2021-11-11 22:48] WeiqunZhang commented on #2449
It's a one time cost.  So it's probably OK even if it's inefficient.

[2021-11-15 20:35] hsitaram opened #2476 "Robin BC problem"
Hi,
I am trying to use the Robin boundary condition with mlabec. There is nothing much in the docs for this one, so I figured it out from the commit message, ie setting domainbc and levelbc accordingly. I am finding that the solution I get is not what I expect. For example, when I solve d^2phi/dx^2=0 for x in (0,1) and phi(0)=1 and phi(1)=0, I should get a linear solution. I do get the exact solut

[2021-11-15 22:07] WeiqunZhang commented on #2476
Should this be 0.0?

[2021-11-15 22:49] hsitaram commented on #2476
I am setting ascalar as 0, shouldnt matter no?

[2021-11-15 22:57] WeiqunZhang commented on #2476
The way we do Robin BC is we modify the RHS, A coefficient and ascalar, and change the BC to homogeneous Neumann.  I guess internally we should have set the user provided A to zero first if the ascalar is 0.

[2021-11-15 23:09] hsitaram commented on #2476
That fixes it! Thank you for your help @WeiqunZhang.

[2021-11-15 23:10] WeiqunZhang commented on #2476
Thanks for reporting this.  It is a bug.  We have forgot about this corner case.  Will fix it.

[2021-11-15 23:11] hsitaram commented on #2476
Great! Thank you very much.

[2021-11-17 18:30] hsitaram commented on #2476
Hi @WeiqunZhang - I did some further testing after applying your fix. Now I tried to solve -d2phi/dx2+phi=x; phi(0)=phi(1)=0, with Robin Bc that fakes a dirichlet condition (robin_a=1,robin_b=0,robin_f=dircval). I got a surprising result.
With ascalar=1,acoef=1 solution matches exact solution but with ascalar=-1,acoef=-1 the computed solution is off. see picture
![robintest](https://user-images.gi

[2021-11-17 18:51] WeiqunZhang commented on #2476
Could you post your test code here?

[2021-11-17 19:01] hsitaram commented on #2476
It is almost the same as the previous version. The exact solution is (exp(-x)-exp(x))*e/(e^2-1)+x in case you want to compare. See below for code

[code]

[2021-11-17 23:30] WeiqunZhang commented on #2476
There is another bug in determining if the matrix is singular.  It's fixed now in the PR.

[2021-11-18 16:27] hsitaram commented on #2476
I applied your patch and it is giving the right solution. Thank you @WeiqunZhang

[2021-11-22 18:54] tpg2114 opened #2491 "Incorrect plot files with HDF5"
I am having an odd issue that I can't seem to track down. I have incorrect data being written to HDF5 plot files. It happens once I exceed certain (case-specific) core counts. It looks like it happens when not all processors have boxes on a given level -- in other words, if any rank does not have a box on a given level, that level is written incorrectly to the HDF5 file.

While debugging, I change

[2021-11-22 18:59] tpg2114 commented on #2491
Oh, the other useful bit of info -- this is on version `21.11` because later versions broke my build system, they were unable to find HDF5. It looks like the HDF5 routines were heavily modified since 21.11 so maybe I need to figure out how to unbreak my build with later versions...

[2021-11-22 20:22] atmyers commented on #2491
Thank you for reporting this. @houjun, do you have any ideas?

One thing that might help is to try to trigger this using `amrex/Tests/HDF5Benchmark`. If you change the distribution map in that test so that 1 process has no boxes, can you trigger the error there?

[2021-11-22 20:25] tpg2114 commented on #2491
Thanks for the tip @atmyers -- let me see if I can figure out how to do that and get back to you.

In the mean time, I changed the data I was writing to `level_number*10000 + rank*100 + comp` so I could see what, exactly, was overwriting what. I ran with 36 processors. The first box that should have been written was on rank 3 (ranks 0, 1, 2 did not have boxes) but what ended up in that position wa

[2021-11-22 20:36] houjun commented on #2491
Hi @tpg2114 , seems like there is a bug with the HDF5 dataspace selection for the write, do you have reproducer codes that I run and debug?

[2021-11-22 20:38] tpg2114 commented on #2491
@houjun I don't at the moment. I'm going to see if I can get the `amrex/Tests/HDF5Benchmark` to do it. Rebuilding things with testing turned on now to try it out, I'll let you know if I can replicate it there.

[2021-11-22 21:19] tpg2114 commented on #2491
Okay, @houjun and @atmyers I think I have an example that breaks. I hacked apart the `HDF5Benchmark` case to make this happen, [here is the `main.cpp` I modified, converted to a text file](https://github.com/AMReX-Codes/amrex/files/7584436/main.txt) and the
[input file converted to a text file](https://github.com/AMReX-Codes/amrex/files/7584439/inputs.txt). I ran with 36 processors just to really

[2021-11-22 21:28] tpg2114 commented on #2491
And here is possibly-relevant configuration options:

[code]

[2021-11-22 21:38] houjun commented on #2491
@tpg2114 I'm able to write the data and generate the same plot with your modified codes, will start debugging.

[2021-11-22 21:52] tpg2114 commented on #2491
@houjun Great -- I think I see what is happening, but I don't quite understand enough about the code to know why yet. I went back to my original simulation and I printed out the rank, number of boxes on that rank, `ch_offset`, and `hs_procsize` for the level that was broken. Without tallying it all up, here is what happens:

[code]

So when it calculates the offsets for each processor, it isn't ac

[2021-11-22 22:16] tpg2114 commented on #2491
The other tidbit I found -- `procOffsets` is populated correctly on rank 0, but all of the others have offsets when they should not have them. So it seems that something is off in this part:

[code]

[2021-11-22 22:56] houjun commented on #2491
@tpg2114 I believe I found the problem, it is due to the wrong offset/size to rank assignment when there are ranks with no box. Here is a patch with the fix, could you please apply it to amrex and run your application code? It works for the HDF5Benchmark code with 36 ranks. It should also fix the hanging issue you mentioned earlier.
[patch](https://gist.githubusercontent.com/houjun/f46de9cea2c1b95

[2021-11-22 23:30] tpg2114 commented on #2491
@houjun Some good news and some bad news -- the patch does fix the writing issue and I can now get the expected images from my dataset! It does not, however, fix the hanging with 31 processors for my code. It hangs in the call to:

[code]

This happens on a level where all processors have at least one box, so it might have a different root cause. It is reaching the call with all processors, but ha

[2021-11-22 23:39] houjun commented on #2491
@tpg2114 hmm... Any chance you can reproduce it with the HDF5Benchmark code?
Here are two things to try:
1. Add a printf message (may need a fflush call to avoid buffering) before that H5Dwrite and check whether all ranks reached there, I suspect some ranks may got stuck somewhere else.
2. Change dxpl_col to dxpl_ind, which makes H5Dwrite to use MPI independent write instead of collective.

[2021-11-22 23:43] tpg2114 commented on #2491
I'll try to reproduce it -- I did add a `std::cout` right before the call and it shows all 31 processors hitting that call and none leaving it, for level 2 (2nd from finest level).

But I'll see if I can get the HDF5Benchmark to reproduce it. It will likely be tomorrow before I can work on it more, though.

[2021-11-22 23:49] tpg2114 commented on #2491
Switching to `dxpl_ind` with 31 processors in my code does make it through that call and the file looks to be written correctly.

I am not well-versed in MPI-IO or parallel HDF5 (this is my first adventure in both) -- is the independent write vs. collective write just a performance difference, or is there a data integrity implication or something else?

[2021-11-22 23:53] houjun commented on #2491
If everything else is the same, independent and collective write should only be a performance difference. Since it works fine with independent but not collective, there could be issues either with my code or HDF5. I see you are using HDF5 1.12.1, do you have any other HDF5 versions (e.g.1.10.x) installed that you can test with?

[2021-11-23 00:02] tpg2114 commented on #2491
I don't at the moment -- our code uses a CMake superbuild to assemble all the dependencies and main code, and finding HDF5 is always a horrible pain, so we're using the CMake-ified HDF5 to help make it easier. Unfortunately, that means I have to patch AMReX using CMake to change the version it looks for (at least with AMReX `21.11`), while newer versions of AMReX changed how it finds HDF5 in CMake

[2021-11-23 00:06] tpg2114 commented on #2491
It looks like the CMake HDF5 for versions newer than 1.10.3 might work correctly, I'll try 1.10.8 when I get a chance tomorrow.

[2021-11-23 00:10] houjun commented on #2491
Sounds good, please let me know what you find with 1.10.8.

[2021-11-23 05:58] tpg2114 commented on #2491
Hi @houjun -- Collective IO with HDF5 1.10.8 also hangs on the 31 processor test with my code. Independent IO has no problem and writes the file correctly then moves into the solver iterations.

I can't seem to reproduce it with the HDF5Benchmark test, though.

[2021-11-23 16:25] houjun commented on #2491
@tpg2114 could you print the following values before the hanging H5Dwrite:
myProc, level, ch_offset[0], hs_procsize[0], hs_allprocsize[0]

[2021-11-24 16:10] tpg2114 commented on #2491
@houjun Sure, here it is:

[code]

If I were to `call amrex_print(vars(level)%ba)` and likewise for the distromap and gave those to you, could those be read in the benchmark test to maybe reproduce the issue there?

[2021-11-24 17:40] houjun commented on #2491
@tpg2114 Thanks! These should be enough to reproduce the issue since everything seems to be fine until H5Dwrite.
I have created a simple HDF5 program that uses the offset and size you provided. I ran it with 31 ranks and it works with both dxpl_col and dxpl_ind, so I'm still not sure why you got the hang. Could you try running this code on the machine where you ran your application?
[code](https:/

[2021-11-24 17:59] tpg2114 commented on #2491
@houjun This MWE does in fact hang on my machine with 31 processors using both HDF5 1.12.1 and HDF5 1.10.8.

I will try this on a few different HPC machines and see if I can identify whether it is compiler-related or MPI-related. I am using the new-style LLVM-based Intel compilers (2021.4) with OpenMPI 4.0.3, with GNU 11.2.1 providing Intel with the standard libraries. I think I have access to eno

[2021-11-24 18:49] tpg2114 commented on #2491
Okay -- so I've run it on several machines now and it appears the problem is in OpenMPI.

I've built and run with MPICH on my machine with the same compilers as the case that hangs, and it works just fine.

I guess I'm going to replace OpenMPI in our builds when MPI isn't already installed. I'm happy to help debug more if there are possible environment variable settings or `mpirun` options for Ope

[2021-11-24 19:02] houjun commented on #2491
@tpg2114 Hearing about OpenMPI being the cause of the hanging issue reminds me that I had some issues with OpenMPI using the ROMIO driver, could you try running the program with ompio driver and see if it still hangs:
mpirun --mca io ompio -np 31

[2021-11-24 20:00] tpg2114 commented on #2491
@houjun It does hang with `mpirun --mca io ompio -np 31`, and looking at the documentation, the `io ompio` option is the default driver for my build. So I tried it with `mpirun --mca io romio321 -np 31`, which is the only other IO MCA my build has.

That does not hang.

So the problem seems to be in the OMPIO driver specifically, whereas the ROMIO driver works correctly.

-------------------------

[2021-11-24 20:14] tpg2114 commented on #2491
And with those search terms in hand, it looks like this is a known bug in OpenMPI:

https://www.mail-archive.com/users@lists.open-mpi.org/msg33511.html

although it was marked fixed in 4.0.3 [here](https://github.com/open-mpi/ompi/issues/7109), but it doesn't seem to be fixed for me.

[2021-11-24 21:42] houjun commented on #2491
OK, I probably remembered it wrong and it was fine to use romio but not ompio. I'll open an issue in the HDF5 github repo and see if they know anything.

[2021-12-01 03:01] ax3l commented on #2284
Just to close the loop on the original topic:
AMReX (and WarpX) compile with NVHPC 21.9+ using NVC++ (host) & NVCC (device) now :) #2066

[2021-12-01 03:15] #2284 closed, assigned to ax3l, WeiqunZhang, maximumcats, wyphan

[2021-12-03 04:46] WeiqunZhang opened #2512 "'flux registers' for edge-centered EMFs?"
### Discussed in https://github.com/AMReX-Codes/amrex/discussions/2511

<div type='discussions-op-text'>

<sup>Originally posted by **BenWibking** December  2, 2021</sup>
Hi,

We are planning to implement face-centered MHD in Quokka. Is there a 'flux register' to do the correction at coarse-fine interfaces of edge-centered EMFs in AMReX? In Chombo, this can be accomplished with [`LevelFluxRegister

[2021-12-05 20:05] BenWibking commented on #2045
I am also interested in this functionality. It looks like this is solved by #2238, correct?

[2021-12-05 22:38] WeiqunZhang commented on #2045
Yes, this has been addressed.  And for FillPatch, you can use
[code]

I don't think this has been used for MHD.  If you notice any issues, let us know.

[2021-12-05 22:38] #2045 closed, assigned to nobody

[2021-12-06 02:07] BenWibking commented on #2045
Ok, thanks!

[2021-12-07 20:40] asalmgren commented on #2428
This question has been answered

[2021-12-07 20:40] #2428 closed, assigned to nobody

[2021-12-10 17:47] #2476 closed, assigned to nobody

[2021-12-21 13:55] zingale opened #2543 "MLEBNodeFDLaplacian changed break Castro compilation"
The changes merged in https://github.com/AMReX-Codes/amrex/pull/2538 break the compilation of Castro radiation:
http://groot.astro.sunysb.edu/Castro/test-suite/gfortran/2021-12-21/index.html

[2021-12-21 17:48] #2543 closed, assigned to nobody

[2021-12-30 14:35] SudhakarYogaraj opened #2552 "AMReX_SPACEDIM issue with CMake -- Spack installed AMReX"
Hi,

I have installed AMReX 21.10 using spack. It works perfectly fine in 3D. However, when I try to compile the code in 2D with

_find_package(AMReX REQUIRED 2D)_

CMake throws an error. Changing 2D to 3D works fine. Do I need to use any special command other than _spack install amrex_ while installation?

Thanks

[2021-12-30 15:37] sayerhs commented on #2552
@SudhakarYogaraj  If you just do `spack install amrex` it will build AMReX with `AMREX_SPACEDIM = 3` [see spack definition](https://github.com/spack/spack/blob/develop/var/spack/repos/builtin/packages/amrex/package.py#L54).

You will have to build a variant of AMReX

[code]

[2021-12-31 12:51] SudhakarYogaraj commented on #2552
Thank you Shreyas. It worked.

[2022-01-02 19:58] #2552 closed, assigned to nobody

[2022-01-07 23:28] ashwathsv opened #2565 "Stencil for cut cell and enforcing boundary conditions on embedded body surface (EB_CNS Tutorial)"
This is more a question than an issue:

1) How are the boundary conditions enforced on the embedded boundary surface? For example, if we need to enforce a no-slip/no-penetration BC on the object surface, do we use a different stencil relative to the rest of the domain? Does the FillPatch routine appropriately fill the ghost cells for the embedded boundary too or does this need to be done separatel

[2022-01-10 16:13] WeiqunZhang commented on #2565
In `Tests/EB_CNS/`, the flux on the EB surface is  computed by function `compute_hyp_wallflux` in `Tests/EB/EB_CNS/Source/hydro/CNS_hydro_K.H`.  It solves a Riemann problem with the same density and pressure for the two states.  The normal velocity is reflected at the interface and the transverse velocity is set to zero.

In funciton `CNS::variableSetup` in `Tests/EB_CNS/Source/CNS_setup.cpp`, `eb

[2022-01-11 15:50] #2565 closed, assigned to nobody

[2022-01-11 19:08] eschnett opened #2569 "MPI thread level constants are not compile-time constants"
AMReX uses the MPI thread level constants in a switch statement in `Src/Base/AMReX_ParallelDescriptor.cpp`. The MPI standard does not guarantee that these are compile-time constants; they might only be link-time constants which are not allowed in switch statements. I am using [MPItrampoline](https://github.com/eschnett/MPItrampoline), one such MPI implementation.

[2022-01-11 20:51] #2569 closed, assigned to nobody

[2022-01-20 19:01] ax3l commented on #2311
For the "Cannot find Symbol" issue, one can `strace` the application like this (Crusher example):
[code]

Note latest Crusher instructions in WarpX: https://warpx.readthedocs.io/en/latest/install/hpc/crusher.html

[2022-01-25 00:55] BenWibking commented on #2512
Is this something that is likely to be available on a ~few months timescale? The reason I ask is because Mark (@markkrumholz) and I are advising a PhD student on implementing method-of-lines MHD in Quokka and whether this will be available in AMReX would significantly affect the direction we go.

I see that there is now a CTU+MHD implementation in Castro. This could be useful for Castro if subcycl

[2022-01-25 22:27] WeiqunZhang commented on #2512
We will give this a push in the next few weeks.

[2022-01-25 22:37] BenWibking commented on #2512
Ok, thanks for the update!

[2022-01-30 18:59] kweide commented on #327
Is #2452 of any relevance here?

[2022-01-30 20:38] zingale opened #2607 "AMReX CUDA issues with CUDA 11.6"
If you build `amrex-tutorials/ExampleCodes/Amr/Advection_AmrCore` with CUDA 11.6 and run as:

[code]

we get:

[code]

a similar issue is happening with Castro with the latest CUDA.  This does not appear to be an issue with CUDA 11.4

[2022-01-31 14:24] AMReX-Fusion opened #2608 "No final output files"
Hello,

I am trying a simple Sedov test on my Ubuntu in Windows Subsystem for Linux (WSL) and Castro doesn't want to produce proper output files. It creates only temporary output files:

drwxrwxrwx 1 ondrej ondrej      512 Jan 31 15:08 sedov_1d_sph_chk00000.temp
drwxrwxrwx 1 ondrej ondrej      512 Jan 31 15:09 sedov_1d_sph_chk00119.temp
drwxrwxrwx 1 ondrej ondrej      512 Jan 31 15:08 sedov_1d_sph

[2022-01-31 16:22] AMReX-Fusion commented on #2608
Actually I found the culprit.

I am not sure if this was intended, but currently the HeaderFile of the output directory opened on line 987 is not closed before "std::rename(xxx,yyy)" is called. Since this file resides in the "_plt" folder, it effectively blocks the renaming of the folder.

I suggest to close it on line 1039:

HeaderFile.close()

The same case is with the "_chk" output folders. So

[2022-01-31 16:43] WeiqunZhang commented on #2608
Thanks for reporting this and finding the culprit!

[2022-01-31 18:54] #2608 closed, assigned to nobody

[2022-01-31 23:44] BenWibking commented on #2607
This happens for Quokka as well. It works fine for CUDA 11.4 and 11.5. For me, the issue appears to be when it calls the physical boundary functor, which only happens when the simulation is not fully periodic (https://github.com/BenWibking/quokka/issues/21). So this might be a different device function that it's failing on.

[2022-02-01 00:31] WeiqunZhang commented on #2607
@zingale Could you try to compile and run without MPI?

[2022-02-01 00:42] WeiqunZhang commented on #2607
The test works for me with CUDA 11.6.0, with and without MPI.  (I printed out `__CUDACC_VER_MAJOR__` and `__CUDACC_VER_MINOR__` to make sure it was using 11.6.)

[2022-02-01 00:48] zingale commented on #2607
I made a mistake above, you need to test with `geometry.is_periodic=0 0`

[2022-02-01 00:51] zingale commented on #2607
I get the error with and without MPI

[2022-02-01 01:05] WeiqunZhang commented on #2607
Now I get the error too.

[2022-02-01 01:08] BenWibking commented on #2607
I can reproduce. I get this backtrace, which suggests it is also failing to compile the boundary functor correctly:
[code]

[2022-02-01 01:10] WeiqunZhang commented on #2607
This seems to be a CUDA bug.  The issue appears to be functor like below
[code]

[2022-02-02 02:03] BenWibking commented on #2607
Is there a bug report open with NVIDIA for this?

[2022-02-03 23:07] WeiqunZhang commented on #2607
@maxpkatz Do you have any comments?  I have tried to come up with a small reproducer.  The best I have is the following.
[code]
It will produce
[code]
It dies at https://github.com/WeiqunZhang/amrex/blob/cuda16/Src/Base/AMReX_PhysBCFunct.H#L391.  This looks like a bug in  CUDA 16.  A few observations.

1. The functor is a no-op. `void operator() (const amrex::Real) const {}`. https://github.com/We

[2022-02-04 18:59] maximumcats commented on #2607
@WeiqunZhang This is the minimal reproducer:
[code]

[code]

I will discuss it with the NVIDIA compiler team.

[2022-02-04 23:47] ramsampath opened #2615 "AMREX build errors with CUDA on Windows and Visual Studio 2019"
Hello,

 I get the following error when enabling GPU as CUDA on amrex and when building the basic HelloWorld application

"AMReX.H:99: error: C2061: syntax error: identifier '__device__'"

amrex itself however builds fine. Is there any compiler flag which has to be passed fo resolve this ?

Thank you in advance

[2022-02-05 05:37] etpalmer63 commented on #2615
Hi,

Can you say a little more about how you are compiling the code? Based on the error message my initial guess is that the compiler you're using is not configured to compile CUDA code. If you haven't already, maybe you could troubleshoot this by trying to compile a CUDA HelloWorld code and see if that works.

Personally, I don't have experience with Visual Studio so perhaps others will have bett

[2022-02-07 05:52] ramsampath commented on #2615
Hello Erik,

  Thank you for your response.  I am using cmake and I guess there's perhaps some issue with visual studio preprocessor compiler not understanding macros __xxx__ . This could be the issue and not sure how to resolve this and so I thought I would ask someone in this group to see if they had an experience with compiling with Visual Studio if there are any additional compiler flags to be

[2022-02-07 14:03] etpalmer63 commented on #2615
Hi Ram,

Based off the error message, I think the preprocessor is handling the macro appropriately and replacing `AMREX_GPU_HOST_DEVICE` with the appropriate Cuda code. However, the error could arise after the macro is replaced, when you try to compile CUDA code, i.e. syntax like `host device`,  with a C++ compiler.

What result did you get with the CUDA helloworld code? I was thinking something j

[2022-02-07 14:35] drummerdoc commented on #2615
Maybe @ax3l has some experience with this?

[2022-02-07 16:59] WeiqunZhang commented on #2615
This might help. https://github.com/robertmaynard/amrex_tutorial.

[2022-02-07 18:03] WeiqunZhang commented on #327
#2452 is different.  It uses the coarse data to override the fine data.

[2022-02-08 06:06] Jokeren commented on #2607
I encountered the same issue as well. Thanks @maxpkatz for confirming this problem.

[2022-02-08 18:59] ramsampath commented on #2615
Thank you for your responses. I think the problem is what erik said , for some reason perhaps instead of calling nvcc to compile the sources its using the regular visual C++ compiler. When building amrex it seems to be calling nvcc to build but when building the examples it seems to be calling the regular C++ compiler and the errors appear. This seems to happen also in the Ubuntu builds of example

[2022-02-08 19:20] etpalmer63 commented on #2615
Hi Ram,

Which HelloWorld example are you trying to compile? Can you post the `CMakeLists.txt` file associated with the project?

In the past, I found CMake would decide that all `.cpp` files had to be compiled with the C++ compiler. In `CMakeLists.txt` I had to tell it specifically to treat these files as Cuda language. You can see this in the very end of the file,
`amrex/Tests/SpackSmokeTest/CMa

[2022-02-08 20:39] ramsampath commented on #2615
Thank you Erik . I will try that. Regarding the CMakeLists.txt - i am just using the one from amrex-tutorials. I will look at the CMakeLists.txt file you pointed me towards. Thank you.

[2022-02-08 20:43] ramsampath opened #2622 "AMREX build errors on Windows Visual Studio 2019 with OpenMP enabled. (-openmp)"
Hello,

 Has anyone had success with enabling OpenMP on windows ?

 I enabled AMReX_OPENMP to be ON and did a build in visual studio with cmake and got the following errors..along with others.

Severity	Code	Description	Project	File	Line	Suppression State
Error	C2059	syntax error: '#pragma omp threadprivate' (compiling source file D:\FDYNAMICS\amrex\Src\Base\AMReX.cpp)	amrex	D:\FDYNAMICS\amrex\Src

[2022-02-09 04:46] BenWibking opened #2623 "calling a function passed as template argument within ParallelFor causes nvcc internal compiler error"
I can trigger an internal compiler error with nvcc (CUDA 11.5) by calling a function that was passed as a template argument from inside a ParallelFor loop, like this:

[code]

which gives the following internal compiler error:

[code]

Is this something that is supported inside device lambdas and is a compiler bug, or is this something that is disallowed inside device lambdas but is just not emitt

[2022-02-09 04:50] maximumcats commented on #2623
What kind of object is `F`?

[2022-02-09 04:54] BenWibking commented on #2623
In this case, `F` is a static member function of a class template:

[code]

[2022-02-09 16:26] WeiqunZhang commented on #2623
I have never seen the error before.  Likely a compiler bug. You could try various things like using a free function instead of static member function, passing `F` by value, and removing `noexcept` to see if it can worked around.

[2022-02-09 19:14] ramsampath commented on #2622
It looks like Visual Studio 2019 C++ compiler doesn't support the following OpenMP directives

#pragma atomic read
and
#pragma omp threadprivate(xxx)

which is used in AMReX header files.

these occur on lines

82 : AMReX_BoxArray.G

32: AMReX_BLBackTrace.H

and
51-54: AMReX_BaseFab.H

- Is there any workaround to disable these since Visual Studio 2019 C++ compiler only supports a very outdated ve

[2022-02-10 17:09] WeiqunZhang commented on #2622
In principle, it's possible to reimplement those without using OMP 3.  However, you have other choices.  You can use Clang, which support OpenMP 3.  You can also use flat MPI instead of MPI+OMP.

[2022-02-11 11:37] nw236 commented on #1743
Hi,
I had the same error message and wanted to know what caused it as I could not find obvious programming errors.

It turned out that I've used `phi.setVal(0.0)` and `MultiFab::Copy(...)` inside the mfiter loop. Moving these out of the loop solved the issue.

Hope this helps others.
Nils

[2022-02-15 19:26] ramsampath commented on #2622
Thank you Weiqun - i will try these other options. Actually I was able to also build it with the Intel OneAPI C++ compiler with these OMP directives. I will also try the clang/llvm  compiler in visual studio 2019.

[2022-03-03 20:38] rmrsk opened #2645 "EB grid generation abort"
I'm generating some EB grids that abort with "amrex::EB2::build_faces: more than 2 cuts not supported", which I assume is AMReX's way of telling me that it doesn't allow multi-valued cells.

Is there a simple way I can bypass this, e.g. by setting the cell to regular/covered? This is just for testing and I don't care about the correctness of the final EB grid -- I just need the grid generation to

[2022-03-03 20:47] WeiqunZhang commented on #2645
Try to run with `eb2.cover_multiple_cuts=1`.

[2022-03-03 20:54] rmrsk commented on #2645
Thanks. I tested two geometries and one worked, while the other broke with "amrex::EB2:build_cells: apnorm==0"

[2022-03-05 08:57] BenWibking commented on #2623
@maxpkatz Is this something you've been able to reproduce?

[2022-03-07 17:29] maximumcats commented on #2623
No, this looked complicated enough that I didn't think I'd be likely to reproduce it from scratch. I think I'll need a reproducer (it's OK if it's a full code).

[2022-03-15 22:43] ax3l opened #2657 "macOS: fpe_trap creates no backtraces"
Today we (cc @RTSandberg) realized that AMReX `amrex.fpe_trap_invalid=1 amrex.fpe_trap_zero=1 amrex.fpe_trap_overflow=1` does crash for trapped, invalid operations, but it does not produce backtraces on macOS. This is problematic for developers on macOS, which cannot find the location of invalid arithmetics without such a backtrace.

We made sure that `AMREX_EXPORT_DYNAMIC` is defined (i.e., bug #

[2022-03-15 22:56] ax3l commented on #2657
cc @PhilMiller might have some insight for macOS here, due to his work in https://github.com/ECP-WarpX/WarpX/pull/2896

[2022-03-15 23:38] ax3l commented on #2657
loosely related, thus x-ref: #1969 (@sayerhs) - that PR is just a compile error on Apple M1 CPUs for signal handling of the same functionality.

[2022-03-16 02:00] RTSandberg commented on #2657
My system:
- CPU: x86_64
- macOS version 12.1 Monterey
- clang version 11.1.0

[2022-03-17 22:36] brtnfld opened #2664 "HDF5 async-VOL implementation is incompatible with async-daos-VOL"
The current async HDF5 implementation, based on the async-VOL, assumes the I/O buffers can be modified (or can become out of scope) after the H5Dwrite_async calls. This is because, with the -D ENABLE_WRITE_MEMCPY=1 option, the I/O buffers are copied to an internal buffer in the async-vol. However, for the async-daos-vol, the async buffers are not copied (and this option is not available).

Hence,

[2022-03-22 00:34] PhilMiller commented on #2657
When you say "it does not produce backtraces", what actually happens?

Have you tried running it with gdb/lldb attached, and stepping forward from the signal handler?

[2022-03-23 15:27] WeiqunZhang commented on #2607
@maxpkatz Do you have any updates?

[2022-03-23 16:28] maximumcats commented on #2607
Yes, this will be fixed in the next CUDA minor version release.

[2022-03-23 16:32] ax3l opened #2674 "[WIP] Compile Error on Maxwell (DESY)"
Compiling the latest AMReX branch on [Maxwell (DESY)](https://confluence.desy.de/display/MXW/) leads to compile errors.

[code]

## Software

- OpenMPI version: 3.0 (system) or 4.1.1 (module)
- CUDA Toolkit version: 11.4.48
- Host compiler & version: GCC 9.3.0
- CMake version: 3.20.3

Note: System OpenMPI 4.1.1 module seems to be missing environment vars for `MPI_ROOT`, `PATH` and `LD_LIBRARY_PATH

[2022-03-23 16:58] maximumcats commented on #2674
`AMReX_ParallelDescriptor.H` already includes `AMReX_ccse-mpi.H`, can you explain why #2675 would address this?

[2022-03-23 17:16] maximumcats commented on #2674
The only clear ideas I have for how this could happen are (1) a very ancient version of OpenMPI (MPI 3.0 support with OMPI_COMM_TYPE_SOCKET started in OpenMPI 2.0) or (2) this is some OpenMPI derivative which defines `OPEN_MPI` but does not implement `OMPI_COMM_TYPE_SOCKET`. The obvious sort of problems shouldn't be happening here: if `BL_USE_MPI` is defined -- which is necessary for getting into

[2022-03-23 19:14] ax3l commented on #2674
I think there is a mismatch with the MPIs on the system going on, the OpenMPI 4.1.1 module seems to be missing environment vars for `MPI_ROOT`, `PATH` and `LD_LIBRARY_PATH` (needs bug report).

I am waiting for the user to set them manually now and if that is the culpit, report the missing vars as a module bug to system.

[2022-03-23 19:17] maximumcats commented on #2674
Can you also confirm that the user was setting GPUS_PER_SOCKET?

[2022-03-23 20:16] ax3l commented on #2674
Yep, is set.

I think it's pretty clear by now what was causing this: the system has an ancient OpenMPI 3.0 installed in system paths. The user builds with an OpenMPI 4.1.2 module that also uses a newer GCC than system.

Then an extra `hdf5-parallel` module is also loaded, which was built against the ancient system OpenMPI, leading to an incompatible software stack. Needs to be solved with system

[2022-03-23 20:16] #2674 closed, assigned to nobody

[2022-03-24 23:00] #2607 closed, assigned to nobody

[2022-03-25 20:03] ldowen opened #2680 "Ghost particle creation bug for periodic boundaries"
There is a bug with ghost particle creation when a refined region is adjacent to a periodic boundary. I have attached files to use in the Tests/Particles/GhostsandVirtuals directory. In the example, a refined box in the lower corner of the domain and a valid particle is near the lower corner in the x and y directions but adjacent to the top in the z direction. This single particle should show up a

[2022-03-30 19:22] ax3l commented on #2657
@RTSandberg for the test, set break points around/int the backtrace writing function and compile with `-DCMAKE_BUILD_TYPE=Debug`.

If you know `gdb` already, here is a good cheat sheet to use `lldb` (AppleClang or vanilla Clang):
https://lldb.llvm.org/use/map.html

If you use Vanilla Clang from conda-forge, install this package on top to get a matching `lldb`: https://github.com/conda-forge/lldb-f

[2022-03-31 21:59] jrood-nrel opened #2686 "Nonexistent HIP Paths"
HIP in GNUmake works on the early DOE AMD machines, but if you are merely cross-compiling on a system with the ROCm/HIP package libraries installed, the directory layout is different. The main issue is `/opt/rocm/hiprand/lib` and `/opt/rocm/rocrand/lib` do not exist like they do in the layout on the DOE machines with several ROCm versions installed. Therefore this fails to find `libhiprand` and `l

[2022-03-31 22:34] WeiqunZhang commented on #2686
We can replace `-Wl,--rpath=$(ROC_PATH)/rocrand/lib -Wl,--rpath=$(ROC_PATH)/hiprand/lib` with `-Wl,--rpath=$(ROC_PATH)/lib`.  I just checked on those DOE machines.  There are links to `libhiprand` and `librocrand` in `$(ROC_PATH)/lib`.

[2022-04-05 21:59] jrood-nrel opened #2696 "HDF5 ZFP support in CMake"
It looks like ZFP support is only currently in GNUmake. Would it be possible to add it to CMake as well?

[2022-04-06 19:57] RTSandberg commented on #2657
I lost track of this for a while and now I'm caught in a different debugging session - @PhilMiller  I'll try to answer your questions in a few days

[2022-04-13 03:16] ax3l opened #2709 "numLocalTilesAtLevel broken?"
We have a use case from @roelof-groenewald in WarpX where
[code]
works to count particles but
[code]
gives wrong results / segfaults the code later on:
https://github.com/ECP-WarpX/WarpX/pull/2531

Is there a rep-condition to `numLocalTilesAtLevel` that one could check if it might be violated?

[2022-04-15 01:57] BenWibking opened #2713 "CodeQL: possible integer overflows"
https://github.com/AMReX-Codes/amrex/blob/fc55c67f72d2842caa6bd7b908dfe82df910ec75/Src/Base/AMReX_FabConv.cpp#L996

The CodeQL scan on the Quokka repo reports: `Multiplication result may overflow 'int' before it is converted to 'streamsize'.`

Is this a real issue, or a false positive? There are several alerts like this for AMReX_FabConv.cpp.

The scan was run on the Quokka repo, so it doesn't sho

[2022-04-15 02:01] BenWibking commented on #2713
This is the full list of CodeQL alerts I get (almost all about int conversions to larger types):

![image](https://user-images.githubusercontent.com/1781919/163505990-fdc99ca8-4cc6-4fec-92ff-5d7ac4ec1822.png)

[2022-04-15 02:18] BenWibking opened #2714 "AsyncOut::Finish() when async_out=0 causes a segmentation fault"
Calling `amrex::AsyncOut::Finish()` when amrex.async_out=0 causes a segmentation fault in the destructor of amrex::BackgroundThread:

[code]

When async_out is disabled, it would be safer for AsyncOut::Finish() to just do nothing.

[2022-04-15 14:54] WeiqunZhang commented on #2713
I don't think this can be considered a real issue. In `id.numBytes()*get`, `id.numBytes()` is 8 for double and `get` is not greater than `readBufferSize`, which is set to 262144 (i.e., 2^18).  So the maximum value for the product is 2^21, unless one calls `RealDescriptor::SetReadBufferSize` to set it to a real big number.  I guess we can make sure `readBufferSize` is not too big in `SetReadBufferS

[2022-04-15 15:00] WeiqunZhang commented on #2713
Maybe we can just cast one of the numbers first, then the warning will be gone.

[2022-04-15 15:48] #2714 closed, assigned to nobody

[2022-04-15 17:56] jrood-nrel commented on #2686
It looks like these changes are necessary for ROCm 5.1.0 on Crusher?
[code]

[2022-04-15 18:35] jmsexton03 commented on #2686
I made PR #2717 with the version I was testing (for the GNUMake at least, the only CMake part that seems like it would be affected might be roctracer which seems little used)

[2022-04-16 01:18] BenWibking commented on #2713
The warnings in VisMF and DistributionMapping look similarly harmless. I can't quite figure out what the code in AMReX_Random is doing.

Casting one of the operands to size_t should silence the warning.

[2022-04-19 07:30] BenWibking opened #2720 "ability to compare HDF5 plotfile with AMReX native format plotfile"
It would be very useful to be able to compare HDF5 format plotfiles with AMReX native format plotfiles with `fcompare`. Giving the two plotfiles as command-line arguments to `fcompare` doesn't work.

Is there a straightforward way to add this? I'd be happy to submit a PR for this if I can get a pointer on where to start.

[2022-04-19 11:12] BenWibking commented on #2713
PR #2716 satisfied CodeQL.

Can you confirm whether the rest (below) also appear to be harmless?
![image](https://user-images.githubusercontent.com/1781919/163991254-003c89d2-be22-49e9-955e-ad574453e1ba.png)

[2022-04-19 17:42] WeiqunZhang commented on #2713
They all look harmless.  If you want to fix the warnings, please feel free to submit a PR.  We don't have CodeQL set up, so I cannot be sure my attempt to fix it would work.

[2022-04-19 17:48] WeiqunZhang commented on #2720
If you can add HDF5 support to `PlotFileDataImpl` class, `fcompare` should then work on HDF5 plotfiles.

[2022-04-20 19:52] etpalmer63 opened #2725 "Advection_AmrCore -- Discrepancy between time 0 and 2s, when not subcycling."
The Advection AmrCore test shows a small discrepancy between the time=0s and time=2.0s plotfiles in both grid and particle data when subcycling is turned off. It appears as if the simulation stops one time step too soon, although terminal output claims it has run the full 2s. This difference is not present in the Advection AmrLevel test.

https://user-images.githubusercontent.com/24531086/16431175

[2022-04-21 19:05] ax3l commented on #2657
We debugged this today and it looks like although
[code]
is called on macOS (x64), the signal handler `BLBackTrace::handler` is not called when it encounters `SIGFPE` (we did a div by zero that should have triggered it).

[2022-04-21 20:59] PhilMiller commented on #2657
Can you confirm in gdb/lldb that the division by zero is actually triggering a CPU exception, and that the OS signal `SIGFPE` is actually being generated as a result?

Separately, a thing I've seen recently as a result of Intel's next-generation compiler being backed by LLVM is that with certain optimization passes active, infinities, NaNs, divisions by zero, and other abnormal floating-point beha

[2022-04-27 20:37] etpalmer63 commented on #2696
Hi Jon,

This is a feature we believe is possible and would definitely appreciate having! I'll put it on my list but if you beat me to it, we'll be happy to review your PR!

Erik

[2022-04-27 20:58] etpalmer63 opened #2737 "Advection Tests and Tracers SIGABRT with `ref_ratio = 4 4 4 4`"
For both the tests, Advection_AmrCore and Advection_AmrLevel, a segfault occurs when `ref_ratio = 4 4 4 4` and tracers are turned on.  This happens for both 2D and 3D runs.

The error msg given is:

[code]

[2022-04-27 21:37] ramsampath opened #2738 "'i' undeclared idenfier Visual Studio 2019 build AMREX when fillNeighbors() is used"
The following compilation error appears in building AMREX after ParticleContainer.fillNeighbors() is called

(Compiler = Visual Studio 2019).

and ParticleContainer is an object of class derived from amrex::NeighborParticleContainer<22,0,13,0>

AMReX_ParticleTransformation.H:160: error: C2065: 'i': undeclared identifier

D:\FDYNAMICS\Neutrino\trunk\neutrino\External\windows\include\amrex\AMReX_Nei

[2022-04-27 22:30] akashdhruv commented on #327
I am testing this right now, and running into some issues. Need to discuss with @kweide before I can provide more details. Please don't close this issue

[2022-04-27 22:52] atmyers commented on #2738
Hi Ram,

I have not encountered this before. It looks like something is going wrong in the macro expansion - this only happens after you add the `pc.fillNeighbors` call? Can you do the Visual Studio equivalent of `gcc --save-temps` so we can see the output of the preprocessor?

Are you able to compile amrex itself as a library as in one of our windows tests, [here](https://github.com/AMReX-Codes/a

[2022-04-28 00:28] ramsampath commented on #2738
Hello Andrew,

 thank you for your response. yes this only happens after I add the .fillNeighborsCall - I will try to google for the save-temps equivalent .  So far I haven't been able to find an equivalent.

and yes I am able to compile amrex as a library by itself but haven't tried the windows tests.  I did try to build NeighborList tutorial and that was giving similar errors.

Ram.

[2022-05-03 03:43] tanweihou opened #2750 "AMReX_FabConv.cpp warning writing 1 byte into a region of size 0 [-Wstringop-overflow=]"
Dear AMReX developers,
cc: @ax3l
I am a `WarpX` user in NERSC.
I observed the following warning message when I was building `WarpX` in Perlmutter.

[code]

Here's the list of modules that I use in Perlmutter.
[code]
Thank you.

[2022-05-05 17:50] ramsampath commented on #2738
After a lot of iterations and searches the following compiler option works /Zc:preprocessor .

[2022-05-05 17:50] #2738 closed, assigned to nobody

[2022-05-06 14:12] BenWibking commented on #2720
I've decided to stick with native format plotfiles for now. This can be re-opened if anyone else needs this functionality.

[2022-05-06 14:12] #2720 closed, assigned to nobody

[2022-05-11 18:39] #2696 closed, assigned to nobody

[2022-05-11 18:59] ax3l opened #2760 "Currently Supported CUDA SM?"
What is the currently supported CUDA compute capability minimum again?

I thought we only support Pascal+ (sm_60+), but I cannot find it in docs...

I also see PRs like #1512 that seem to relax this?
Let's document this :)

cc @WeiqunZhang @maxpkatz

[2022-05-11 19:26] WeiqunZhang commented on #2760
https://amrex-codes.github.io/amrex/docs_html/GPU_Chapter.html

Unofficially, we support >= 3.5.  An AMReX user wanted to run on an old GPU.  So that was the origin of #1512.

[2022-05-12 15:38] #2725 closed, assigned to nobody

[2022-05-12 16:54] Thierry992 commented on #2750
Have the same issue on Perlmutter

[2022-05-12 19:19] WeiqunZhang commented on #2750
I can reproduce the warnings on Perlmutter when compiling with cmake.  However, there are no such warnings with gnu make (with -Wall -Wstringop-overflow).  The difference seems to be that in gnu make `nvcc -ccbin=g++` is used, whereas in cmake `nvcc -ccbin=CC` is used.

[2022-05-12 19:25] WeiqunZhang commented on #2750
It is due to that the `CC` wrapper adds `-march=znver3` to `g++`.

[2022-05-12 19:28] WeiqunZhang commented on #2750
`-O3 -march=znver3` produces the warnings, but `-O2 -march=znver3` does not.

[2022-05-12 20:04] WeiqunZhang commented on #2750
The warnings are false positive, but we can fix them.

[2022-05-12 22:21] #2750 closed, assigned to nobody

[2022-05-18 14:19] etpalmer63 commented on #2737
Tracked the issue a bit more: Error only occurs when subcycling is turned on.

[2022-05-18 15:39] WeiqunZhang commented on #2737
Not enough ghost cells? `Advection_AmrCore/Source/AmrCoreAdv.H:    int nghost = 2;`  Need 4 if ref_ratio is 4 && tracer particle is on && subcycling is on?

[2022-05-23 17:19] ax3l commented on #2709
fixed via #2782 :tada:

[2022-05-23 17:19] #2709 closed, assigned to atmyers

[2022-05-24 18:03] LordOfBunnies opened #2791 "Distribution mapping has unused processors on some levels"
Hi,  I'm writing an entropic lattice Boltzmann method (ELBM) flow solver in Fortran and using Amrex (currently 20.09 iirc) to the grid refinement and bookkeeping for it.  The issue I'm having stems from how the distribution mapping affects the loads on a given levels.  The nature of ELBM means needing to loop through an entire level and do work on it before going to the next.  Unfortunately, as I'

[2022-05-26 02:23] ax3l commented on #2760
Thanks! Huh, I must have used the wrong keywords in my search :+1: Sphinx docs search is quite particular xD

[2022-05-26 02:23] #2760 closed, assigned to nobody

[2022-05-26 17:15] #2686 closed, assigned to WeiqunZhang

[2022-06-01 17:37] WeiqunZhang commented on #2791
This is not supposed to happen.  Could you try the latest AMReX?  Is it possible to provide a reproducer?

[2022-06-02 00:53] BenWibking commented on #2713
Since the rest are harmless, I'll just suppress them manually.

[2022-06-02 00:53] #2713 closed, assigned to nobody

[2022-06-06 22:02] kyrisandvik opened #2811 "Return type error: when using FHDeX with DEBUG & Tiny_Profile"
I am trying to compile the immersed boundary problem/flagellum problem in FHDeX, and I think I found an error with the profiler. I have turned the DEBUG on and Tiny_Profile on, I get the following error:
[code]

When I turned the tiny profiler off, the error went away.

[2022-06-06 22:14] WeiqunZhang commented on #2811
This should be fixed in FHDeX.  Something like
[code]

[2022-06-06 22:19] #2811 closed, assigned to nobody

[2022-06-07 22:03] nw236 opened #2816 "Data associated with boxes"
Hello,
I am trying to figure out if it is possible to have data structures other than the grid data stored or associated with boxes.

For example, in a situation where an equation does not need to be solved everywhere in the domain one could use a single integer variable for each box to mark if this equation needs to be solved. If not, the mfiter loop could cycle to the next box.

I can think of m

[2022-06-07 22:36] WeiqunZhang commented on #2816
`amrex::LayoutData<T>` is probably what you are looking for.  You could also use `std::map<int,T>`, where the key is `MFIter::index()`.

[2022-06-08 09:15] ax3l opened #2818 "GCC 10.3 Warnings: Parser ODR and Uninit Mem"
The parser implementation seems to violate the C++ ODR rules and there might be an uninit memory location in FabArrayBase/Box.
[code]

First seen in https://github.com/conda-forge/warpx-feedstock/pull/46

[2022-06-08 09:43] nw236 commented on #2816
Thank you for the quick response. This looks promising.

Just to make sure I fully understand your response. ``T`` stands for data-type (i.e. integer or float etc), and I would simply declare variables as being of type ``amrex::LayoutData``.

[2022-06-08 16:29] WeiqunZhang commented on #2816
Yes, you would declare variables as `amrex::LayoutData<int>`, `amrex::LayoutData<double>`, `amrex::LayoutData<std::pair<int,double>>`, etc.

[2022-06-08 18:04] WeiqunZhang commented on #2818
Not sure about the warning on Box.H.

I will try to fix the parser warnings by switching to generating C++ files with namespace.

[2022-06-08 19:42] WeiqunZhang commented on #2818
@ax3l Could you try #2820?

[2022-06-08 20:12] WeiqunZhang commented on #2818
It seems that the warnings are triggered by `-flto` (not the particular gcc version).  I am able to reproduce the warnings and #2820 seems to have fixed it.

[2022-06-10 04:38] #2410 closed, assigned to nobody

[2022-06-10 04:54] maximumcats opened #2824 "InterpFromCoarseLevel no longer works for face data"
[InterpFromCoarseLevel](https://github.com/AMReX-Codes/amrex/blob/22.06/Src/AmrCore/AMReX_FillPatchUtil_I.H#L935-L946) calls into `FillPatchInterp`, which in turn calls the interpolater's `interp` method, but #2539 renamed the method for face data to be `interp_face` rather than `interp`; the `interp` method now errors out with the `FaceLinear` interpolater. So to restore this functionality the co

[2022-06-10 04:56] maximumcats commented on #2824
Note for context: Castro is using `InterpFromCoarseLevel` on face data for [interpolating the gradient of the gravitational potential](https://github.com/AMReX-Astro/Castro/blob/22.06/Source/gravity/Gravity.cpp#L801-L814) to fine levels in certain contexts.

[2022-06-10 13:07] maximumcats commented on #2824
A test case that uses this functionality in Castro, and that can be used for regression testing, would be to use `Castro/Exec/gravity_tests/DustCollapse` compiled with `make DIM=2` and executed with `mpirun -np 4 ./Castro2d.gnu.MPI.ex inputs_2d_poisson_regtest gravity.max_solve_level=1`. (This last parameter tells the code to interpolate phi and grad_phi on level 2 rather than to solve the Poisson

[2022-06-13 03:00] cgilet commented on #2824
@maxpkatz Would it matter for Castro whether this is implemented with one kernel launch vs two?

[2022-06-13 05:16] maximumcats commented on #2824
No. Go for whatever seems easiest to implement :-)

[2022-06-13 20:09] #2824 closed, assigned to WeiqunZhang, cgilet

[2022-06-15 13:26] PhDFlo opened #2843 "STLtest tutorial"
Hello,

I'm using AMReX 22.05, and I was trying the STLtest tutorial. However, I can not compile it. I'm using the GNUMakefile, and all other tutorials seem to be working. I have the following error:

mpicxx -MMD -MP  -Werror=return-type -g -O3  -pthread    -DBL_USE_MPI -DAMREX_USE_MPI -DBL_SPACEDIM=3 -DAMREX_SPACEDIM=3 -DBL_FORT_USE_UNDERSCORE -DAMREX_FORT_USE_UNDERSCORE -DBL_Linux -DAMREX_Linux

[2022-06-15 14:57] etpalmer63 commented on #2843
Hi PhDFlo,

I can confirm I am able to recreate the error. I will look into it and get back to you.

Thanks for bringing this up,

Erik

[2022-06-15 15:19] WeiqunZhang commented on #2843
We need to update that tutorial or merge it with `amrex-tutorials/ExampleCodes/EB/GeometryGeneration/`.  The old stl reader was a work-in-process.  Recently it has been updated and integrated into the standard  EB generation method.  See https://amrex-codes.github.io/amrex/docs_html/EB.html for more detail on how to initialize EB from STL.

[2022-06-22 20:02] ax3l commented on #2818
Awesome, thanks a lot! :tada:

[2022-06-22 20:02] #2818 closed, assigned to nobody

[2022-06-23 09:01] BenWibking commented on #2623
Closing this, since it now works in CUDA 11.7.

[2022-06-25 02:19] BenWibking commented on #2623
Well, that was a mistake. It still does not work in 11.7.

@maxpkatz Here is a reproducer: https://github.com/BenWibking/quokka/tree/nvcc-template-bug-reproducer-new -- I haven't been able to pare it down to a self-contained reproducer.

The CI build logs that show the error messages produced by nvcc are here: https://dev.azure.com/quokka-code/quokka-CI/_build/results?buildId=148&view=logs&j=12f11

[2022-06-25 04:31] maximumcats commented on #2623
This is a standalone reproducer.

[code]

I no longer work for NVIDIA, but I will ask my former colleagues to look into it and see what they think. The [restrictions on extended lambdas](https://docs.nvidia.com/cuda/cuda-c-programming-guide/index.html#extended-lambda-restrictions) are detailed and I can't tell by inspection whether this examples violates any of them.

[2022-06-25 04:44] BenWibking commented on #2623
Ah, didn't know that. I very much appreciate you asking them!

The restrictions look very complicated and I cannot tell either.

[2022-07-13 17:52] maximumcats commented on #2623
@BenWibking, my NVIDIA contacts got back to me. Their view on this is that this code is technically unsupported by nvcc, specifically because they do not intend to generally support passing references to device functions through host interfaces. However, they will be able to make this example work in a future CUDA release (please note that I no longer have information about CUDA release timelines,

[2022-07-14 01:06] BenWibking commented on #2623
Great news. Thanks for passing this along.

[2022-07-14 01:06] #2623 closed, assigned to nobody

[2022-07-21 16:10] afanfa opened #2883 "Return status change for hipDeviceSetSharedMemConfig"
Hello all,
AMD devices do not support shared cache banking (https://rocmdocs.amd.com/en/latest/ROCm_API_References/HIP_API/Device-management.html#hipdevicesetsharedmemconfig) and so hipDeviceSetSharedMemConfig has a dummy implementation for AMD platforms.
In the past hipDeviceSetSharedMemConfig was always returning hipSuccess, which gives wrong information to user as it does not do any effect on A

[2022-07-21 16:16] WeiqunZhang commented on #2883
Thanks for reporting the issue!

[2022-07-21 17:25] #2883 closed, assigned to nobody

[2022-07-29 14:04] FR13ndSDP opened #2892 "GPU test cases problem with windows subsystem of linux (WSL)"
- OS: Windows 11 21H2
- WSL: Ubuntu 20.04 LTS
- GPU: RTX 3080 10GB

Issue: CUDA toolkits are properly installed on WSL . Running test cases like `Tests/GPU/RandomNumberGeneration` will throw an error

SIGABRT"

I tried to modify AMReX_Arena.cpp line 166 by changing `cudaMallocManaged` to `cudaMalloc`, it seems worked for this case and 3/4
of the device memory was allocated. **But** running `Tests/

[2022-07-29 16:27] WeiqunZhang commented on #2892
There is a runtime parameter for switching to non-managed memory, `amrex.the_arena_is_managed=0`.  In addition to that, you can also use `amrex.the_arena_init_size=0` to see if it solves the crash issue.

[2022-07-30 09:05] FR13ndSDP commented on #2892
After setting these two parameters to 0, I saw the device memory allocated in `Tests/GPU/RandomNumberGeneration` is 51 MB. The crash issue still happen. I know my situation is somewhat special and this problem is most likely WSL related, I still wish you can look into this problem.

[2022-07-30 13:07] FR13ndSDP commented on #2892
I've just found that this may have to do with my hardware because running CUDA demo suite `nbody` will cause the same issue. While on another machine with exactly the same hardware configuration, test code works fine.

[2022-07-30 13:07] #2892 closed, assigned to nobody

[2022-08-03 16:32] ruohai0925 opened #2898 "Segfault while running the hypre tutorial using CUDA GPU"
Hello,

We are facing a segfault while running the amrex-tutorials/ExampleCodes/LinearSolvers/ABecLaplacian_C example with the input file as inputs.hypre. We use the latest amrex, amrex-tutorials, and hypre. Our CUDA version is 11.2.

Here is the GNUMake we used for compiling the codes. Basically, we use the SINGLE PRECISION and compile the codes enabling CUDA and HYPRE.

[code]

Here are the outp

[2022-08-03 16:45] ruohai0925 commented on #2898
Here is the way to reproduce the above bug.

1. Make sure you installed the CUDA correctly
2. Download the latest hypre from https://github.com/hypre-space/hypre.git to your home directory
3. Use CMake to configure, build and install the hypre.

[code]

4. Building with HYPRE via the above GNUMake: https://amrex-codes.github.io/amrex/tutorials_html/Hypre_Install.html and run with inputs.hypre

[2022-08-03 17:06] ruohai0925 opened #2899 "curand and cusparse errors while compiling the LinearSolver tutorials using the CMake with CUDA and HYPRE"
We are trying to compile the LinearSolver tutorials using the CMake with CUDA and HYPRE enabled under the Linux system. During the link time, we get the curand and cusparse errors.

For example,

[code]

If we use the GNUMake to compile the tutorials with CUDA and HYPRE, everything is fine.
If we use CMake to compile the tutorials only with CUDA, it is also fine. The bug appears when we compile th

[2022-08-03 17:15] ruohai0925 commented on #2899
@etpalmer63 Here is the way to reproduce the above error.

1. Fix the bug https://github.com/AMReX-Codes/amrex/pull/2896,

2. Follow https://github.com/AMReX-Codes/amrex/issues/2898#issuecomment-1204215330 to set up the HYPRE

3. Follow https://amrex-codes.github.io/amrex/tutorials_html/Hypre_Install.html#building-with-hypre-via-cmake to build the tutorial with HYPRE via CMake. Be sure to call CMa

[2022-08-03 17:17] etpalmer63 commented on #2899
@ruohai0925 , thanks for putting this up. Do you also build HYPRE the same way you did in https://github.com/AMReX-Codes/amrex/issues/2898?

[2022-08-03 17:18] ruohai0925 commented on #2899
@etpalmer63 Yes, exactly the same way.

[2022-08-03 17:29] ruohai0925 commented on #2899
As @WeiqunZhang suggested in the slack channel, here is one way to bypass this error.

1. There is a file cmbuild/LinearSolvers/ABecLaplacian_C/CMakeFiles/ABecLaplacian_C.dir/link.txt generated by cmake configuration.  Just edit that file to add
`-lcusparse -lcurand `
in the end. It seems that CMake appends the library file (using lowercase L) before the search path (using uppercase L) in the link

[2022-08-03 17:59] zingale opened #2900 "MLMG interface changes break Castro"
The changes in 94693291667bd0435819aa09cf28a293da226bf4 break the Castro `evrard_collapse` problem with:

[code]

[2022-08-03 17:59] zingale commented on #2900
this is the assertion:
[code]

[2022-08-03 23:53] #2900 closed, assigned to nobody

[2022-08-04 17:01] etpalmer63 commented on #2899
@ruohai0925 , I looked into this and I have more questions than answers. When I follow your steps, I can't get past the AMReX build step. To help me out, can you tell me:
1. Do you also have the environment variable, `HYPRE_HOME` defined?
2. What is the result of `echo $HYPRE_DIR`? Does that match `~/hypre/src/hypre`?
3. What is the result of `find ${HYPER_DIR}/include -name "*hpp"`?

Thanks!

[2022-08-05 19:57] ruohai0925 commented on #2899
@etpalmer63

1. I defined HYPRE_HOME in .bashrc: export HYPRE_DIR=/home/zengx372/hypre/src/hypre
2. echo $HYPRE_DIR -> /home/zengx372/hypre/src/hypre. Please change ~/hypre/src/hypre to your $HYPRE_DIR
3. This is a hypre related issue (https://github.com/hypre-space/hypre/pull/710/files). We submitted a PR in the hypre repo to fix that.

Thanks!

[2022-08-05 20:56] etpalmer63 commented on #2899
@ruohai0925 , RE:3 Yes! That was the file preventing me from compiling. Thanks! :muscle:

[2022-08-07 02:19] FoamerSv opened #2906 "Double counted in cells at boundary"
I noticed that in TagBoxArray::local_collate_cpu, it will transfer data from Array4 arr(i,j,k) to Vector v. Simply to say, convert 3D vector to 1D vector. The original function has defection. Since the iteration goes through all the fabbox of TagBoxArray this, the value at the boundary of each box may count twice. For example, the cell[-1] in box[1] has a global index 5, and arr(5,0,0)=TagBox::BUF

[2022-08-08 19:20] WeiqunZhang commented on #2906
Have you noticed any issues in your runs?  Note that in AMReX_AmrMesh.cpp, there is a call to `tags.mapPeriodicRemoveDuplicates` that removes duplicates.  It's possible that that function has a bug, but otherwise it's not supposed to have duplicates when `collate` is called.

[2022-08-09 12:48] FoamerSv commented on #2906
Ah I didnt realize it! I have tested it and the problem is solved.

[2022-08-09 12:48] #2906 closed, assigned to nobody

[2022-08-12 23:06] matt-stack opened #2915 "CUDA Graphs implementation"
Hello! I was looking around the CUDA Graphs implementation and I see that a most things call gpuStream(), which should return the element of std::vector<cuda streams> based on the OMP thread num, but I see also that the "max" is hardcoded at 4

**amrex/Src/Base/AMReX_GpuDevice.H**
static Vector<gpuStream_t> gpu_stream; // The size of this is omp_max_threads

#if defined(AMREX_USE_GPU)
    static g

[2022-08-12 23:18] matt-stack commented on #2915
Ah okay so it does % in
Device::setStreamIndex (const int idx) noexcept
gpu_stream[OpenMP::get_thread_num()] = gpu_stream_pool[idx % max_gpu_streams];

Missed that one line that pulled it all together, closing

[2022-08-12 23:18] #2915 closed, assigned to nobody

[2022-08-15 02:27] ax3l opened #2917 "Windows Symbol: amrex::Gpu::Device::max_gpu_streams"
In https://github.com/ECP-WarpX/impactx/pull/205, I investigate a symbol error from AMReX of the form:
Clang-Cl:
[code]
MSVC:
[code]

We build AMReX as shared lib that goes into a further shared lib in WarpX (ABLASTR) that then gets consumed by the ImpactX executable.
Builds are with CMake (as in WarpX).

[2022-08-15 16:58] ax3l commented on #2917
static for functions means it's only visible in the current TU, maybe we should remove the `static`?
https://github.com/AMReX-Codes/amrex/blob/4f639294606d47185d31eaee4af66fc6b590e5a2/Src/Base/AMReX_GpuDevice.H#L66

[2022-08-15 16:58] ax3l commented on #2917
Ah no, it's a global - this one need export:
https://github.com/AMReX-Codes/amrex/blob/4f639294606d47185d31eaee4af66fc6b590e5a2/Src/Base/AMReX_GpuDevice.H#L172

[2022-08-15 21:24] #2917 closed, assigned to ax3l, WeiqunZhang

[2022-08-26 03:58] drummerdoc opened #2925 "Derefine doesn't necessarily derefine"
Pele codes need to avoid EB intersections with any coarse fine boundaries.  So, either the EB is completely refined to the finest AMR level (which can get unnecessarily expensive) or not, but then the user has to try to ensure this using refinement tagging control. While it's straightforward to "untag" cut cells above a specified level, new boxes usually contain some untagged cells (a la grid_eff)

[2022-08-26 04:01] drummerdoc opened #2926 "fixed_grids option for AmrCore"
It appears that one can assign fixed grids in a AmrCore-derived app, but it requires explicit calls to SetBoxes() and SetDistributionMap().  Is there a subtle reason we can't lift the fixed_grids ParmParse option from AmrLevel into AmrMesh so that it's available for both?

[2022-08-26 21:37] rmrsk commented on #2925
I'm curious why EBxCF needs to be avoided...? It sounds like supporting EBxCF would be the preferred solution (?)

So I haven't throught this completely through, but one potentially simple solution that I can think of is to "untag" cells up to (max_grid_size+err_buff distance) from the EB, and possibly complement this with a "refine the EB to level X" criterion if you want the EB resolved to more

[2022-08-26 21:56] drummerdoc commented on #2925
Thanks Robert. First, refining all the EB is simply not doable...creates >100B cell domains or larger for the case we're looking at...to big.  Allowing EBxCF requires properly treating re-redistribution.  Given all the problems we've had enforcing hard-bounded states with the regular redistribution (mass fractions summing to 1, but remaining strictly between 0 and 1), we've not had the interest to

[2022-08-27 06:09] rmrsk commented on #2925
Marc, thanks for the clarifications. I did understand the problem, and the approach I outlined above should be sufficient for untagging the tagged cell that's 13 cells away from the EB, no? You'll avoid tags near the EB and thus do not create an EBxCF situation. But all your grids also end up a distance 'blocking_factor' away from the EB, and if there are multiple bodies they become resolved to sa

[2022-08-27 15:18] drummerdoc commented on #2925
Thanks. I should try it. But it’s the diagonal version of the issue that is actually breaking our case in particular. It might be that accounting for the extra distance off coordinate axis might fix it though. Will try. Thanks for the input.

[2022-09-06 11:36] dunhamsj opened #2938 "Can't compile on OSX Monterey 12.5.1"
Hi all, I upgraded my mac to Monterey and can no longer compile amrex. I'm using gcc 12.2.0 and mpich, both installed via homebrew. I attached the output from `make` and also my compiler versions.
[m.txt](https://github.com/AMReX-Codes/amrex/files/9496486/m.txt)
<img width="696" alt="Screen Shot 2022-09-06 at 07 33 39" src="https://user-images.githubusercontent.com/9784969/188625839-496b0a02-5036-

[2022-09-06 14:18] drummerdoc commented on #2938
What happens is you try with COMP=llvm?

[2022-09-06 15:28] dunhamsj commented on #2938
Ah, I had commented out the line `COMP = gnu` before because it didn't seem to do anything. Putting that back in I can almost compile, I think this new issue is on my end though. Thanks!

[2022-09-06 15:28] #2938 closed, assigned to nobody

[2022-09-12 15:51] BenWibking commented on #2311
I am getting the "Cannot find Symbol" issue on NCSA Delta's MI100 node. Unfortunately, it doesn't have the Cray compilers installed, so I can't follow the WarpX build instructions. Is there another workaround?

[2022-09-12 15:57] WeiqunZhang commented on #2311
gnu make

[2022-09-12 16:10] BenWibking commented on #2311
Weirdly, although it complains, it also works if it set `CMAKE_CXX_COMPILER` to `hipcc`. Is this a CMake bug?

[2022-09-12 16:13] WeiqunZhang commented on #2311
I don't know.  GNU make uses the hipcc wrapper instead of AMD's clang.

[2022-09-13 13:27] RSuryaNarayan commented on #2331
Hello, a follow up on this. If I were to do this on a plotfile instead (i.e. take a 2-D plotfile and just convert it to 3D with one cell along the third direction), could I still use ```VisMF::Read()```?

[2022-09-13 13:56] drummerdoc commented on #2331
The plot files are read with VisMF::Read, or you can manually read them directly.  There are several pieces of data in the plot file Header (ascii) files that are 2D specific, so to read a 2D plot file with a code compiled for 3D, you'd have to manually edit the corresponding fields in the Header.

Your question here is a little ill-formed though.  Can you rephrase?

[2022-09-13 14:18] RSuryaNarayan commented on #2331
@drummerdoc basically I'm looking for a standalone AMReX script that takes in 2D plotfile data and just extrudes it to 3D (with only 1 cell along the third direction). Specifically, I'd be using Pele plotfiles.

Basically trying to hack my way through to circumvent the 2D specific problem that arises when I try to run [AmrDeriveSpectrum](https://github.com/AMReX-Astro/AmrDeriveSpectrum/issues/3)

[2022-09-13 14:32] WeiqunZhang commented on #2331
You can read a 2d plotfile with `PlotFileData` in an executable compiled for 3d.  The class in AMReX_PlotFileUtil.H.  Once you have the data and meta-data in memory, you can write out a true 3d plotfile if you want.

[2022-09-13 14:42] RSuryaNarayan commented on #2331
@WeiqunZhang Thanks. So basically I compile in 3D but using generic, dimension agnostic readers inside the script. Is that correct?

[2022-09-13 14:46] WeiqunZhang commented on #2331
Right.  The reader is dimension agnostic if it's compiled in 3d.  If the reader is compiled in 2d, it won't read 3d data.

[2022-09-13 14:52] RSuryaNarayan commented on #2331
@WeiqunZhang thanks. Could you point me to the exact function that does the readimg?

[2022-09-13 15:15] drummerdoc commented on #2331
PlotFileData::get() in `AMReX_PlotFileUtil.H`

[2022-09-13 16:03] RSuryaNarayan commented on #2331
thanks! @drummerdoc

[2022-09-14 07:00] RSuryaNarayan commented on #2331
Thanks for the inputs @drummerdoc and @WeiqunZhang I finally wrote some code that works. Posting it for the benefit of other users: https://github.com/RSuryaNarayan/AMReX-Pseduo3D which does the job

[2022-09-14 07:00] #2331 closed, assigned to nobody

[2022-09-23 18:30] BenWibking commented on #2311
FYI- the hipcc/amdclang++ issue has been passed along to AMD's ROCm dev team.

[2022-09-29 17:31] BenWibking opened #2967 "enable GPU-aware MPI when performance conditions are met"
GPU-aware MPI significantly improves performance over the default host-pinned buffers in AMReX if two conditions are satisfied:

1. `CUDA_VISIBLE_DEVICES` is _not_ set. (e.g., when using SLURM, `--gpu-bind=none`)
2. Managed memory is _not_ used (setting `amrex.the_arena_is_managed=0`)

If both of these are satisfied, then OpenMPI (at least) uses CUDA IPC (using the UCX `cuda_ipc` transport) to per

[2022-09-29 17:52] WeiqunZhang commented on #2967
Thanks for the information! Nice scaling results.

In AMReX, we know the number of visible GPU devices. (https://github.com/AMReX-Codes/amrex/blob/e55d6b4f5375efb22ebed9b467878e301763073b/Src/Base/AMReX_GpuDevice.cpp#L163).  I think we should be able to change the default at runtime based on that.

I can do a draft PR.  Would you be able to help us to test?  Thank you in advance.

[2022-09-29 17:56] BenWibking commented on #2967
I can definitely help test. Thanks!

[2022-09-29 18:18] maximumcats commented on #2967
This is one where the multi-node behavior may be significantly different than the intra-node behavior. It is also the case that different MPI implementations are different with respect to CUDA-aware MPI and networking hardware varies. So you would want to test this on multiple setups and at multiple scales before changing the default. (There is also the wrinkle that MPI builds may not always have

[2022-09-29 18:56] BenWibking commented on #2967
I've queued 8-node and 64-node runs on NCSA Delta (which has Slingshot, but only 1 NIC per node). Unfortunately, this cluster only has OpenMPI (it's supposed to have the Cray environment, eventually). Other people will have to test other configurations.

Edit: On 8 nodes, CUDA-aware is still a win, but only by 3%. This might be due to the fact that there is only 1 NIC per node, but 4 GPUs per node

[2022-09-29 22:29] WeiqunZhang commented on #2967
I did some tests on perlmutter.  On a single node, the communication was about 10-20% faster with cuda-aware mpi.  But on 8 nodes, it was actually slightly slower.

[2022-09-30 00:45] BenWibking commented on #2967
That's interesting. I assume this was with Cray MPI?

I will be able to test on Infiniband + V100 + OpenMPI tomorrow.

[2022-09-30 15:47] BenWibking commented on #2967
On V100/Infiniband/OpenMPI, GPU-aware on a single node is a significant improvement, and on 8 nodes it is a ~3% improvement. So on all the machines I currently have access to, GPU-aware always wins.

It would be good to know if this is something only seen on OpenMPI, or if there's another explanation. ~~Also unknown whether this applies to AMD devices at all.~~

Edit: On a 8x MI100 node with OpenM

[2022-10-01 01:02] BenWibking commented on #2967
@WeiqunZhang Does lowering the value of `MPICH_GPU_IPC_THRESHOLD` change this result? It looks like the default is 8192: https://www.olcf.ornl.gov/wp-content/uploads/2021/04/HPE-Cray-MPI-Update-nfr-presented.pdf

[2022-10-01 21:56] BenWibking commented on #2967
On 64 nodes on NCSA Delta, I get a 13% performance improvement with CUDA-aware MPI over host pinned buffers on a hydro test problem. This is with OpenMPI+UCX for now. It will be interesting to see whether Cray MPI performance is significantly different.

[2022-10-03 17:57] kngott commented on #2967
Which NCSA Delta partition was this? The 4 GPU A100 nodes, or a different partition?

[2022-10-03 19:17] BenWibking commented on #2967
This was the A100x4 partition.

[2022-10-03 19:24] kngott commented on #2967
👍
Do you also happen to know (or can you find out) how many NICs it has per node and can you confirm that's Slingshot 10?

[2022-10-03 19:29] BenWibking commented on #2967
It has 1 NIC per node. I'll check whether it's Slingshot 10 or SS11, not sure about that offhand.

[2022-10-03 19:46] BenWibking commented on #2967
It's currently Slingshot 10.

[2022-10-03 20:17] kngott commented on #2967
Makes sense, thanks!

So, sounds like the strongest possibilities are either affinity differences, or the OpenMPI+UCX implementation of CUDA-Aware is better. It would be really good to lock down the causes so AMReX can make some informed decisions and we could pass this along to the NERSC and/or Illinois teams to start some adjustments and discussions.

OpenMPI+UCX currently doesn't exist on Perlm